flowexports/housemode.json
[
    {
        "id": "d3a6c9b0.41f988",
        "type": "subflow",
        "name": "Set Comfort Temp",
        "info": "",
        "category": "climate",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "770e72c.29fd18c"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#3FADB5"
    },
    {
        "id": "770e72c.29fd18c",
        "type": "api-current-state",
        "z": "d3a6c9b0.41f988",
        "name": "HVAC Mode",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "climate.hallway_thermostat",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "d3e03953.e8b538"
            ]
        ]
    },
    {
        "id": "d3e03953.e8b538",
        "type": "switch",
        "z": "d3a6c9b0.41f988",
        "name": "heat/cool",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cool",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "auto",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "1b30cfa0.25c66"
            ],
            [
                "bfedd2ee.ba92c"
            ],
            [
                "1b30cfa0.25c66",
                "bfedd2ee.ba92c"
            ]
        ]
    },
    {
        "id": "1b30cfa0.25c66",
        "type": "api-current-state",
        "z": "d3a6c9b0.41f988",
        "name": "Get Heat Comfort Temp",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_number.heat_comfort_temp",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "85c2486.b2473b8"
            ]
        ]
    },
    {
        "id": "bfedd2ee.ba92c",
        "type": "api-current-state",
        "z": "d3a6c9b0.41f988",
        "name": "Get Cool Comfort Temp",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_number.heat_comfort_temp",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "f56c82a3.6e2ea"
            ]
        ]
    },
    {
        "id": "f56c82a3.6e2ea",
        "type": "api-current-state",
        "z": "d3a6c9b0.41f988",
        "name": "Current setpoint > Comfort Temp (Cool)",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "payload",
        "halt_if_type": "msg",
        "halt_if_compare": "gt",
        "override_topic": false,
        "entity_id": "climate.hallway_thermostat",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 900,
        "y": 140,
        "wires": [
            [
                "6c542f23.5d9b"
            ],
            []
        ]
    },
    {
        "id": "85c2486.b2473b8",
        "type": "api-current-state",
        "z": "d3a6c9b0.41f988",
        "name": "Current setpoint < Comfort Temp (Heat)",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "payload",
        "halt_if_type": "msg",
        "halt_if_compare": "lt",
        "override_topic": false,
        "entity_id": "climate.hallway_thermostat",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 900,
        "y": 60,
        "wires": [
            [
                "6c542f23.5d9b"
            ],
            []
        ]
    },
    {
        "id": "6c542f23.5d9b",
        "type": "api-call-service",
        "z": "d3a6c9b0.41f988",
        "name": "Set comfort temp",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "climate",
        "service": "set_temperature",
        "entityId": "",
        "data": "{\"entity_id\":\"climate.hallway_thermostat\",\"temperature\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1210,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3413a3a8.0b47ec",
        "type": "tab",
        "label": "Housemode",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9e17f346.779a8",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Set Day",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.house_mode\",\"option\":\"Day\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 760,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7c6d5534.c7d06c",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Set Afternoon",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.house_mode\",\"option\":\"Afternoon\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 780,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f3232e22.c0cfb",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Set Night",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.house_mode\",\"option\":\"Night\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 760,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ba4f8d45.9eb9b",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Set Evening",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.house_mode\",\"option\":\"Evening\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 770,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "83e8127.79c1df",
        "type": "switch",
        "z": "3413a3a8.0b47ec",
        "name": "Mode switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Morning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Afternoon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Evening",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Night",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sleep",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Vacation",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 950,
        "y": 940,
        "wires": [
            [
                "65878efc.92bb9",
                "7633c5b5.27c6bc",
                "b1aa854f.7d1b78",
                "38f7c403.75174c"
            ],
            [
                "71974d9.df56a34",
                "55bbd4c7.2d2134"
            ],
            [],
            [
                "5e0dc374.3204ec",
                "7f5bebff.d1b8a4",
                "56997a97.223774"
            ],
            [
                "9d60a210.17f4a",
                "3a7996bf.72168a"
            ],
            [
                "71974d9.df56a34",
                "ec49b51.0299448",
                "a93940be.9e74"
            ],
            []
        ]
    },
    {
        "id": "fcfd4e9b.9b8a6",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Turn off Master Bedroom light(s)",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.02240033dc4f227acfe6",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1570,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "56997a97.223774",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Turn on Bedroom lights (eve)",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.02240033dc4f227acfe6",
        "data": "{\"brightness_pct\":25}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1560,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "ebdbea56.dc603",
        "type": "bigtimer",
        "z": "3413a3a8.0b47ec",
        "outtopic": "",
        "outpayload1": "Day",
        "outpayload2": "",
        "name": "Weekday",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "540",
        "endtime": "5002",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "On",
        "outtext2": "Off",
        "timeout": 1440,
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "9e17f346.779a8"
            ],
            [],
            []
        ]
    },
    {
        "id": "868b168.5459e68",
        "type": "bigtimer",
        "z": "3413a3a8.0b47ec",
        "outtopic": "",
        "outpayload1": "Afternoon",
        "outpayload2": "",
        "name": "Afternoon",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "5002",
        "endtime": "5001",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": "-40",
        "startoff2": 0,
        "endoff2": "0",
        "offs": 0,
        "outtext1": "On",
        "outtext2": "Off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "7c6d5534.c7d06c"
            ],
            [],
            []
        ]
    },
    {
        "id": "5042982b.32639",
        "type": "bigtimer",
        "z": "3413a3a8.0b47ec",
        "outtopic": "",
        "outpayload1": "Night",
        "outpayload2": "",
        "name": "Night",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "1200",
        "endtime": "1380",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "On",
        "outtext2": "Off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 510,
        "y": 500,
        "wires": [
            [
                "f3232e22.c0cfb"
            ],
            [],
            []
        ]
    },
    {
        "id": "7222b8f8.bd72c",
        "type": "bigtimer",
        "z": "3413a3a8.0b47ec",
        "outtopic": "",
        "outpayload1": "Evening",
        "outpayload2": "",
        "name": "Evening",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "5001",
        "endtime": "1200",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "-40",
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "On",
        "outtext2": "Off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "ba4f8d45.9eb9b"
            ],
            [],
            []
        ]
    },
    {
        "id": "97665d42.44a92",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Set Morning",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.house_mode\",\"option\":\"Morning\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 770,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "acc69af9.58b8f8",
        "type": "time-range-switch",
        "z": "3413a3a8.0b47ec",
        "name": "Weekday Morning",
        "lat": "42.64036",
        "lon": "-83.13634",
        "startTime": "06:30",
        "endTime": "09:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 510,
        "y": 60,
        "wires": [
            [
                "97665d42.44a92"
            ],
            []
        ]
    },
    {
        "id": "b6e49db9.621c7",
        "type": "link in",
        "z": "3413a3a8.0b47ec",
        "name": "Morning Trigger",
        "links": [
            "36200c38.cae45c",
            "92a1612f.4f697",
            "c2d83bcc.8aa03"
        ],
        "x": 55,
        "y": 80,
        "wires": [
            [
                "3f8b25be.53bd6a"
            ]
        ]
    },
    {
        "id": "3ded9b2b.85355c",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Set Sleep",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.house_mode\",\"option\":\"Sleep\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 760,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d91a5578.416448",
        "type": "time-range-switch",
        "z": "3413a3a8.0b47ec",
        "name": "Sleep",
        "lat": "42.64036",
        "lon": "-83.13634",
        "startTime": "23:00",
        "endTime": "07:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 510,
        "y": 580,
        "wires": [
            [
                "3ded9b2b.85355c"
            ],
            []
        ]
    },
    {
        "id": "71974d9.df56a34",
        "type": "api-current-state",
        "z": "3413a3a8.0b47ec",
        "name": "Bedroom Lights still on?",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "On",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.02240033dc4f227acfe6",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1290,
        "y": 1240,
        "wires": [
            [
                "fcfd4e9b.9b8a6"
            ],
            []
        ]
    },
    {
        "id": "8df4a593.baa94",
        "type": "server-state-changed",
        "z": "3413a3a8.0b47ec",
        "name": "Bedroom lights trigger",
        "server": "543e2171.45071",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.02240033dc4f227acfe6",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 160,
        "y": 1500,
        "wires": [
            [
                "521bdbdf.a6d6ec"
            ]
        ]
    },
    {
        "id": "e307aa5e.9bd7e",
        "type": "link in",
        "z": "3413a3a8.0b47ec",
        "name": "Sleep Trigger",
        "links": [
            "9e7df87a.677938"
        ],
        "x": 395,
        "y": 560,
        "wires": [
            [
                "d91a5578.416448"
            ]
        ]
    },
    {
        "id": "9e7df87a.677938",
        "type": "link out",
        "z": "3413a3a8.0b47ec",
        "name": "Trigger Sleep",
        "links": [
            "e307aa5e.9bd7e"
        ],
        "x": 635,
        "y": 1540,
        "wires": []
    },
    {
        "id": "724d0060.415fe8",
        "type": "comment",
        "z": "3413a3a8.0b47ec",
        "name": "Sleep/Morning triggers",
        "info": "",
        "x": 120,
        "y": 1320,
        "wires": []
    },
    {
        "id": "92a1612f.4f697",
        "type": "link out",
        "z": "3413a3a8.0b47ec",
        "name": "Trigger Morning",
        "links": [
            "b6e49db9.621c7"
        ],
        "x": 635,
        "y": 1400,
        "wires": []
    },
    {
        "id": "65878efc.92bb9",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Start coffee",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.trigger_coffee",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1510,
        "y": 700,
        "wires": [
            [
                "87aeaf3.008645"
            ]
        ]
    },
    {
        "id": "2cb4873b.c7471",
        "type": "server-state-changed",
        "z": "3413a3a8.0b47ec",
        "name": "Kitchen lights turned on",
        "server": "543e2171.45071",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.shelly1_c4fdf1",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 420,
        "y": 1300,
        "wires": [
            [
                "92a1612f.4f697"
            ],
            []
        ]
    },
    {
        "id": "521bdbdf.a6d6ec",
        "type": "switch",
        "z": "3413a3a8.0b47ec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1520,
        "wires": [
            [
                "92a1612f.4f697"
            ],
            [
                "9e7df87a.677938"
            ]
        ]
    },
    {
        "id": "7633c5b5.27c6bc",
        "type": "link out",
        "z": "3413a3a8.0b47ec",
        "name": "Trigger Kitchen light",
        "links": [
            "1faf6782.fc0a58"
        ],
        "x": 1455,
        "y": 600,
        "wires": []
    },
    {
        "id": "5e0dc374.3204ec",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Turn on Kitchen pendants",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.shelly1_c4fdf1",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1550,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "999d999b.e0c8f8",
        "type": "link in",
        "z": "3413a3a8.0b47ec",
        "name": "Morning motion trigger",
        "links": [],
        "x": 235,
        "y": 1560,
        "wires": [
            [
                "521bdbdf.a6d6ec"
            ]
        ]
    },
    {
        "id": "b1aa854f.7d1b78",
        "type": "subflow:d3a6c9b0.41f988",
        "z": "3413a3a8.0b47ec",
        "name": "",
        "x": 1530,
        "y": 640,
        "wires": []
    },
    {
        "id": "55bbd4c7.2d2134",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Turn off Kitchen pendants",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.shelly1_c4fdf1",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1550,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "7d43703b.cac34",
        "type": "inject",
        "z": "3413a3a8.0b47ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Evening",
        "payloadType": "str",
        "x": 380,
        "y": 940,
        "wires": [
            [
                "81f8bd7e.400d2"
            ]
        ]
    },
    {
        "id": "1f2d5d16.02c6e3",
        "type": "inject",
        "z": "3413a3a8.0b47ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Afternoon",
        "payloadType": "str",
        "x": 380,
        "y": 900,
        "wires": [
            [
                "81f8bd7e.400d2"
            ]
        ]
    },
    {
        "id": "7ba06cd1.78afa4",
        "type": "inject",
        "z": "3413a3a8.0b47ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Day",
        "payloadType": "str",
        "x": 390,
        "y": 860,
        "wires": [
            [
                "81f8bd7e.400d2"
            ]
        ]
    },
    {
        "id": "c5e77591.dfff8",
        "type": "inject",
        "z": "3413a3a8.0b47ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Morning",
        "payloadType": "str",
        "x": 380,
        "y": 820,
        "wires": [
            [
                "81f8bd7e.400d2"
            ]
        ]
    },
    {
        "id": "643fefa4.0bf0d8",
        "type": "inject",
        "z": "3413a3a8.0b47ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Night",
        "payloadType": "str",
        "x": 390,
        "y": 980,
        "wires": [
            [
                "81f8bd7e.400d2"
            ]
        ]
    },
    {
        "id": "a82eebc3.42341",
        "type": "inject",
        "z": "3413a3a8.0b47ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Sleep",
        "payloadType": "str",
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "81f8bd7e.400d2"
            ]
        ]
    },
    {
        "id": "87aeaf3.008645",
        "type": "delay",
        "z": "3413a3a8.0b47ec",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1700,
        "y": 700,
        "wires": [
            [
                "bf222b11.448108"
            ]
        ]
    },
    {
        "id": "bf222b11.448108",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Start coffee",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.trigger_coffee",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1890,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "f5650c1b.043d9",
        "type": "inject",
        "z": "3413a3a8.0b47ec",
        "name": "Lights already on test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "35 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1400,
        "wires": [
            [
                "94fbdd64.6759e8",
                "2406827.1ecb07e"
            ]
        ]
    },
    {
        "id": "94fbdd64.6759e8",
        "type": "api-current-state",
        "z": "3413a3a8.0b47ec",
        "name": "Kitchen Lights On!",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "switch.shelly1_c4fdf1",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 430,
        "y": 1360,
        "wires": [
            [
                "92a1612f.4f697"
            ],
            []
        ]
    },
    {
        "id": "2406827.1ecb07e",
        "type": "api-current-state",
        "z": "3413a3a8.0b47ec",
        "name": "Bedroom Lights On!",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.02240033dc4f227acfe6",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "92a1612f.4f697"
            ],
            []
        ]
    },
    {
        "id": "38f7c403.75174c",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Turn on Kitchen pendants",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.shelly1_c4fdf1",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1550,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e6e970c4.fa9f",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Set Vacation",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.house_mode\",\"option\":\"Sleep\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 770,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "5fab582a.354e78",
        "type": "server-state-changed",
        "z": "3413a3a8.0b47ec",
        "name": "Gone fishing",
        "server": "543e2171.45071",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.vacation",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 270,
        "y": 620,
        "wires": [
            [
                "85347492.8dcf08"
            ]
        ]
    },
    {
        "id": "85347492.8dcf08",
        "type": "switch",
        "z": "3413a3a8.0b47ec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 640,
        "wires": [
            [],
            [
                "e6e970c4.fa9f"
            ]
        ]
    },
    {
        "id": "62615dd4.b87694",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Office - Set Volume",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "volume_set",
        "entityId": "",
        "data": "{\"entity_id\":\"media_player.office\",\"volume_level\":0.5}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1530,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "dd7de26b.3266f",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Media Room - Set Volume",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "volume_set",
        "entityId": "",
        "data": "{\"entity_id\":\"media_player.media_room\",\"volume_level\":0.5}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1550,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f4f8e701.3ca698",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Master Bedroom - Set Volume",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "volume_set",
        "entityId": "",
        "data": "{\"entity_id\":\"media_player.master_bedroom\",\"volume_level\":0.5}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1570,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3d4443fb.f98b74",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Kitchen - Set Volume",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "volume_set",
        "entityId": "",
        "data": "{\"entity_id\":\"media_player.kitchen\",\"volume_level\":0.5}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1540,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ec49b51.0299448",
        "type": "api-current-state",
        "z": "3413a3a8.0b47ec",
        "name": "Cave Main still on?",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "On",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.cave_main",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1310,
        "y": 1120,
        "wires": [
            [
                "223b46be.6f4f6a"
            ],
            []
        ]
    },
    {
        "id": "a93940be.9e74",
        "type": "api-current-state",
        "z": "3413a3a8.0b47ec",
        "name": "Cave Aux still on?",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "On",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.cave_aux",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1310,
        "y": 1180,
        "wires": [
            [
                "b3b13f72.3bbf8"
            ],
            []
        ]
    },
    {
        "id": "223b46be.6f4f6a",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Turn off Cave Main",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.cave_main",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1530,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "b3b13f72.3bbf8",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Turn off Cave Aux",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.cave_aux",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1530,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "9d60a210.17f4a",
        "type": "api-current-state",
        "z": "3413a3a8.0b47ec",
        "name": "Cave Lamp still on?",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "On",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.shellybulb_bc8574",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1310,
        "y": 1060,
        "wires": [
            [
                "2dc7114c.b4992e"
            ],
            []
        ]
    },
    {
        "id": "2dc7114c.b4992e",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Turn off Cave Aux",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.shellybulb_bc8574",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1530,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "79895c56.e57354",
        "type": "poll-state",
        "z": "3413a3a8.0b47ec",
        "name": "Check house mode state",
        "server": "543e2171.45071",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "300",
        "updateIntervalUnits": "seconds",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "input_select.house_mode",
        "state_type": "str",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "81f8bd7e.400d2"
            ]
        ]
    },
    {
        "id": "92f330af.72adf",
        "type": "inject",
        "z": "3413a3a8.0b47ec",
        "name": "Go to sleep?",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 01 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Sleep",
        "payloadType": "str",
        "x": 180,
        "y": 1640,
        "wires": [
            [
                "46dc61e.5b9e6a"
            ]
        ]
    },
    {
        "id": "46dc61e.5b9e6a",
        "type": "api-current-state",
        "z": "3413a3a8.0b47ec",
        "name": "Kitchen Lights Off",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "switch.shelly1_c4fdf1",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 410,
        "y": 1640,
        "wires": [
            [
                "9e7df87a.677938"
            ],
            []
        ]
    },
    {
        "id": "81f8bd7e.400d2",
        "type": "api-current-state",
        "z": "3413a3a8.0b47ec",
        "name": "House Occupied",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.occupied",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 710,
        "y": 940,
        "wires": [
            [
                "83e8127.79c1df"
            ],
            []
        ]
    },
    {
        "id": "6a1b2b38.c14444",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Turn on Lving room lamp",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.shelly1_c4eb2d",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1850,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "a50bb61c.41d3f8",
        "type": "api-current-state",
        "z": "3413a3a8.0b47ec",
        "name": "Exterior Display Is General",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "General",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_select.exterior_lights_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1560,
        "y": 1000,
        "wires": [
            [
                "6a1b2b38.c14444"
            ],
            []
        ]
    },
    {
        "id": "7f5bebff.d1b8a4",
        "type": "time-range-switch",
        "z": "3413a3a8.0b47ec",
        "name": "Dark Hours?",
        "lat": "42.64036",
        "lon": "-83.13634",
        "startTime": "sunset",
        "endTime": "21:00",
        "startOffset": "-10",
        "endOffset": 0,
        "x": 1290,
        "y": 1000,
        "wires": [
            [
                "a50bb61c.41d3f8"
            ],
            []
        ]
    },
    {
        "id": "3a7996bf.72168a",
        "type": "api-current-state",
        "z": "3413a3a8.0b47ec",
        "name": "Exterior Display Is General",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "General",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_select.exterior_lights_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1300,
        "y": 1300,
        "wires": [
            [
                "60bca3a8.8a545c"
            ],
            []
        ]
    },
    {
        "id": "60bca3a8.8a545c",
        "type": "api-call-service",
        "z": "3413a3a8.0b47ec",
        "name": "Turn off Lving room lamp",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.shelly1_c4eb2d",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1850,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "3f8b25be.53bd6a",
        "type": "weekday",
        "z": "3413a3a8.0b47ec",
        "name": "Weekday/weekend",
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "acc69af9.58b8f8"
            ],
            [
                "ed20ecb8.966a"
            ]
        ]
    },
    {
        "id": "ed20ecb8.966a",
        "type": "time-range-switch",
        "z": "3413a3a8.0b47ec",
        "name": "Weekend Morning",
        "lat": "42.64036",
        "lon": "-83.13634",
        "startTime": "08:00",
        "endTime": "10:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "97665d42.44a92"
            ],
            []
        ]
    },
    {
        "id": "4cac1e73.13736",
        "type": "bigtimer",
        "z": "3413a3a8.0b47ec",
        "outtopic": "",
        "outpayload1": "Day",
        "outpayload2": "",
        "name": "Weekend Day",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "600",
        "endtime": "5002",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "On",
        "outtext2": "Off",
        "timeout": 1440,
        "sun": true,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "9e17f346.779a8"
            ],
            [],
            []
        ]
    },
    {
        "id": "543e2171.45071",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]