flowexports/lightingdisplays.json
[
    {
        "id": "9eeb0d55.a72a4",
        "type": "tab",
        "label": "Lighting displays",
        "disabled": false,
        "info": ""
    },
    {
        "id": "773fee9e.67818",
        "type": "bigtimer",
        "z": "9eeb0d55.a72a4",
        "outtopic": "",
        "outpayload1": "Christmas",
        "outpayload2": "",
        "name": "Xmas",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "15",
        "endtime": "1425",
        "starttime2": "1425",
        "endtime2": "15",
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "Christmas",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": true,
        "day1": "20",
        "month1": "11",
        "day2": "21",
        "month2": "11",
        "day3": "22",
        "month3": "11",
        "day4": "23",
        "month4": "11",
        "day5": "24",
        "month5": "11",
        "day6": "25",
        "month6": "11",
        "day7": "26",
        "month7": "11",
        "day8": "27",
        "month8": "11",
        "day9": "28",
        "month9": "11",
        "day10": "29",
        "month10": "11",
        "day11": "30",
        "month11": "11",
        "day12": "1",
        "month12": "1",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 170,
        "y": 740,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "76918f3f.139e7",
        "type": "bigtimer",
        "z": "9eeb0d55.a72a4",
        "outtopic": "",
        "outpayload1": "Halloween",
        "outpayload2": "",
        "name": "Halloween",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "15",
        "endtime": 1425,
        "starttime2": "1425",
        "endtime2": "15",
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "Halloween",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "26",
        "month1": "10",
        "day2": "27",
        "month2": "10",
        "day3": "28",
        "month3": "10",
        "day4": "29",
        "month4": "10",
        "day5": "30",
        "month5": "10",
        "day6": "31",
        "month6": "10",
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": 0,
        "day9": "",
        "month9": 0,
        "day10": "",
        "month10": 0,
        "day11": "",
        "month11": 0,
        "day12": "",
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 150,
        "y": 660,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "2168b242.6c3d9e",
        "type": "bigtimer",
        "z": "9eeb0d55.a72a4",
        "outtopic": "",
        "outpayload1": "General",
        "outpayload2": "",
        "name": "General time",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "15",
        "endtime": 1425,
        "starttime2": "1425",
        "endtime2": "15",
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "General",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": false,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": false,
        "dec": false,
        "day1": "",
        "month1": 0,
        "day2": "",
        "month2": 0,
        "day3": "",
        "month3": 0,
        "day4": "",
        "month4": 0,
        "day5": "",
        "month5": 0,
        "day6": "",
        "month6": 0,
        "day7": "",
        "month7": 0,
        "day8": "",
        "month8": 0,
        "day9": "",
        "month9": 0,
        "day10": "",
        "month10": 0,
        "day11": "",
        "month11": 0,
        "day12": "",
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": "4",
        "xmonth1": "7",
        "xday2": "0",
        "xmonth2": "0",
        "xday3": "0",
        "xmonth3": "0",
        "xday4": "0",
        "xmonth4": "0",
        "xday5": "0",
        "xmonth5": "0",
        "xday6": "0",
        "xmonth6": "0",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "7eb1d91d.a216c8",
        "type": "switch",
        "z": "9eeb0d55.a72a4",
        "name": "Ext. Light mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "General",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Memorial Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "July4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Labor Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Halloween",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Christmas",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "d5da00a3.38b8"
            ],
            [
                "7b53a94f.e5eea"
            ],
            [
                "f75470d3.7db848"
            ],
            [],
            [
                "71db98b7.0073b8"
            ],
            [
                "f5869325.cd653"
            ]
        ]
    },
    {
        "id": "df822088.59d4e",
        "type": "inject",
        "z": "9eeb0d55.a72a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Christmas",
        "payloadType": "str",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ]
        ]
    },
    {
        "id": "b803ec32.a8862",
        "type": "inject",
        "z": "9eeb0d55.a72a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Halloween",
        "payloadType": "str",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ]
        ]
    },
    {
        "id": "df643971.ec2808",
        "type": "inject",
        "z": "9eeb0d55.a72a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "General",
        "payloadType": "str",
        "x": 170,
        "y": 20,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ]
        ]
    },
    {
        "id": "f5869325.cd653",
        "type": "api-current-state",
        "z": "9eeb0d55.a72a4",
        "name": "Exterior Display Is it NOT Xmas",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "Christmas",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.exterior_lights_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 790,
        "y": 340,
        "wires": [
            [
                "f5bbaca3.7f115"
            ],
            []
        ]
    },
    {
        "id": "71db98b7.0073b8",
        "type": "api-current-state",
        "z": "9eeb0d55.a72a4",
        "name": "Exterior Display Is it NOT Halloween",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "Halloween",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.exterior_lights_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "951e256b.6a1498"
            ],
            []
        ]
    },
    {
        "id": "d5da00a3.38b8",
        "type": "api-current-state",
        "z": "9eeb0d55.a72a4",
        "name": "Exterior Display Is it NOT General",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "General",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.exterior_lights_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 800,
        "y": 40,
        "wires": [
            [
                "d9402d73.f1e96"
            ],
            []
        ]
    },
    {
        "id": "f5bbaca3.7f115",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Set for Xmas",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.exterior_lights_mode\",\"option\":\"Christmas\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1070,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "951e256b.6a1498",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Set for Halloween",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.exterior_lights_mode\",\"option\":\"Halloween\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1090,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d9402d73.f1e96",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Set for General",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.exterior_lights_mode\",\"option\":\"General\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1080,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4526ff25.55d2",
        "type": "bigtimer",
        "z": "9eeb0d55.a72a4",
        "outtopic": "",
        "outpayload1": "General",
        "outpayload2": "",
        "name": "General time (Jan)",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "15",
        "endtime": 1425,
        "starttime2": "1425",
        "endtime2": "15",
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "General",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "11",
        "month1": "11",
        "day2": "12",
        "month2": "11",
        "day3": "13",
        "month3": "11",
        "day4": "14",
        "month4": "11",
        "day5": "15",
        "month5": "11",
        "day6": "16",
        "month6": "11",
        "day7": "17",
        "month7": "11",
        "day8": "18",
        "month8": "11",
        "day9": "19",
        "month9": "11",
        "day10": "",
        "month10": 0,
        "day11": "",
        "month11": 0,
        "day12": "",
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": "1",
        "xmonth1": "1",
        "xday2": "2",
        "xmonth2": "1",
        "xday3": "3",
        "xmonth3": "1",
        "xday4": "4",
        "xmonth4": "1",
        "xday5": "5",
        "xmonth5": "1",
        "xday6": "6",
        "xmonth6": "1",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "2bc52da6.dc1162",
        "type": "bigtimer",
        "z": "9eeb0d55.a72a4",
        "outtopic": "",
        "outpayload1": "General",
        "outpayload2": "",
        "name": "General time (Oct)",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "15",
        "endtime": 1425,
        "starttime2": "1425",
        "endtime2": "15",
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "General",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": true,
        "nov": false,
        "dec": false,
        "day1": "1",
        "month1": "11",
        "day2": "2",
        "month2": "11",
        "day3": "3",
        "month3": "11",
        "day4": "4",
        "month4": "11",
        "day5": "5",
        "month5": "11",
        "day6": "6",
        "month6": "11",
        "day7": "7",
        "month7": "11",
        "day8": "8",
        "month8": "11",
        "day9": "9",
        "month9": "11",
        "day10": "10",
        "month10": "11",
        "day11": "",
        "month11": 0,
        "day12": "",
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": "0",
        "xmonth1": "0",
        "xday2": "0",
        "xmonth2": "0",
        "xday3": "0",
        "xmonth3": "0",
        "xday4": "0",
        "xmonth4": "0",
        "xday5": "0",
        "xmonth5": "0",
        "xday6": "0",
        "xmonth6": "0",
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "dce1b28c.a8504",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Set Exterior lights to manual",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.exterior_light_schedule\",\"option\":\"Manual\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1380,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "213585d4.e810ea",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Turn on Exterior light display",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.exterior_light_display",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1380,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bab5edf8.cbeea",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Turn off Exterior light display",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.exterior_light_display",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1380,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2ff92ead.facab2",
        "type": "bigtimer",
        "z": "9eeb0d55.a72a4",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "Lighting display timer",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "5004",
        "endtime": "60",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 700,
        "y": 440,
        "wires": [
            [
                "712d4db3.994184"
            ],
            [],
            []
        ]
    },
    {
        "id": "546dc2fe.53a6ac",
        "type": "api-current-state",
        "z": "9eeb0d55.a72a4",
        "name": "Ext light display mode",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "General",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.exterior_lights_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1120,
        "y": 420,
        "wires": [
            [
                "213585d4.e810ea"
            ],
            []
        ]
    },
    {
        "id": "1d7e3e92.55d1c1",
        "type": "server-state-changed",
        "z": "9eeb0d55.a72a4",
        "name": "Enable lighting display",
        "server": "543e2171.45071",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.exterior_light_display",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "4f3a806f.80b63"
            ]
        ]
    },
    {
        "id": "577fb5b.fe84e4c",
        "type": "inject",
        "z": "9eeb0d55.a72a4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "2ff92ead.facab2"
            ]
        ]
    },
    {
        "id": "2e47b9f3.736da6",
        "type": "inject",
        "z": "9eeb0d55.a72a4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "2ff92ead.facab2"
            ]
        ]
    },
    {
        "id": "bd3ca42.bb67258",
        "type": "inject",
        "z": "9eeb0d55.a72a4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "2ff92ead.facab2"
            ]
        ]
    },
    {
        "id": "ac338113.a38d5",
        "type": "inject",
        "z": "9eeb0d55.a72a4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "2ff92ead.facab2"
            ]
        ]
    },
    {
        "id": "712d4db3.994184",
        "type": "switch",
        "z": "9eeb0d55.a72a4",
        "name": "traffic",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 460,
        "wires": [
            [
                "546dc2fe.53a6ac"
            ],
            [
                "bab5edf8.cbeea"
            ]
        ]
    },
    {
        "id": "e30c4183.d845e",
        "type": "server-state-changed",
        "z": "9eeb0d55.a72a4",
        "name": "Switched to manual",
        "server": "543e2171.45071",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_select.exterior_light_schedule",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "Manual",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "86b7786b.524978"
            ],
            []
        ]
    },
    {
        "id": "86b7786b.524978",
        "type": "api-current-state",
        "z": "9eeb0d55.a72a4",
        "name": "Ext light display mode",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "General",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": true,
        "entity_id": "input_select.exterior_lights_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 700,
        "y": 620,
        "wires": [
            [
                "c452d57f.30dbd8"
            ],
            []
        ]
    },
    {
        "id": "c452d57f.30dbd8",
        "type": "switch",
        "z": "9eeb0d55.a72a4",
        "name": "traffic",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Christmas",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Halloween",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "July4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Memorial Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Labor Day",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 890,
        "y": 620,
        "wires": [
            [
                "8f2bbcae.d706d"
            ],
            [],
            [
                "8f2bbcae.d706d"
            ],
            [],
            []
        ]
    },
    {
        "id": "76b5a076.fd952",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Turn on Light display",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.shelly1_c42687",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 620,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "3d70a25f.90e60e",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Turn off Light display",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.shelly1_c42687",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 620,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "4f3a806f.80b63",
        "type": "switch",
        "z": "9eeb0d55.a72a4",
        "name": "traffic",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "76b5a076.fd952",
                "bdc3092e.01a8e"
            ],
            [
                "3d70a25f.90e60e",
                "630d66bc.7a1148"
            ]
        ]
    },
    {
        "id": "bdc3092e.01a8e",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Turn on Bay Outlet",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.shelly1_c4eb2d",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 610,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "630d66bc.7a1148",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Turn off Bay Outlet",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.shelly1_c4eb2d",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 610,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "6979962b.ad8658",
        "type": "bigtimer",
        "z": "9eeb0d55.a72a4",
        "outtopic": "",
        "outpayload1": "Christmas",
        "outpayload2": "",
        "name": "Xmas (ext.)",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "15",
        "endtime": "1425",
        "starttime2": "1425",
        "endtime2": "15",
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "Christmas",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "2",
        "month1": "1",
        "day2": "3",
        "month2": "1",
        "day3": "4",
        "month3": "1",
        "day4": "5",
        "month4": "1",
        "day5": "6",
        "month5": "1",
        "day6": "",
        "month6": "",
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 150,
        "y": 820,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "4b2ec6e4.45cc7",
        "type": "bigtimer",
        "z": "9eeb0d55.a72a4",
        "outtopic": "",
        "outpayload1": "July4",
        "outpayload2": "",
        "name": "Independence Day",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "15",
        "endtime": 1425,
        "starttime2": "1425",
        "endtime2": "15",
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "July4",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "3",
        "month1": "7",
        "day2": "4",
        "month2": "7",
        "day3": "5",
        "month3": "7",
        "day4": "",
        "month4": "",
        "day5": "",
        "month5": "",
        "day6": "",
        "month6": "",
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": 0,
        "day9": "",
        "month9": 0,
        "day10": "",
        "month10": 0,
        "day11": "",
        "month11": 0,
        "day12": "",
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "f75470d3.7db848",
        "type": "api-current-state",
        "z": "9eeb0d55.a72a4",
        "name": "Exterior Display Is it NOT July4",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "July4",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.exterior_lights_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "55eef18.b94639"
            ],
            []
        ]
    },
    {
        "id": "55eef18.b94639",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Set for July4",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.exterior_lights_mode\",\"option\":\"July4\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1070,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "857d7582.346308",
        "type": "inject",
        "z": "9eeb0d55.a72a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "July4",
        "payloadType": "str",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ]
        ]
    },
    {
        "id": "7b53a94f.e5eea",
        "type": "api-current-state",
        "z": "9eeb0d55.a72a4",
        "name": "Exterior Display Is it NOT Memorial Day",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "Memorial Day",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.exterior_lights_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 820,
        "y": 100,
        "wires": [
            [
                "79cd9918.9d443"
            ],
            []
        ]
    },
    {
        "id": "79cd9918.9d443",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Set for Memorial Day",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.exterior_lights_mode\",\"option\":\"Memorial Day\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1100,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2980b500.92a5f4",
        "type": "api-current-state",
        "z": "9eeb0d55.a72a4",
        "name": "Exterior Display Is it NOT Labor Day",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "Labor Day",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.exterior_lights_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "f30b5ca2.bc2bd"
            ],
            []
        ]
    },
    {
        "id": "f30b5ca2.bc2bd",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Set for Labor Day",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.exterior_lights_mode\",\"option\":\"Labor Day\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1090,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "34e05825.a17e2",
        "type": "bigtimer",
        "z": "9eeb0d55.a72a4",
        "outtopic": "",
        "outpayload1": "Memorial Day",
        "outpayload2": "",
        "name": "Memorial Day",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "15",
        "endtime": 1425,
        "starttime2": "1425",
        "endtime2": "15",
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "Memorial Day",
        "outtext2": "",
        "timeout": 1440,
        "sun": false,
        "mon": true,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": true,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "",
        "month1": "",
        "day2": "",
        "month2": "",
        "day3": "",
        "month3": "",
        "day4": "",
        "month4": "",
        "day5": "",
        "month5": "",
        "day6": "",
        "month6": "",
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": 0,
        "day9": "",
        "month9": 0,
        "day10": "",
        "month10": 0,
        "day11": "",
        "month11": 0,
        "day12": "",
        "month12": 0,
        "d1": "2",
        "w1": "0",
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": "2",
        "xw1": "1",
        "xd2": "2",
        "xw2": "2",
        "xd3": "2",
        "xw3": "3",
        "xd4": "2",
        "xw4": "4",
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "8f2bbcae.d706d",
        "type": "api-call-service",
        "z": "9eeb0d55.a72a4",
        "name": "Turn On - Exterior Lights",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.exteriorlightsswitch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1130,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1aa21d03.0fce83",
        "type": "bigtimer",
        "z": "9eeb0d55.a72a4",
        "outtopic": "",
        "outpayload1": "Labor Day",
        "outpayload2": "",
        "name": "Labor Day",
        "comment": "",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "15",
        "endtime": 1425,
        "starttime2": "1425",
        "endtime2": "15",
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "Labor Day",
        "outtext2": "",
        "timeout": 1440,
        "sun": false,
        "mon": true,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": true,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "",
        "month1": "",
        "day2": "",
        "month2": "",
        "day3": "",
        "month3": "",
        "day4": "",
        "month4": "",
        "day5": "",
        "month5": "",
        "day6": "",
        "month6": "",
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": 0,
        "day9": "",
        "month9": 0,
        "day10": "",
        "month10": 0,
        "day11": "",
        "month11": 0,
        "day12": "",
        "month12": 0,
        "d1": "2",
        "w1": "0",
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": "",
        "xmonth7": "",
        "xday8": "",
        "xmonth8": "",
        "xday9": "",
        "xmonth9": "",
        "xday10": "",
        "xmonth10": "",
        "xday11": "",
        "xmonth11": "",
        "xday12": "",
        "xmonth12": "",
        "xd1": "2",
        "xw1": "2",
        "xd2": "2",
        "xw2": "3",
        "xd3": "2",
        "xw3": "4",
        "xd4": "2",
        "xw4": "5",
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 150,
        "y": 580,
        "wires": [
            [
                "7eb1d91d.a216c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "543e2171.45071",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]