flowexports/scheduledlighting.json
[
    {
        "id": "9ab9f198.285b1",
        "type": "tab",
        "label": "Scheduled lighting",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6a3e59c.298908",
        "type": "bigtimer",
        "z": "9ab9f198.285b1",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "Exterior Light Timer",
        "comment": "Dusk to Dawn timer",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "5004",
        "endtime": "5003",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "-5",
        "endoff": "-5",
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "a54b5a39.60b848"
            ],
            [],
            []
        ]
    },
    {
        "id": "a346cc18.22b1b8",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "f6a3e59c.298908"
            ]
        ]
    },
    {
        "id": "7c09733f.a18cbc",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "f6a3e59c.298908"
            ]
        ]
    },
    {
        "id": "c264ad41.ac7d",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "f6a3e59c.298908",
                "c90a3369.ce513"
            ]
        ]
    },
    {
        "id": "a54b5a39.60b848",
        "type": "switch",
        "z": "9ab9f198.285b1",
        "name": "Gen. Ext. Lights switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 920,
        "y": 140,
        "wires": [
            [
                "2cddc907.f64816"
            ],
            [
                "73acfd92.c0f624"
            ]
        ]
    },
    {
        "id": "44fa7ef7.f4738",
        "type": "switch",
        "z": "9ab9f198.285b1",
        "name": "Mode switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Auto",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Manual",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Disabled",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "f6a3e59c.298908",
                "c90a3369.ce513"
            ],
            [
                "f6a3e59c.298908"
            ],
            [
                "f6a3e59c.298908"
            ],
            [
                "d4fb94dc.f84d88"
            ],
            [
                "798835bb.cf0cc4"
            ]
        ]
    },
    {
        "id": "22d0b48e.bedf14",
        "type": "server-state-changed",
        "z": "9ab9f198.285b1",
        "name": "Ext light override",
        "server": "543e2171.45071",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_select.exterior_light_schedule",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "44fa7ef7.f4738"
            ]
        ]
    },
    {
        "id": "ef20424e.51ab",
        "type": "api-call-service",
        "z": "9ab9f198.285b1",
        "name": "Return to Auto",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.exterior_light_schedule\",\"option\":\"Auto\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 700,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "5345270c.208c",
        "type": "api-current-state",
        "z": "9ab9f198.285b1",
        "name": "Exterior Is it NOT Auto",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "Auto",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.exterior_light_schedule",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 480,
        "y": 1340,
        "wires": [
            [
                "ef20424e.51ab"
            ],
            []
        ]
    },
    {
        "id": "8ca1f8e7.aa5298",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "f6a3e59c.298908"
            ]
        ]
    },
    {
        "id": "d4fb94dc.f84d88",
        "type": "function",
        "z": "9ab9f198.285b1",
        "name": "Manual (stop)",
        "func": "switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "f6a3e59c.298908"
            ]
        ]
    },
    {
        "id": "798835bb.cf0cc4",
        "type": "function",
        "z": "9ab9f198.285b1",
        "name": "Disabled (stop)",
        "func": "switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 340,
        "wires": [
            [
                "f6a3e59c.298908",
                "c90a3369.ce513"
            ]
        ]
    },
    {
        "id": "408420ac.8200a",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Disabled",
        "payloadType": "str",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "798835bb.cf0cc4"
            ]
        ]
    },
    {
        "id": "b2c44acc.9556b8",
        "type": "bigtimer",
        "z": "9ab9f198.285b1",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "Room NightLight Timer",
        "comment": "Sleep time",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "1290",
        "endtime": "5003",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "-5",
        "endoff": "-5",
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 700,
        "y": 580,
        "wires": [
            [
                "adf7012f.eae3f"
            ],
            [],
            []
        ]
    },
    {
        "id": "adf7012f.eae3f",
        "type": "switch",
        "z": "9ab9f198.285b1",
        "name": "Lights switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 560,
        "wires": [
            [
                "f82e3463.723ec8"
            ],
            [
                "61886145.b2632"
            ]
        ]
    },
    {
        "id": "797290cd.0a36a",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "b2c44acc.9556b8"
            ]
        ]
    },
    {
        "id": "f1ffa9.e7162058",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 189.5,
        "y": 554,
        "wires": [
            [
                "b2c44acc.9556b8"
            ]
        ]
    },
    {
        "id": "771c6893.f3e378",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 189.5,
        "y": 588,
        "wires": [
            [
                "b2c44acc.9556b8",
                "42eeee1e.f30bf"
            ]
        ]
    },
    {
        "id": "f82e3463.723ec8",
        "type": "api-current-state",
        "z": "9ab9f198.285b1",
        "name": "Tori home?",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.torihome",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1090,
        "y": 540,
        "wires": [
            [
                "3b2fc169.0084ae"
            ],
            [
                "61886145.b2632"
            ]
        ]
    },
    {
        "id": "d3913712.99e3a8",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "b2c44acc.9556b8"
            ]
        ]
    },
    {
        "id": "4d4cfdff.5e9824",
        "type": "bigtimer",
        "z": "9ab9f198.285b1",
        "outtopic": "",
        "outpayload1": "Auto",
        "outpayload2": "Auto",
        "name": "Reset to Auto Timer",
        "comment": "Dusk to Dawn timer",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "5004",
        "endtime": "5003",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "-5",
        "endoff": "-5",
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "Auto",
        "outtext2": "Auto",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 230,
        "y": 1400,
        "wires": [
            [
                "d1dbf69e.3b0a18",
                "5345270c.208c",
                "6e83395d.ae3bf8"
            ],
            [],
            []
        ]
    },
    {
        "id": "d1dbf69e.3b0a18",
        "type": "api-current-state",
        "z": "9ab9f198.285b1",
        "name": "General Is it NOT Auto",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "Auto",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.nightlite_override",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 480,
        "y": 1400,
        "wires": [
            [
                "84b8f059.b60a7"
            ],
            []
        ]
    },
    {
        "id": "5bd6bd8f.281a64",
        "type": "switch",
        "z": "9ab9f198.285b1",
        "name": "Mode switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Auto",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Manual",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Disabled",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "b2c44acc.9556b8",
                "42eeee1e.f30bf"
            ],
            [
                "b2c44acc.9556b8"
            ],
            [
                "b2c44acc.9556b8"
            ],
            [
                "82795211.663ed"
            ],
            [
                "fc8a60a4.e0163"
            ]
        ]
    },
    {
        "id": "82795211.663ed",
        "type": "function",
        "z": "9ab9f198.285b1",
        "name": "Manual (stop)",
        "func": "switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 700,
        "wires": [
            [
                "b2c44acc.9556b8"
            ]
        ]
    },
    {
        "id": "84b8f059.b60a7",
        "type": "api-call-service",
        "z": "9ab9f198.285b1",
        "name": "Return to Auto",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.nightlite_override\",\"option\":\"Auto\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 700,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "fc8a60a4.e0163",
        "type": "function",
        "z": "9ab9f198.285b1",
        "name": "Disabled (stop)",
        "func": "switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 740,
        "wires": [
            [
                "b2c44acc.9556b8",
                "42eeee1e.f30bf"
            ]
        ]
    },
    {
        "id": "924a27d5.5ecbe8",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Disabled",
        "payloadType": "str",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "fc8a60a4.e0163"
            ]
        ]
    },
    {
        "id": "222f0138.61e71e",
        "type": "link in",
        "z": "9ab9f198.285b1",
        "name": "Receive Return to Auto",
        "links": [
            "42eeee1e.f30bf",
            "f29a32ed.ee9cc",
            "c90a3369.ce513",
            "3f06f6cd.a8a89a",
            "68d4d7d5.bbaad8",
            "e15efb0e.fcfce8",
            "d6146424.4a65e8",
            "82e81d0d.f82c"
        ],
        "x": 95,
        "y": 1400,
        "wires": [
            [
                "4d4cfdff.5e9824"
            ]
        ]
    },
    {
        "id": "42eeee1e.f30bf",
        "type": "link out",
        "z": "9ab9f198.285b1",
        "name": "Send to Return to Auto",
        "links": [
            "222f0138.61e71e",
            "8d43aac2.e75b18"
        ],
        "x": 595,
        "y": 660,
        "wires": []
    },
    {
        "id": "c90a3369.ce513",
        "type": "link out",
        "z": "9ab9f198.285b1",
        "name": "Send to Return to Auto",
        "links": [
            "222f0138.61e71e",
            "8d43aac2.e75b18"
        ],
        "x": 595,
        "y": 260,
        "wires": []
    },
    {
        "id": "6e83395d.ae3bf8",
        "type": "api-current-state",
        "z": "9ab9f198.285b1",
        "name": "Room Is it NOT Auto",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "Auto",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.room_nightlite_override",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 480,
        "y": 1460,
        "wires": [
            [
                "82924ddf.e11a8"
            ],
            []
        ]
    },
    {
        "id": "82924ddf.e11a8",
        "type": "api-call-service",
        "z": "9ab9f198.285b1",
        "name": "Return to Auto",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "",
        "data": "{\"entity_id\":\"input_select.room_nightlite_override\",\"option\":\"Auto\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 700,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "dd68f2e2.4db45",
        "type": "server-state-changed",
        "z": "9ab9f198.285b1",
        "name": "Room nightlight override",
        "server": "543e2171.45071",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_select.room_nightlite_override",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "5bd6bd8f.281a64"
            ]
        ]
    },
    {
        "id": "47715d84.954074",
        "type": "server-state-changed",
        "z": "9ab9f198.285b1",
        "name": "Nightlight override",
        "server": "543e2171.45071",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_select.nightlite_override",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "62898308.a501fc"
            ]
        ]
    },
    {
        "id": "8276c494.248f38",
        "type": "bigtimer",
        "z": "9ab9f198.285b1",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "General Nightlight timer",
        "comment": "Sleep time",
        "lat": "42.64036",
        "lon": "-83.13634",
        "starttime": "1320",
        "endtime": "5003",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "-5",
        "endoff": "-5",
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": "",
        "month7": "",
        "day8": "",
        "month8": "",
        "day9": "",
        "month9": "",
        "day10": "",
        "month10": "",
        "day11": "",
        "month11": "",
        "day12": "",
        "month12": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 710,
        "y": 980,
        "wires": [
            [
                "c2f0d410.2b6e98"
            ],
            [],
            []
        ]
    },
    {
        "id": "c2f0d410.2b6e98",
        "type": "switch",
        "z": "9ab9f198.285b1",
        "name": "Lights switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 1040,
        "wires": [
            [
                "d4f57d29.11a6"
            ],
            [
                "5904e3c7.2de50c"
            ]
        ]
    },
    {
        "id": "d4f57d29.11a6",
        "type": "api-current-state",
        "z": "9ab9f198.285b1",
        "name": "Anyone home?",
        "server": "543e2171.45071",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.occupied",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1240,
        "y": 1000,
        "wires": [
            [
                "36894402.a5bf3c"
            ],
            [
                "5904e3c7.2de50c",
                "15fecdb8.a7fa12"
            ]
        ]
    },
    {
        "id": "ed94ebf7.34fed8",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 190,
        "y": 920,
        "wires": [
            [
                "8276c494.248f38"
            ]
        ]
    },
    {
        "id": "30c44614.1ad43a",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 189.5,
        "y": 954,
        "wires": [
            [
                "8276c494.248f38"
            ]
        ]
    },
    {
        "id": "cb3b1e2d.0c7fb",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 189.5,
        "y": 988,
        "wires": [
            [
                "8276c494.248f38",
                "68d4d7d5.bbaad8"
            ]
        ]
    },
    {
        "id": "2db12bad.6e6b84",
        "type": "inject",
        "z": "9ab9f198.285b1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 190,
        "y": 1020,
        "wires": [
            [
                "8276c494.248f38"
            ]
        ]
    },
    {
        "id": "62898308.a501fc",
        "type": "switch",
        "z": "9ab9f198.285b1",
        "name": "Mode switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Auto",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Manual",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Disabled",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "8276c494.248f38",
                "68d4d7d5.bbaad8"
            ],
            [
                "8276c494.248f38"
            ],
            [
                "8276c494.248f38"
            ],
            [
                "2c64bcc7.8c0304"
            ],
            [
                "ae2215c1.eff8c8"
            ]
        ]
    },
    {
        "id": "2c64bcc7.8c0304",
        "type": "function",
        "z": "9ab9f198.285b1",
        "name": "Manual (stop)",
        "func": "switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1100,
        "wires": [
            [
                "8276c494.248f38"
            ]
        ]
    },
    {
        "id": "ae2215c1.eff8c8",
        "type": "function",
        "z": "9ab9f198.285b1",
        "name": "Disabled (stop)",
        "func": "switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1140,
        "wires": [
            [
                "8276c494.248f38",
                "68d4d7d5.bbaad8"
            ]
        ]
    },
    {
        "id": "68d4d7d5.bbaad8",
        "type": "link out",
        "z": "9ab9f198.285b1",
        "name": "Send to Return to Auto",
        "links": [
            "222f0138.61e71e",
            "8d43aac2.e75b18"
        ],
        "x": 595,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ad35d626.f43518",
        "type": "comment",
        "z": "9ab9f198.285b1",
        "name": "General Nightlights",
        "info": "",
        "x": 150,
        "y": 880,
        "wires": []
    },
    {
        "id": "540d2b57.8eb4c4",
        "type": "comment",
        "z": "9ab9f198.285b1",
        "name": "Room Nightlights",
        "info": "",
        "x": 160,
        "y": 480,
        "wires": []
    },
    {
        "id": "3d55d919.73e8a6",
        "type": "comment",
        "z": "9ab9f198.285b1",
        "name": "Exterior Lights",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "36894402.a5bf3c",
        "type": "api-call-service",
        "z": "9ab9f198.285b1",
        "name": "Kitchen Motion Enabled",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.kitchen_motion",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1550,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "5904e3c7.2de50c",
        "type": "api-call-service",
        "z": "9ab9f198.285b1",
        "name": "Kitchen Motion Disabled",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.kitchen_motion",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1550,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "61886145.b2632",
        "type": "api-call-service",
        "z": "9ab9f198.285b1",
        "name": "Turn nightlight off",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.shelly1_93f489",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1330,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3b2fc169.0084ae",
        "type": "api-call-service",
        "z": "9ab9f198.285b1",
        "name": "Turn nightlight on",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.shelly1_93f489",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1330,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5ec15038.18774",
        "type": "function",
        "z": "9ab9f198.285b1",
        "name": "Initialize Brightness",
        "func": "flow.set(\"brightness\", 50);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "db47e890.1cb178",
        "type": "server-state-changed",
        "z": "9ab9f198.285b1",
        "name": "Exterior Light Display",
        "server": "543e2171.45071",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.exterior_light_display",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 760,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "15fecdb8.a7fa12",
        "type": "api-call-service",
        "z": "9ab9f198.285b1",
        "name": "Turn Off Kitchen pendant lights",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "switch.shelly1_c4fdf1",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1570,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "2cddc907.f64816",
        "type": "api-call-service",
        "z": "9ab9f198.285b1",
        "name": "Turn On - Exterior Lights",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.exteriorlightsswitch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1190,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "73acfd92.c0f624",
        "type": "api-call-service",
        "z": "9ab9f198.285b1",
        "name": "Turn Off - Exterior Lights",
        "server": "543e2171.45071",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.exteriorlightsswitch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1190,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "543e2171.45071",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]