flows.json
[{"id":"d5da8df7.4cc23","type":"tab","label":"HA Backup","disabled":false,"info":""},{"id":"da8f8606.4b64c8","type":"tab","label":"Watchdog Routines","disabled":false,"info":""},{"id":"3413a3a8.0b47ec","type":"tab","label":"Housemode","disabled":false,"info":""},{"id":"5a64306a.6fec98","type":"tab","label":"IsAnyoneHome","disabled":false,"info":"This flow tracks if anybody is home and marks the house occupied or away."},{"id":"9ab9f198.285b1","type":"tab","label":"SunBasedLights","disabled":false,"info":""},{"id":"3d183616.022e8a","type":"tab","label":"Motion Lighting","disabled":false,"info":""},{"id":"51cd169b.12fae8","type":"tab","label":"CJ Wake up","disabled":false,"info":""},{"id":"1f5c5bc6.5523b4","type":"tab","label":"Jen Wake up","disabled":false,"info":""},{"id":"395a3554.de723a","type":"tab","label":"House wake up","disabled":false,"info":"This routine overrides individual wake up \nsettings and use global settings to wake up\neveryone in the house at the same time"},{"id":"ba5e413f.e489a8","type":"tab","label":"AutoAlarm","disabled":false,"info":""},{"id":"bf751868.055d","type":"tab","label":"Weekly TTS Test","disabled":false,"info":""},{"id":"dea3efe6.177488","type":"tab","label":"Current State","disabled":false,"info":""},{"id":"6a42a57e.13de6c","type":"tab","label":"System Monitor","disabled":false,"info":""},{"id":"543e2171.45071","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"a67ec1d5.a78ec8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d9290584.0e4fc","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"42.640130","longitude":"-83.136600"},{"id":"19f2fec8.28ebf1","type":"mqtt-broker","z":"","name":"HASSIO Mosquitto Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b90cf9aa.a29b1","type":"light-scheduler","z":"d5da8df7.4cc23","settings":"d9290584.0e4fc","events":"[{\"start\":{\"dow\":1,\"mod\":240},\"end\":{\"dow\":1,\"mod\":255}},{\"start\":{\"dow\":2,\"mod\":240},\"end\":{\"dow\":2,\"mod\":255}},{\"start\":{\"dow\":3,\"mod\":240},\"end\":{\"dow\":3,\"mod\":255}},{\"start\":{\"dow\":4,\"mod\":240},\"end\":{\"dow\":4,\"mod\":255}},{\"start\":{\"dow\":5,\"mod\":240},\"end\":{\"dow\":5,\"mod\":255}},{\"start\":{\"dow\":6,\"mod\":240},\"end\":{\"dow\":6,\"mod\":255}},{\"start\":{\"dow\":0,\"mod\":240},\"end\":{\"dow\":0,\"mod\":255}}]","topic":"","name":"Once a Day","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":150,"y":120,"wires":[["28f2c1b1.66916e"]]},{"id":"f500cd33.9f489","type":"switch","z":"d5da8df7.4cc23","name":"ON only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":120,"wires":[["7dba8f62.7c04d","51a36a60.5429f4"]]},{"id":"51a36a60.5429f4","type":"delay","z":"d5da8df7.4cc23","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":80,"wires":[["ff7b7a53.9769f8"]]},{"id":"ff7b7a53.9769f8","type":"api-call-service","z":"d5da8df7.4cc23","name":"hassio","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_stdin","entityId":"","data":"{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":80,"wires":[[]]},{"id":"7dba8f62.7c04d","type":"function","z":"d5da8df7.4cc23","name":"format snapshot","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"name\": (new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_Snapshot\",\n    \"folders\":[\"homeassistant\",\"share\"]\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["58384471.f7c27c"]]},{"id":"58384471.f7c27c","type":"api-call-service","z":"d5da8df7.4cc23","name":"Snapshot","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"hassio","service":"snapshot_partial","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":860,"y":140,"wires":[[]]},{"id":"28f2c1b1.66916e","type":"rbe","z":"d5da8df7.4cc23","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":120,"wires":[["f500cd33.9f489"]]},{"id":"229da437.736b9c","type":"inject","z":"d5da8df7.4cc23","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":60,"wires":[["28f2c1b1.66916e"]]},{"id":"830a64ce.10cec","type":"server-state-changed","z":"5a64306a.6fec98","name":"Jen Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jenhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":113.5,"y":458,"wires":[["5b9b7858.adcca"]]},{"id":"e4a27db.5c01d","type":"server-state-changed","z":"5a64306a.6fec98","name":"CJ Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cjhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":115,"y":517,"wires":[["7f938739.0fefe8"]]},{"id":"2fd6c525.e0406a","type":"api-current-state","z":"5a64306a.6fec98","name":"Jen Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":580,"wires":[["deecaa1c.884128"],[]]},{"id":"15906abb.f6fcbd","type":"api-current-state","z":"5a64306a.6fec98","name":"CJ Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":520,"wires":[["deecaa1c.884128"],[]]},{"id":"78c7a910.298c08","type":"api-current-state","z":"5a64306a.6fec98","name":"House Guests","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.houseguests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1000,"y":620,"wires":[["36807d52.25b5e2"],[]]},{"id":"36807d52.25b5e2","type":"api-call-service","z":"5a64306a.6fec98","name":"Away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":620,"wires":[[]]},{"id":"453c4ca8.cc1ba4","type":"api-call-service","z":"5a64306a.6fec98","name":"CJ Home","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cjhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":564.5,"y":34,"wires":[[]]},{"id":"766fffef.a2e368","type":"server-state-changed","z":"5a64306a.6fec98","name":"CJ Location","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.google_maps_103298389060901230903","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":false,"x":110,"y":40,"wires":[["136d0ebf.b918c1"]]},{"id":"ff02e07b.792eb","type":"api-call-service","z":"5a64306a.6fec98","name":"Jen Home","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jenhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":140,"wires":[[]]},{"id":"8eac6eda.443cb","type":"server-state-changed","z":"5a64306a.6fec98","name":"Jen Location","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.google_maps_109285548108349468571","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":false,"x":110,"y":140,"wires":[["371f994e.22c0ee"]]},{"id":"514f7f23.60043","type":"api-call-service","z":"5a64306a.6fec98","name":"CJ Away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cjhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":563,"y":86,"wires":[[]]},{"id":"6f0bfe60.f83b7","type":"api-call-service","z":"5a64306a.6fec98","name":"Jen Away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jenhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560.5,"y":190,"wires":[[]]},{"id":"ac1c1d9c.e049e","type":"api-call-service","z":"5a64306a.6fec98","name":"Home","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":460,"wires":[[]]},{"id":"6a79b8ad.dfee7","type":"server-state-changed","z":"5a64306a.6fec98","name":"Guests Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.houseguests","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":109,"y":670,"wires":[["f91db820.964808"]]},{"id":"8d172939.4a0e88","type":"api-current-state","z":"5a64306a.6fec98","name":"CJ Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":640,"wires":[["ea980aaf.ecd08"],[]]},{"id":"ea980aaf.ecd08","type":"api-current-state","z":"5a64306a.6fec98","name":"Jen Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":620,"wires":[["78c7a910.298c08"],[]]},{"id":"f6a3e59c.298908","type":"bigtimer","z":"9ab9f198.285b1","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Exterior Light Timer","comment":"Dusk to Dawn timer","lat":"42.640212","lon":"-83.136262","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":"-5","startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":690,"y":160,"wires":[["a54b5a39.60b848"],[],[]]},{"id":"a346cc18.22b1b8","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["f6a3e59c.298908"]]},{"id":"7c09733f.a18cbc","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["f6a3e59c.298908"]]},{"id":"c264ad41.ac7d","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["f6a3e59c.298908","c90a3369.ce513"]]},{"id":"a54b5a39.60b848","type":"switch","z":"9ab9f198.285b1","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":140,"wires":[["7dc84be0.8a344c"],["ea167794.c7d128"]]},{"id":"7dc84be0.8a344c","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn On - Exterior Lights","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_55f0fe, switch.carriage_light_front, switch.carriage_light_side","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":100,"wires":[[]]},{"id":"b8eed97b.8a2b8","type":"api-call-service","z":"5a64306a.6fec98","name":"Tori Home","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.torihome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":567,"y":242,"wires":[[]]},{"id":"481ed4f9.75ae74","type":"server-state-changed","z":"5a64306a.6fec98","name":"Tori Location","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.google_maps_104665180205749213751","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":false,"x":110,"y":240,"wires":[["c5f49f4.27ee4e"]]},{"id":"431fe4c0.f991fc","type":"api-call-service","z":"5a64306a.6fec98","name":"Seb Home","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sebhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":568,"y":342,"wires":[[]]},{"id":"79c7a2cb.245ca4","type":"api-call-service","z":"5a64306a.6fec98","name":"Tori Away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.torihome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":556,"y":293,"wires":[[]]},{"id":"d3dd8630.0ed3e","type":"api-call-service","z":"5a64306a.6fec98","name":"Seb Away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sebhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":390,"wires":[[]]},{"id":"ada1a148.8ec788","type":"server-state-changed","z":"5a64306a.6fec98","name":"Seb Location","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.google_maps_108388660046996653768","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":115,"y":337,"wires":[["f9264603.9f0ec8"]]},{"id":"2187585a.4b6b9","type":"server-state-changed","z":"5a64306a.6fec98","name":"Tori Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.torihome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":118,"y":573,"wires":[["f91db820.964808"]]},{"id":"552dafb1.b0a2e8","type":"server-state-changed","z":"5a64306a.6fec98","name":"Seb Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sebhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":118,"y":620,"wires":[["f91db820.964808"]]},{"id":"371f994e.22c0ee","type":"switch","z":"5a64306a.6fec98","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":140,"wires":[["ff02e07b.792eb"],["6f0bfe60.f83b7"]]},{"id":"f9264603.9f0ec8","type":"switch","z":"5a64306a.6fec98","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":340,"wires":[["431fe4c0.f991fc"],["d3dd8630.0ed3e"]]},{"id":"c5f49f4.27ee4e","type":"switch","z":"5a64306a.6fec98","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":240,"wires":[["b8eed97b.8a2b8"],["79c7a2cb.245ca4"]]},{"id":"136d0ebf.b918c1","type":"switch","z":"5a64306a.6fec98","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":40,"wires":[["453c4ca8.cc1ba4"],["514f7f23.60043"]]},{"id":"3104acf2.c281cc","type":"moment","z":"51cd169b.12fae8","name":"Current Time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":720,"y":100,"wires":[["7f236c7c.204c44"]]},{"id":"7f2bf056.06b5a","type":"moment","z":"51cd169b.12fae8","name":"Alarm - Start time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":730,"y":140,"wires":[["7f236c7c.204c44"]]},{"id":"da36fe12.577df8","type":"api-current-state","z":"51cd169b.12fae8","name":"Get Alarm Time","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.cj_wakeup_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":200,"wires":[["7f2bf056.06b5a"]]},{"id":"7f236c7c.204c44","type":"join","z":"51cd169b.12fae8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":100,"wires":[["9ce92f35.b7a4d"]]},{"id":"9ce92f35.b7a4d","type":"function","z":"51cd169b.12fae8","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":960,"y":180,"wires":[["e093e3ec.e502f8"]]},{"id":"e093e3ec.e502f8","type":"switch","z":"51cd169b.12fae8","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":240,"wires":[["fc887375.d49208"]]},{"id":"e9d32628.68181","type":"comment","z":"51cd169b.12fae8","name":"TRIGGER WAKE UP","info":"","x":120,"y":40,"wires":[]},{"id":"f9a3fe26.85a9f8","type":"inject","z":"51cd169b.12fae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["3e13378.80be9c8"]]},{"id":"3e13378.80be9c8","type":"api-current-state","z":"51cd169b.12fae8","name":"Alarm Clock ON?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cj_alarm_enable","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":370,"y":100,"wires":[["3104acf2.c281cc","da36fe12.577df8"],[]]},{"id":"fc887375.d49208","type":"api-call-service","z":"51cd169b.12fae8","name":"CJ - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":300,"wires":[[]]},{"id":"b114ebd4.47339","type":"server-state-changed","z":"51cd169b.12fae8","name":"Wake CJ","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cj_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":100,"y":340,"wires":[["71cf10.d6da10f"],[]]},{"id":"71cf10.d6da10f","type":"switch","z":"51cd169b.12fae8","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":440,"wires":[["6938b087.2e5c1","35f54a28.95f666"]]},{"id":"6938b087.2e5c1","type":"function","z":"51cd169b.12fae8","name":"Initialize Brightness","func":"flow.set(\"brightness\", 1);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[[]]},{"id":"e027bf7.f5b08c","type":"inject","z":"51cd169b.12fae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":420,"wires":[["6938b087.2e5c1"]]},{"id":"3efc99a0.ab3b4e","type":"server-state-changed","z":"51cd169b.12fae8","name":"Snooze Off","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cj_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":310,"y":540,"wires":[["35f54a28.95f666"],[]]},{"id":"35f54a28.95f666","type":"change","z":"51cd169b.12fae8","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":520,"wires":[["c76fdc72.6da5b8"]]},{"id":"c76fdc72.6da5b8","type":"traffic","z":"51cd169b.12fae8","name":"Brighten the Lights","property_allow":"payload","filter_allow":"start","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"snooze","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":690,"y":600,"wires":[["8694efab.e57158"]]},{"id":"8694efab.e57158","type":"function","z":"51cd169b.12fae8","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":900,"y":600,"wires":[["8a80cc5f.1e18c8","62bb3032.aaa8b"]]},{"id":"8a80cc5f.1e18c8","type":"api-call-service","z":"51cd169b.12fae8","name":"Turn On Wake Light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hue_color_lamp_2","data":"{\"rgb_color\":[255,200,100]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":660,"wires":[[]]},{"id":"62bb3032.aaa8b","type":"function","z":"51cd169b.12fae8","name":"Increment Brightness","func":"var brightness = flow.get('brightness')||0;\n\nif (brightness < 100) {\n    brightness = brightness + 1;\n    flow.set(\"brightness\", brightness);\n    \n    newmsg = {\"payload\":\"looping\"}\n    return newmsg;\n}\nelse {\n    newmsg = {\"payload\":\"done\"};\n    return newmsg;\n}","outputs":1,"noerr":0,"x":1400,"y":600,"wires":[["ed2f1281.ad2948"]]},{"id":"ed2f1281.ad2948","type":"switch","z":"51cd169b.12fae8","name":"Is Loop Done?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":680,"wires":[["748e7add.fa4954"]]},{"id":"a22e5e1d.d5b458","type":"comment","z":"51cd169b.12fae8","name":"Finish Alarm Sequence","info":"","x":1560,"y":740,"wires":[]},{"id":"748e7add.fa4954","type":"link out","z":"51cd169b.12fae8","name":"FINISH ALARM SEQUENCE!","links":["850961fe.111c8","45deb28f.3cb32c","c4951141.f317c8"],"x":1455,"y":740,"wires":[]},{"id":"c4951141.f317c8","type":"link in","z":"51cd169b.12fae8","name":"","links":["ed590c06.62219","748e7add.fa4954"],"x":615,"y":680,"wires":[["40cdb5dc.7bdf6c"]]},{"id":"40cdb5dc.7bdf6c","type":"change","z":"51cd169b.12fae8","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"snooze","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":680,"wires":[["c76fdc72.6da5b8"]]},{"id":"da11d79a.6808d8","type":"server-state-changed","z":"51cd169b.12fae8","name":"Snooze On","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cj_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":310,"y":760,"wires":[["40cdb5dc.7bdf6c","dc629f57.791f9","865b591c.e4e33"],[]]},{"id":"865b591c.e4e33","type":"function","z":"51cd169b.12fae8","name":"Reset to Brightness / Volume","func":"flow.set(\"brightness\", 10);\nflow.set(\"volume\",0.3);\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":860,"y":760,"wires":[["2fc0c76f.73f868"]]},{"id":"dc629f57.791f9","type":"delay","z":"51cd169b.12fae8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":940,"wires":[["4b258be.48e06f4"]]},{"id":"4b258be.48e06f4","type":"api-call-service","z":"51cd169b.12fae8","name":"Snooze Off (Restart Loop)","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.cj_alarm_snooze","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":940,"wires":[["54479cf4.bf37bc"]]},{"id":"54479cf4.bf37bc","type":"change","z":"51cd169b.12fae8","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":860,"wires":[[]]},{"id":"2fc0c76f.73f868","type":"api-call-service","z":"51cd169b.12fae8","name":"Turn Off Wake Light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hue_color_lamp_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":760,"wires":[[]]},{"id":"ff720388.4e4108","type":"inject","z":"51cd169b.12fae8","name":"Brightness ---->","topic":"","payload":"brightness","payloadType":"flow","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":600,"wires":[["c76fdc72.6da5b8"]]},{"id":"19b323eb.bdcda4","type":"server-state-changed","z":"51cd169b.12fae8","name":"CJ Home?","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cjhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":80,"y":200,"wires":[["e3d34295.fb39c","e17a97e6.20b118"],[]]},{"id":"e3d34295.fb39c","type":"api-call-service","z":"51cd169b.12fae8","name":"Disable alarm if away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":200,"wires":[[]]},{"id":"ce8d4b15.f405b","type":"moment","z":"1f5c5bc6.5523b4","name":"Current Time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":740,"y":100,"wires":[["b1572b0f.fc3bf8"]]},{"id":"240db216.314d96","type":"moment","z":"1f5c5bc6.5523b4","name":"Alarm - Start time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":750,"y":140,"wires":[["b1572b0f.fc3bf8"]]},{"id":"dc83229b.8569b","type":"api-current-state","z":"1f5c5bc6.5523b4","name":"Get Alarm Time","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.jen_wakeup_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":200,"wires":[["240db216.314d96"]]},{"id":"b1572b0f.fc3bf8","type":"join","z":"1f5c5bc6.5523b4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":100,"wires":[["8cdf07b.00eb4f8"]]},{"id":"8cdf07b.00eb4f8","type":"function","z":"1f5c5bc6.5523b4","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":980,"y":180,"wires":[["e0c86e49.8a8c68"]]},{"id":"e0c86e49.8a8c68","type":"switch","z":"1f5c5bc6.5523b4","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":240,"wires":[["4e148573.e8947c"]]},{"id":"9f1d2593.0a68f8","type":"comment","z":"1f5c5bc6.5523b4","name":"TRIGGER WAKE UP","info":"","x":140,"y":40,"wires":[]},{"id":"62771d2e.092b54","type":"inject","z":"1f5c5bc6.5523b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["bbda03e2.f7c758"]]},{"id":"bbda03e2.f7c758","type":"api-current-state","z":"1f5c5bc6.5523b4","name":"Alarm Clock ON?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jen_alarm_enable","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":390,"y":100,"wires":[["ce8d4b15.f405b","dc83229b.8569b"],[]]},{"id":"4e148573.e8947c","type":"api-call-service","z":"1f5c5bc6.5523b4","name":"Jen - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":300,"wires":[[]]},{"id":"82b3bdbf.08df","type":"server-state-changed","z":"1f5c5bc6.5523b4","name":"Wake Jen","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jen_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":120,"y":340,"wires":[["7d33e323.39420c"],[]]},{"id":"7d33e323.39420c","type":"switch","z":"1f5c5bc6.5523b4","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":440,"wires":[["1a507c04.75ced4","9fdf4011.ec8128"]]},{"id":"1a507c04.75ced4","type":"function","z":"1f5c5bc6.5523b4","name":"Initialize Brightness","func":"flow.set(\"brightness\", 1);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[[]]},{"id":"ba073f96.f84648","type":"inject","z":"1f5c5bc6.5523b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":360,"wires":[["1a507c04.75ced4"]]},{"id":"abef65fd.d9abe","type":"server-state-changed","z":"1f5c5bc6.5523b4","name":"Snooze Off","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jen_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":290,"y":560,"wires":[["9fdf4011.ec8128"],[]]},{"id":"9fdf4011.ec8128","type":"change","z":"1f5c5bc6.5523b4","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":560,"wires":[["f8e73888.c124b8"]]},{"id":"f8e73888.c124b8","type":"traffic","z":"1f5c5bc6.5523b4","name":"Brighten the Lights","property_allow":"payload","filter_allow":"start","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"snooze","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":710,"y":620,"wires":[["61a9d259.41b4dc"]]},{"id":"61a9d259.41b4dc","type":"function","z":"1f5c5bc6.5523b4","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":920,"y":620,"wires":[["a3bf33cb.185b98","ce3b88b.4600178"]]},{"id":"a3bf33cb.185b98","type":"api-call-service","z":"1f5c5bc6.5523b4","name":"Turn On Wake Light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hue_color_lamp_3","data":"{\"rgb_color\":[255,200,100]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":680,"wires":[[]]},{"id":"ce3b88b.4600178","type":"function","z":"1f5c5bc6.5523b4","name":"Increment Brightness","func":"var brightness = flow.get('brightness')||0;\n\nif (brightness < 100) {\n    brightness = brightness + 1;\n    flow.set(\"brightness\", brightness);\n    \n    newmsg = {\"payload\":\"looping\"}\n    return newmsg;\n}\nelse {\n    newmsg = {\"payload\":\"done\"};\n    return newmsg;\n}","outputs":1,"noerr":0,"x":1420,"y":620,"wires":[["6275c653.497f1"]]},{"id":"6275c653.497f1","type":"switch","z":"1f5c5bc6.5523b4","name":"Is Loop Done?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":680,"wires":[["31e52775.2edc2"]]},{"id":"4b0bd203.1a26b4","type":"comment","z":"1f5c5bc6.5523b4","name":"Finish Alarm Sequence","info":"","x":1510,"y":740,"wires":[]},{"id":"31e52775.2edc2","type":"link out","z":"1f5c5bc6.5523b4","name":"FINISH ALARM SEQUENCE!","links":["850961fe.111c8","45deb28f.3cb32c","ebaec3c8.78bb68"],"x":1395,"y":740,"wires":[]},{"id":"ebaec3c8.78bb68","type":"link in","z":"1f5c5bc6.5523b4","name":"","links":["ed590c06.62219","31e52775.2edc2"],"x":635,"y":680,"wires":[["73695da8.7ecd04"]]},{"id":"73695da8.7ecd04","type":"change","z":"1f5c5bc6.5523b4","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"snooze","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":680,"wires":[["f8e73888.c124b8"]]},{"id":"6b033326.c6f014","type":"server-state-changed","z":"1f5c5bc6.5523b4","name":"Snooze On","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jen_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":290,"y":800,"wires":[["73695da8.7ecd04","ed8c235e.d070e8","348e9129.1af75e"],[]]},{"id":"ed8c235e.d070e8","type":"function","z":"1f5c5bc6.5523b4","name":"Reset to Brightness / Volume","func":"flow.set(\"brightness\", 10);\nflow.set(\"volume\",0.3);\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":860,"y":800,"wires":[["5bd89dc2.bf3fc4"]]},{"id":"348e9129.1af75e","type":"delay","z":"1f5c5bc6.5523b4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":960,"wires":[["792ba5d7.8eff9c"]]},{"id":"792ba5d7.8eff9c","type":"api-call-service","z":"1f5c5bc6.5523b4","name":"Snooze Off (Restart Loop)","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.jen_alarm_snooze","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":960,"wires":[["c187fa16.81dc68"]]},{"id":"c187fa16.81dc68","type":"change","z":"1f5c5bc6.5523b4","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":900,"wires":[[]]},{"id":"5bd89dc2.bf3fc4","type":"api-call-service","z":"1f5c5bc6.5523b4","name":"Turn Off Wake Light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hue_color_lamp_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":800,"wires":[[]]},{"id":"66526fe6.41816","type":"inject","z":"1f5c5bc6.5523b4","name":"Brightness ---->","topic":"","payload":"brightness","payloadType":"flow","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":620,"wires":[["f8e73888.c124b8"]]},{"id":"69a68c2c.571214","type":"server-state-changed","z":"1f5c5bc6.5523b4","name":"Jen Home?","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jenhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":200,"wires":[["31c41d94.4190ea","31f77f1a.4c67b8"],[]]},{"id":"31c41d94.4190ea","type":"api-call-service","z":"1f5c5bc6.5523b4","name":"Disable alarm if away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":200,"wires":[[]]},{"id":"f850587c.63797","type":"server-state-changed","z":"51cd169b.12fae8","name":"Reset Alarm","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cj_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":490,"y":860,"wires":[["865b591c.e4e33","54479cf4.bf37bc","40cdb5dc.7bdf6c"],[]]},{"id":"a83bf1f5.d517a8","type":"server-state-changed","z":"1f5c5bc6.5523b4","name":"Reset Alarm","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jen_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":490,"y":880,"wires":[["73695da8.7ecd04","ed8c235e.d070e8","c187fa16.81dc68"],[]]},{"id":"e17a97e6.20b118","type":"api-call-service","z":"51cd169b.12fae8","name":"Turn off Alarm if running","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":260,"wires":[[]]},{"id":"31f77f1a.4c67b8","type":"api-call-service","z":"1f5c5bc6.5523b4","name":"Turn off Alarm if running","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":260,"wires":[[]]},{"id":"44fa7ef7.f4738","type":"switch","z":"9ab9f198.285b1","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Disabled","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":170,"y":280,"wires":[["f6a3e59c.298908","c90a3369.ce513"],["f6a3e59c.298908"],["f6a3e59c.298908"],["d4fb94dc.f84d88"],["798835bb.cf0cc4"]]},{"id":"22d0b48e.bedf14","type":"server-state-changed","z":"9ab9f198.285b1","name":"Ext light override","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.exterior_light_schedule","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":400,"wires":[["44fa7ef7.f4738"]]},{"id":"ea167794.c7d128","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn Off - Exterior Lights","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.carriage_light_front, switch.carriage_light_side, switch.shelly_shsw_1_55f0fe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":180,"wires":[[]]},{"id":"f383353.08ddb48","type":"inject","z":"ba5e413f.e489a8","name":"AutoEnable Alarm(s) - Late Night (AM)","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"*/1 0-2 * * *","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["e8b098ef.7c2cc8"]]},{"id":"5ed8964a.f910e8","type":"api-current-state","z":"ba5e413f.e489a8","name":"CJ-AutoEnable (Weekdays)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Weekdays","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.cj_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":120,"wires":[["e0fba8bc.dc577"],[]]},{"id":"e8b098ef.7c2cc8","type":"weekday","z":"ba5e413f.e489a8","name":"AutoEnable-by-day","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":250,"y":260,"wires":[["5ed8964a.f910e8","54fdc42.e954bbc","c12fd43.97058a8","74bb63f0.b51124"],["f031838e.35c9e","3fb526e8.7d73b2","c12fd43.97058a8","74bb63f0.b51124"]]},{"id":"6619df09.e21f1","type":"api-call-service","z":"ba5e413f.e489a8","name":"CJ-Alarm-On","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":180,"wires":[[]]},{"id":"f031838e.35c9e","type":"api-current-state","z":"ba5e413f.e489a8","name":"CJ-AutoEnable (Weekends)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Weekends","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.cj_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":180,"wires":[["e0fba8bc.dc577"],[]]},{"id":"54fdc42.e954bbc","type":"api-current-state","z":"ba5e413f.e489a8","name":"Jen-AutoEnable (Weekdays)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Weekdays","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jen_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":300,"wires":[["68f160dd.36c198"],[]]},{"id":"3fb526e8.7d73b2","type":"api-current-state","z":"ba5e413f.e489a8","name":"Jen-AutoEnable (Weekends)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Weekends","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jen_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":360,"wires":[["68f160dd.36c198"],[]]},{"id":"97e04c3b.a124e","type":"api-call-service","z":"ba5e413f.e489a8","name":"Jen-Alarm-On","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1280,"y":360,"wires":[[]]},{"id":"e0fba8bc.dc577","type":"api-current-state","z":"ba5e413f.e489a8","name":"CJ Home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":180,"wires":[["6619df09.e21f1"],[]]},{"id":"68f160dd.36c198","type":"api-current-state","z":"ba5e413f.e489a8","name":"Jen Home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":360,"wires":[["97e04c3b.a124e"],[]]},{"id":"e73b315e.8294b8","type":"inject","z":"ba5e413f.e489a8","name":"AutoEnable Alarm(s) - Late Night (PM)","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"*/1 21-23 * * *","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["e8b098ef.7c2cc8"]]},{"id":"c12fd43.97058a8","type":"api-current-state","z":"ba5e413f.e489a8","name":"CJ-AutoEnable (Both)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Both","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.cj_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":760,"y":240,"wires":[["e0fba8bc.dc577"],[]]},{"id":"74bb63f0.b51124","type":"api-current-state","z":"ba5e413f.e489a8","name":"Jen-AutoEnable (Both)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Both","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jen_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":420,"wires":[["68f160dd.36c198"],[]]},{"id":"957c316.65f9a5","type":"api-current-state","z":"395a3554.de723a","name":"CJ Home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":100,"wires":[["171fcb6d.ba8f9d"],[]]},{"id":"ca3c001f.c41f5","type":"api-current-state","z":"395a3554.de723a","name":"Jen Home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":160,"wires":[["874ca11e.069208"],[]]},{"id":"3c9146b4.232972","type":"light-scheduler","z":"da8f8606.4b64c8","settings":"d9290584.0e4fc","events":"[]","topic":"","name":"","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.minutely","x":100,"y":100,"wires":[["e9c51bb7.388228"]]},{"id":"e3f40b49.9c54b8","type":"server-state-changed","z":"da8f8606.4b64c8","name":"Node-Red-WD","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.node_red","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":180,"wires":[["ebdea54.e3191d8"]]},{"id":"ebdea54.e3191d8","type":"change","z":"da8f8606.4b64c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":180,"wires":[["8e0fdaa0.a269f"]]},{"id":"8e0fdaa0.a269f","type":"mqtt out","z":"da8f8606.4b64c8","name":"Checkin MQTT","topic":"checkin/nodered","qos":"0","retain":"false","broker":"19f2fec8.28ebf1","x":620,"y":180,"wires":[]},{"id":"e9c51bb7.388228","type":"api-call-service","z":"da8f8606.4b64c8","name":"Toggle Node-Red Watchdog","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"toggle","entityId":"input_boolean.node_red","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":100,"wires":[[]]},{"id":"ef20424e.51ab","type":"api-call-service","z":"9ab9f198.285b1","name":"Return to Auto","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.exterior_light_schedule\",\"option\":\"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1220,"wires":[[]]},{"id":"5345270c.208c","type":"api-current-state","z":"9ab9f198.285b1","name":"Exterior Is it NOT Auto","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.exterior_light_schedule","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":1220,"wires":[["ef20424e.51ab"],[]]},{"id":"8ca1f8e7.aa5298","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["f6a3e59c.298908"]]},{"id":"7f3513ba.72b9c4","type":"api-call-service","z":"bf751868.055d","name":"Bedroom Dot","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_bedroom","entityId":"","data":"{\"message\":\"This is a weekly test\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":40,"wires":[[]]},{"id":"ccce2a9d.e08f38","type":"api-call-service","z":"bf751868.055d","name":"Barn Dot","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_barn","entityId":"","data":"{\"message\":\"This is a weekly test\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":160,"wires":[[]]},{"id":"aaf82eea.db15c8","type":"api-call-service","z":"bf751868.055d","name":"Kitchen Dot","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_kitchen","entityId":"","data":"{\"message\":\"This is a weekly test\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":100,"wires":[[]]},{"id":"f001a44c.f56298","type":"light-scheduler","z":"bf751868.055d","settings":"d9290584.0e4fc","events":"[{\"start\":{\"dow\":0,\"mod\":1245},\"end\":{\"dow\":0,\"mod\":1260}}]","topic":"","name":"Weekly","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":140,"y":140,"wires":[["270d8933.4d4ebe","f29d916a.86d348","35067a4d.7e7ede"]]},{"id":"ce0cc853.f3eb9","type":"inject","z":"bf751868.055d","name":"Manual Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["270d8933.4d4ebe","f29d916a.86d348","35067a4d.7e7ede"]]},{"id":"270d8933.4d4ebe","type":"api-current-state","z":"bf751868.055d","name":"Bedroom Do-not-Disturb?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.bedroom_do_not_disturb_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":40,"wires":[["7f3513ba.72b9c4"],[]]},{"id":"f29d916a.86d348","type":"api-current-state","z":"bf751868.055d","name":"Kitchen Do-not-Disturb?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.kitchen_do_not_disturb_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":100,"wires":[["aaf82eea.db15c8"],[]]},{"id":"35067a4d.7e7ede","type":"api-current-state","z":"bf751868.055d","name":"Barn Do-not-Disturb?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.barn_do_not_disturb_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":160,"wires":[["ccce2a9d.e08f38"],[]]},{"id":"f7817af1.717858","type":"geofence","z":"dea3efe6.177488","name":"Norup","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":42.48224218606137,"longitude":-83.1925867796599},{"latitude":42.48391167465409,"longitude":-83.1925867796599},{"latitude":42.48391167465409,"longitude":-83.19014060503832},{"latitude":42.48224218606137,"longitude":-83.19014060503832}],"centre":{},"x":650,"y":160,"wires":[["ca5d5cb6.6e4cd"]]},{"id":"a0dcb91e.910128","type":"geofence","z":"dea3efe6.177488","name":"BHS","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":42.49476622000377,"longitude":-83.18349945551745},{"latitude":42.494900703284976,"longitude":-83.17945468432299},{"latitude":42.49603984418469,"longitude":-83.17954051501147},{"latitude":42.495897452706984,"longitude":-83.18352091318957}],"centre":{},"x":650,"y":220,"wires":[["ca5d5cb6.6e4cd"]]},{"id":"31394a1a.cabfee","type":"api-current-state","z":"dea3efe6.177488","name":"CJ Phone","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"device_tracker.google_maps_103298389060901230903","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":120,"wires":[["bb1bb7d4.f4ff5","f7817af1.717858","a0dcb91e.910128"]]},{"id":"202921ae.77d2ce","type":"inject","z":"dea3efe6.177488","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["31394a1a.cabfee","182e78a7.9f5677","169bf609.9c84ba","2a91645b.daa29c"]]},{"id":"e33933f5.05b6b","type":"change","z":"dea3efe6.177488","name":"Battery Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.attributes.battery_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":40,"wires":[[]]},{"id":"169bf609.9c84ba","type":"api-current-state","z":"dea3efe6.177488","name":"Tori Phone","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.google_maps_104665180205749213751","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":240,"wires":[["bb1bb7d4.f4ff5"]]},{"id":"2a91645b.daa29c","type":"api-current-state","z":"dea3efe6.177488","name":"Seb Phone","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.google_maps_108388660046996653768","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":300,"wires":[["bb1bb7d4.f4ff5"]]},{"id":"182e78a7.9f5677","type":"api-current-state","z":"dea3efe6.177488","name":"Jen Phone","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.google_maps_109285548108349468571","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":180,"wires":[["bb1bb7d4.f4ff5"]]},{"id":"bb1bb7d4.f4ff5","type":"change","z":"dea3efe6.177488","name":"Friendly name","rules":[{"t":"set","p":"topic","pt":"msg","to":"data.attributes.nickname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":40,"wires":[["e33933f5.05b6b","56c101a2.7e28e8"]]},{"id":"56c101a2.7e28e8","type":"change","z":"dea3efe6.177488","name":"LatLon","rules":[{"t":"set","p":"location.lat","pt":"msg","to":"data.attributes.latitude","tot":"msg"},{"t":"set","p":"location.lon","pt":"msg","to":"data.attributes.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":100,"wires":[[]]},{"id":"84b96d51.70931","type":"geofence","z":"dea3efe6.177488","name":"Home","mode":"polyline","inside":"true","rad":0,"points":[{"latitude":42.64065768113761,"longitude":-83.13672602176666},{"latitude":42.64090036918847,"longitude":-83.13674211502075},{"latitude":42.64089859343772,"longitude":-83.13594040276257},{"latitude":42.64065985153479,"longitude":-83.13594040276257}],"centre":{},"x":650,"y":280,"wires":[[]]},{"id":"5b9b7858.adcca","type":"switch","z":"5a64306a.6fec98","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":460,"wires":[["ac1c1d9c.e049e"],["15906abb.f6fcbd"]]},{"id":"7f938739.0fefe8","type":"switch","z":"5a64306a.6fec98","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":520,"wires":[["ac1c1d9c.e049e"],["2fd6c525.e0406a"]]},{"id":"f91db820.964808","type":"switch","z":"5a64306a.6fec98","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":620,"wires":[["ac1c1d9c.e049e"],["8d172939.4a0e88"]]},{"id":"deecaa1c.884128","type":"api-current-state","z":"5a64306a.6fec98","name":"Tori Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":560,"wires":[["f67ede1e.a8631"],[]]},{"id":"f67ede1e.a8631","type":"api-current-state","z":"5a64306a.6fec98","name":"Seb Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":560,"wires":[["78c7a910.298c08"],[]]},{"id":"d4fb94dc.f84d88","type":"function","z":"9ab9f198.285b1","name":"Manual (stop)","func":"switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n    case \"DIsabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["f6a3e59c.298908"]]},{"id":"798835bb.cf0cc4","type":"function","z":"9ab9f198.285b1","name":"Disabled (stop)","func":"switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["f6a3e59c.298908","c90a3369.ce513"]]},{"id":"408420ac.8200a","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"Disabled","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":340,"wires":[["798835bb.cf0cc4"]]},{"id":"962d5492.3a6e8","type":"api-current-state","z":"395a3554.de723a","name":"Get Alarm Time","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.house_wakeup_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":200,"wires":[["4e29220a.bf6de4"]]},{"id":"7c8da9be.0de7a","type":"inject","z":"395a3554.de723a","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["9fa94015.fbbd78"]]},{"id":"9fa94015.fbbd78","type":"api-current-state","z":"395a3554.de723a","name":"House Alarm On?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_alarm_enable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":60,"wires":[["962d5492.3a6e8","7088eed.e42f89"],[]]},{"id":"7088eed.e42f89","type":"moment","z":"395a3554.de723a","name":"Current Time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":630,"y":60,"wires":[["d46721d3.0e4b78"]]},{"id":"4e29220a.bf6de4","type":"moment","z":"395a3554.de723a","name":"Alarm - Start time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":650,"y":120,"wires":[["d46721d3.0e4b78"]]},{"id":"d46721d3.0e4b78","type":"join","z":"395a3554.de723a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":80,"wires":[["999f3401.d3db38"]]},{"id":"999f3401.d3db38","type":"function","z":"395a3554.de723a","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1060,"y":60,"wires":[["ae3f5040.603cb"]]},{"id":"ae3f5040.603cb","type":"switch","z":"395a3554.de723a","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":140,"wires":[["957c316.65f9a5","ca3c001f.c41f5"]]},{"id":"171fcb6d.ba8f9d","type":"api-call-service","z":"395a3554.de723a","name":"CJ - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":80,"wires":[["89d58c6d.d09c68"]]},{"id":"874ca11e.069208","type":"api-call-service","z":"395a3554.de723a","name":"Jen - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":160,"wires":[["89d58c6d.d09c68"]]},{"id":"9d45aa21.b0689","type":"api-call-service","z":"395a3554.de723a","name":"Turn off House alarm","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.house_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1740,"y":240,"wires":[[]]},{"id":"89d58c6d.d09c68","type":"function","z":"395a3554.de723a","name":"Switch to off","func":"switch (msg.payload){\n    case \"on\":\n    msg.payload = \"off\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":120,"wires":[["9d45aa21.b0689"]]},{"id":"8b47396.a62c448","type":"server-state-changed","z":"395a3554.de723a","name":"House Alarm Enabled","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.house_alarm_enable","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":300,"wires":[["335309ad.599326","36b4cd3.ac76bb2"],[]]},{"id":"335309ad.599326","type":"api-call-service","z":"395a3554.de723a","name":"Turn off individual alarm (CJ)","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":260,"wires":[[]]},{"id":"36b4cd3.ac76bb2","type":"api-call-service","z":"395a3554.de723a","name":"Turn off individual alarm (Jen)","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":340,"wires":[[]]},{"id":"b2c44acc.9556b8","type":"bigtimer","z":"9ab9f198.285b1","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Room NightLight Timer","comment":"Sleep time","lat":"42.640212","lon":"-83.136262","starttime":"1290","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":"-5","startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":700,"y":900,"wires":[["adf7012f.eae3f"],[],[]]},{"id":"adf7012f.eae3f","type":"switch","z":"9ab9f198.285b1","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":930,"y":880,"wires":[["f82e3463.723ec8"],["61886145.b2632"]]},{"id":"797290cd.0a36a","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":840,"wires":[["b2c44acc.9556b8"]]},{"id":"f1ffa9.e7162058","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":189.5,"y":874,"wires":[["b2c44acc.9556b8"]]},{"id":"771c6893.f3e378","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":189.5,"y":908,"wires":[["b2c44acc.9556b8","42eeee1e.f30bf"]]},{"id":"f82e3463.723ec8","type":"api-current-state","z":"9ab9f198.285b1","name":"Tori home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.torihome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1130,"y":840,"wires":[["3b2fc169.0084ae"],["61886145.b2632"]]},{"id":"3b2fc169.0084ae","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn nightlight on","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_93f489","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1410,"y":840,"wires":[[]]},{"id":"61886145.b2632","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn nightlight off","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_93f489","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1410,"y":920,"wires":[[]]},{"id":"d3913712.99e3a8","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":940,"wires":[["b2c44acc.9556b8"]]},{"id":"4d4cfdff.5e9824","type":"bigtimer","z":"9ab9f198.285b1","outtopic":"","outpayload1":"Auto","outpayload2":"Auto","name":"Reset to Auto Timer","comment":"Dusk to Dawn timer","lat":"42.640212","lon":"-83.136262","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":"-5","startoff2":0,"endoff2":0,"offs":0,"outtext1":"Auto","outtext2":"Auto","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":170,"y":1280,"wires":[["d1dbf69e.3b0a18","5345270c.208c","6e83395d.ae3bf8"],[],[]]},{"id":"d1dbf69e.3b0a18","type":"api-current-state","z":"9ab9f198.285b1","name":"General Is it NOT Auto","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.nightlite_override","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":1280,"wires":[["84b8f059.b60a7"],[]]},{"id":"5bd6bd8f.281a64","type":"switch","z":"9ab9f198.285b1","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Disabled","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":170,"y":1000,"wires":[["b2c44acc.9556b8","42eeee1e.f30bf"],["b2c44acc.9556b8"],["b2c44acc.9556b8"],["82795211.663ed"],["fc8a60a4.e0163"]]},{"id":"82795211.663ed","type":"function","z":"9ab9f198.285b1","name":"Manual (stop)","func":"switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1020,"wires":[["b2c44acc.9556b8"]]},{"id":"2a5c97e8.bbcc78","type":"server-state-changed","z":"9ab9f198.285b1","name":"Nightlight override","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.nightlite_override","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":740,"wires":[["a43dfd97.4e5c4"]]},{"id":"84b8f059.b60a7","type":"api-call-service","z":"9ab9f198.285b1","name":"Return to Auto","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.nightlite_override\",\"option\":\"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1280,"wires":[[]]},{"id":"fc8a60a4.e0163","type":"function","z":"9ab9f198.285b1","name":"Disabled (stop)","func":"switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1060,"wires":[["b2c44acc.9556b8","42eeee1e.f30bf"]]},{"id":"924a27d5.5ecbe8","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"Disabled","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1060,"wires":[["fc8a60a4.e0163"]]},{"id":"3a02a2aa.4ba28e","type":"bigtimer","z":"9ab9f198.285b1","outtopic":"","outpayload1":"on","outpayload2":"off","name":"General Nightlight timer","comment":"Sleep time","lat":"42.640212","lon":"-83.136262","starttime":"1380","endtime":"300","starttime2":0,"endtime2":0,"startoff":"-5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":710,"y":560,"wires":[["13b84978.cd77f7"],[],[]]},{"id":"13b84978.cd77f7","type":"switch","z":"9ab9f198.285b1","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":930,"y":540,"wires":[["9d217d69.99e35"],[]]},{"id":"9d217d69.99e35","type":"api-current-state","z":"9ab9f198.285b1","name":"Anyone home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1120,"y":540,"wires":[[],[]]},{"id":"64311930.f3d208","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn nightlight(s) off","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wine_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":640,"wires":[[]]},{"id":"20d7964c.9454da","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":500,"wires":[["3a02a2aa.4ba28e"]]},{"id":"64350842.431578","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":189.5,"y":534,"wires":[["3a02a2aa.4ba28e"]]},{"id":"4fbb681.2d1a098","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":189.5,"y":568,"wires":[["3a02a2aa.4ba28e","f29a32ed.ee9cc"]]},{"id":"770afe30.11d61","type":"inject","z":"9ab9f198.285b1","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":600,"wires":[["3a02a2aa.4ba28e"]]},{"id":"1888f866.7fc8e8","type":"server-state-changed","z":"5a64306a.6fec98","name":"On Vacation","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.vacation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":780,"wires":[["d70a4ed0.dc8e4"]]},{"id":"f8893c0e.23c29","type":"vacation-timer","z":"5a64306a.6fec98","name":"Vacation timer (nightlites)","lat":"42.640212","lon":"-83.136262","turnOffOnDaysOff":true,"midnightSchedule":true,"onTime":"00:00","randMinutes":"30","offTime":"14:00","randOffMinutes":"0","minOnHours":"0","minOnMinutes":"10","maxOnHours":"0","maxOnMinutes":"15","stopTab":"tab-1","onPayloadType":"str","onPayloadVal":"on","onTopicVal":"","offPayloadType":"str","offPayloadVal":"off","offTopicVal":"","suspended":true,"disableMax":false,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"x":450,"y":760,"wires":[["cd21998a.438828"]]},{"id":"285c4b91.93a334","type":"api-call-service","z":"5a64306a.6fec98","name":"Nightlite On","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hue_color_lamp_4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":740,"wires":[[]]},{"id":"4541732b.e3982c","type":"vacation-timer","z":"5a64306a.6fec98","name":"Vacation timer (sunset)","lat":"42.640212","lon":"-83.136262","turnOffOnDaysOff":true,"midnightSchedule":true,"onTime":"sunset","randMinutes":"30","offTime":"14:00","randOffMinutes":"0","minOnHours":"0","minOnMinutes":"5","maxOnHours":"0","maxOnMinutes":"10","stopTab":"tab-1","onPayloadType":"str","onPayloadVal":"on","onTopicVal":"","offPayloadType":"str","offPayloadVal":"off","offTopicVal":"","suspended":true,"disableMax":false,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"x":450,"y":880,"wires":[["2c899eb8.7da1b2"]]},{"id":"4d68ba41.9e0004","type":"api-call-service","z":"5a64306a.6fec98","name":"Nightlite Off","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hue_color_lamp_4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":800,"wires":[[]]},{"id":"cd21998a.438828","type":"switch","z":"5a64306a.6fec98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":760,"wires":[["285c4b91.93a334"],["4d68ba41.9e0004"]]},{"id":"2c899eb8.7da1b2","type":"switch","z":"5a64306a.6fec98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":880,"wires":[["a09db435.705e58"],["5a83d9ad.d4e638"]]},{"id":"a09db435.705e58","type":"api-call-service","z":"5a64306a.6fec98","name":"Side entry On","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":860,"wires":[[]]},{"id":"5a83d9ad.d4e638","type":"api-call-service","z":"5a64306a.6fec98","name":"Side entry Off","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":920,"wires":[[]]},{"id":"9035c0d4.c76ae","type":"vacation-timer","z":"5a64306a.6fec98","name":"Vacation timer (morning)","lat":"42.640212","lon":"-83.136262","turnOffOnDaysOff":true,"midnightSchedule":true,"onTime":"sunrise","randMinutes":"30","offTime":"14:00","randOffMinutes":"0","minOnHours":"0","minOnMinutes":"15","maxOnHours":"0","maxOnMinutes":"20","stopTab":"tab-1","onPayloadType":"str","onPayloadVal":"on","onTopicVal":"","offPayloadType":"str","offPayloadVal":"off","offTopicVal":"","suspended":true,"disableMax":false,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":450,"y":1040,"wires":[["a183e0d6.c9b5c"]]},{"id":"a183e0d6.c9b5c","type":"switch","z":"5a64306a.6fec98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1040,"wires":[["2e83b43f.3c95dc","1c19da6a.e815b6"],["7986d12.296473","a34a0771.f43188"]]},{"id":"2e83b43f.3c95dc","type":"api-call-service","z":"5a64306a.6fec98","name":"CJ - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":980,"wires":[[]]},{"id":"7986d12.296473","type":"api-call-service","z":"5a64306a.6fec98","name":"CJ - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1100,"wires":[[]]},{"id":"1c19da6a.e815b6","type":"api-call-service","z":"5a64306a.6fec98","name":"Jen - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":1040,"wires":[[]]},{"id":"a34a0771.f43188","type":"api-call-service","z":"5a64306a.6fec98","name":"Jen - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":1160,"wires":[[]]},{"id":"d70a4ed0.dc8e4","type":"api-current-state","z":"5a64306a.6fec98","name":"Nobody home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":880,"wires":[["f8893c0e.23c29","4541732b.e3982c","9035c0d4.c76ae"],[]]},{"id":"b0fc7090.0b6df","type":"bigtimer","z":"3413a3a8.0b47ec","outtopic":"","outpayload1":"","outpayload2":"","name":"Morning","comment":"","lat":"42.31816","lon":"-83.20821","starttime":"360","endtime":"480","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":140,"y":60,"wires":[[],["8d5b511.00b0ab"],[]]},{"id":"f03a906c.da03","type":"bigtimer","z":"3413a3a8.0b47ec","outtopic":"","outpayload1":"","outpayload2":"","name":"Day","comment":"","lat":"42.31816","lon":"-83.20825","starttime":"480","endtime":"930","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":130,"y":140,"wires":[[],["1f388903.b095a7"],[]]},{"id":"fc73f2f5.d905f","type":"bigtimer","z":"3413a3a8.0b47ec","outtopic":"","outpayload1":"","outpayload2":"","name":"Evening","comment":"","lat":"42.31816","lon":"-83.20825","starttime":"930","endtime":"1380","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":140,"y":220,"wires":[[],["f190c6fd.fff3c8"],[]]},{"id":"28245849.b25538","type":"bigtimer","z":"3413a3a8.0b47ec","outtopic":"","outpayload1":"","outpayload2":"","name":"Night","comment":"","lat":"42.31816","lon":"-83.20825","starttime":"1380","endtime":"360","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":130,"y":300,"wires":[[],["7141f08c.a85fe"],[]]},{"id":"72de411.02772c","type":"api-call-service","z":"3413a3a8.0b47ec","name":"Set Morning","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.house_mode\",\"option\":\"Morning\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":60,"wires":[[]]},{"id":"fbb2bdb6.2acf6","type":"api-call-service","z":"3413a3a8.0b47ec","name":"Set Day","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.house_mode\",\"option\":\"Day\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":140,"wires":[[]]},{"id":"b0d54672.f4a4d8","type":"api-call-service","z":"3413a3a8.0b47ec","name":"Set Evening","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.house_mode\",\"option\":\"Evening\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":220,"wires":[[]]},{"id":"6b0e9c41.677594","type":"api-call-service","z":"3413a3a8.0b47ec","name":"Set Night","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.house_mode\",\"option\":\"Night\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":300,"wires":[[]]},{"id":"98a70bb6.cc07c8","type":"switch","z":"5a64306a.6fec98","name":"heat/cool","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"cool","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":1400,"wires":[["d38b09b8.012dd8"],["9f748e7b.39d61"]]},{"id":"771edbf9.e2d874","type":"api-current-state","z":"5a64306a.6fec98","name":"HVAC Mode","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.hallway_thermostat","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":1400,"wires":[["98a70bb6.cc07c8"]]},{"id":"d38b09b8.012dd8","type":"api-current-state","z":"5a64306a.6fec98","name":"Get Heat Comfort Temp","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_comfort_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":1360,"wires":[["58dd00c5.7bfed"]]},{"id":"9f748e7b.39d61","type":"api-current-state","z":"5a64306a.6fec98","name":"Get Cool Comfort Temp","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_comfort_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":1440,"wires":[["58dd00c5.7bfed"]]},{"id":"7e904f42.f3672","type":"api-call-service","z":"5a64306a.6fec98","name":"Turn off Eco","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"","data":"{\"entity_id\":\"climate.hallway_thermostat\",\"preset_mode\":\"none\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":1320,"wires":[["771edbf9.e2d874"]]},{"id":"58dd00c5.7bfed","type":"api-call-service","z":"5a64306a.6fec98","name":"Set comfort temp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"entity_id\":\"climate.hallway_thermostat\",\"temperature\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":1400,"wires":[[]]},{"id":"9a1785b.df57278","type":"api-current-state","z":"5a64306a.6fec98","name":"Vacation mode off?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.vacation","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":1320,"wires":[["7e904f42.f3672"],[]]},{"id":"d3d4cb52.fe5a28","type":"api-call-service","z":"5a64306a.6fec98","name":"Set Eco","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"","data":"{\"entity_id\":\"climate.hallway_thermostat\",\"preset_mode\":\"eco\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1260,"wires":[[]]},{"id":"ca5d5cb6.6e4cd","type":"api-call-service","z":"dea3efe6.177488","name":"HA Notification","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":180,"wires":[[]]},{"id":"b56fd222.7eeb1","type":"server-state-changed","z":"d5da8df7.4cc23","name":"Manual trigger backup","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.backup_trigger","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":260,"wires":[["10a148cc.8c5277"],[]]},{"id":"10a148cc.8c5277","type":"change","z":"d5da8df7.4cc23","name":"Format ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":180,"wires":[["28f2c1b1.66916e","de62611.0a622a"]]},{"id":"de62611.0a622a","type":"delay","z":"d5da8df7.4cc23","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":260,"wires":[["5fff57e9.06f278"]]},{"id":"5fff57e9.06f278","type":"api-call-service","z":"d5da8df7.4cc23","name":"","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.backup_trigger","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":260,"wires":[[]]},{"id":"1f388903.b095a7","type":"switch","z":"3413a3a8.0b47ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":140,"wires":[["fbb2bdb6.2acf6"]]},{"id":"7141f08c.a85fe","type":"switch","z":"3413a3a8.0b47ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":300,"wires":[["6b0e9c41.677594"]]},{"id":"f190c6fd.fff3c8","type":"switch","z":"3413a3a8.0b47ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":220,"wires":[["b0d54672.f4a4d8"]]},{"id":"8d5b511.00b0ab","type":"switch","z":"3413a3a8.0b47ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":60,"wires":[["72de411.02772c"]]},{"id":"a648ca93.7e5aa8","type":"server-state-changed","z":"5a64306a.6fec98","name":"Anybody Home?","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.occupied","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":300,"y":1260,"wires":[["d3d4cb52.fe5a28"],["7e904f42.f3672"]]},{"id":"ac0cf3ca.0206c","type":"light-scheduler","z":"5a64306a.6fec98","settings":"d9290584.0e4fc","events":"[{\"start\":{\"dow\":2,\"mod\":930},\"end\":{\"dow\":2,\"mod\":1080}},{\"start\":{\"dow\":3,\"mod\":930},\"end\":{\"dow\":3,\"mod\":1080}},{\"start\":{\"dow\":4,\"mod\":930},\"end\":{\"dow\":4,\"mod\":1080}},{\"start\":{\"dow\":5,\"mod\":930},\"end\":{\"dow\":5,\"mod\":1080}},{\"start\":{\"dow\":1,\"mod\":930},\"end\":{\"dow\":1,\"mod\":945}}]","topic":"","name":"Trigger Pre-stage","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":"0","sunShowElevationInStatus":false,"outputfreq":"output.minutely","x":130,"y":1200,"wires":[["633aa83d.1c4498"]]},{"id":"633aa83d.1c4498","type":"switch","z":"5a64306a.6fec98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":110,"y":1320,"wires":[["9a1785b.df57278"]]},{"id":"311f65f1.54162a","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn on entry light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1460,"wires":[["1bb9b584.77753a"]]},{"id":"1bb9b584.77753a","type":"delay","z":"9ab9f198.285b1","name":"Wait 5 minutes","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":1460,"wires":[["d6bc648.c8e8b98"]]},{"id":"eb2bb783.2fb988","type":"time-range-switch","z":"9ab9f198.285b1","name":"Dark Hours?","lat":"42.640212","lon":"-83.136262","startTime":"sunset","endTime":"dawn","startOffset":"-10","endOffset":0,"x":410,"y":1620,"wires":[["311f65f1.54162a"],["ebdba62a.16bb68"]]},{"id":"30c17581.755e6a","type":"server-state-changed","z":"9ab9f198.285b1","name":"Jen Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jenhome","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1480,"wires":[["eb2bb783.2fb988"],[]]},{"id":"8eca02aa.b290a","type":"server-state-changed","z":"9ab9f198.285b1","name":"CJ Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cjhome","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1540,"wires":[["eb2bb783.2fb988"],[]]},{"id":"5b5689cb.5fecf8","type":"server-state-changed","z":"9ab9f198.285b1","name":"Tori Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.torihome","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1600,"wires":[["eb2bb783.2fb988"],[]]},{"id":"c55b5d51.3c4f7","type":"server-state-changed","z":"9ab9f198.285b1","name":"Seb Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sebhome","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1660,"wires":[["eb2bb783.2fb988"],[]]},{"id":"ebdba62a.16bb68","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn off entry light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1620,"wires":[[]]},{"id":"d6bc648.c8e8b98","type":"api-current-state","z":"9ab9f198.285b1","name":"Is Side Entry ON?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.shelly_shsw_1_55e7ad","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":1540,"wires":[["ebdba62a.16bb68"],[]]},{"id":"2c320795.d7f738","type":"server-state-changed","z":"9ab9f198.285b1","name":"Guests Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.houseguests","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":1720,"wires":[["eb2bb783.2fb988"],[]]},{"id":"a43dfd97.4e5c4","type":"switch","z":"9ab9f198.285b1","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Disabled","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":170,"y":660,"wires":[["3a02a2aa.4ba28e","f29a32ed.ee9cc"],["3a02a2aa.4ba28e"],["3a02a2aa.4ba28e"],["85daf27b.6ba2"],["e967bd91.17dd9"]]},{"id":"85daf27b.6ba2","type":"function","z":"9ab9f198.285b1","name":"Manual (stop)","func":"switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":680,"wires":[["3a02a2aa.4ba28e"]]},{"id":"e967bd91.17dd9","type":"function","z":"9ab9f198.285b1","name":"Disabled (stop)","func":"switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":720,"wires":[["3a02a2aa.4ba28e","f29a32ed.ee9cc"]]},{"id":"222f0138.61e71e","type":"link in","z":"9ab9f198.285b1","name":"Receive Return to Auto","links":["42eeee1e.f30bf","f29a32ed.ee9cc","c90a3369.ce513"],"x":35,"y":1280,"wires":[["4d4cfdff.5e9824"]]},{"id":"42eeee1e.f30bf","type":"link out","z":"9ab9f198.285b1","name":"Send to Return to Auto","links":["222f0138.61e71e"],"x":595,"y":980,"wires":[]},{"id":"f29a32ed.ee9cc","type":"link out","z":"9ab9f198.285b1","name":"Send to Return to Auto","links":["222f0138.61e71e"],"x":595,"y":640,"wires":[]},{"id":"c90a3369.ce513","type":"link out","z":"9ab9f198.285b1","name":"Send to Return to Auto","links":["222f0138.61e71e"],"x":595,"y":260,"wires":[]},{"id":"6e83395d.ae3bf8","type":"api-current-state","z":"9ab9f198.285b1","name":"Room Is it NOT Auto","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.room_nightlite_override","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":1340,"wires":[["82924ddf.e11a8"],[]]},{"id":"82924ddf.e11a8","type":"api-call-service","z":"9ab9f198.285b1","name":"Return to Auto","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.room_nightlite_override\",\"option\":\"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1340,"wires":[[]]},{"id":"dd68f2e2.4db45","type":"server-state-changed","z":"9ab9f198.285b1","name":"Room nightlight override","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.room_nightlite_override","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1120,"wires":[["5bd6bd8f.281a64"]]},{"id":"af3a21f9.03f4d","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn nightlight(s) on","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wine_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":560,"wires":[[]]},{"id":"623fcb9.c29eab4","type":"api-call-service","z":"3d183616.022e8a","name":"Turn nightlight(s) on","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wine_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":40,"wires":[[]]},{"id":"d2b46964.bd05c","type":"server-state-changed","z":"3d183616.022e8a","name":"Kitchen Motion","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.multisensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":40,"wires":[["e5f727c.bb6db58"],[]]},{"id":"e5f727c.bb6db58","type":"switch","z":"3d183616.022e8a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":40,"wires":[["82d997c0.f62628","6647f3cc.59a41c"],["82d997c0.f62628"]]},{"id":"4e4ad6e.2e0c628","type":"api-call-service","z":"3d183616.022e8a","name":"Turn nightlight(s) off","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wine_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":100,"wires":[[]]},{"id":"82d997c0.f62628","type":"stoptimer","z":"3d183616.022e8a","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":480,"y":100,"wires":[["4e4ad6e.2e0c628"],[]]},{"id":"6647f3cc.59a41c","type":"time-range-switch","z":"3d183616.022e8a","name":"Nightlight hours","lat":"","lon":"","startTime":"23:00","endTime":"05:00","startOffset":0,"endOffset":0,"x":480,"y":40,"wires":[["53ae5281.3c80ec"],[]]},{"id":"53ae5281.3c80ec","type":"api-current-state","z":"3d183616.022e8a","name":"Already On?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.wine_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":40,"wires":[["623fcb9.c29eab4"],[]]},{"id":"15ce389b.201127","type":"server-state-changed","z":"6a42a57e.13de6c","name":"HACS Updates","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":" sensor.hacs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":140,"y":100,"wires":[["f85cc426.470148"],[]]},{"id":"1d4a69e0.f91d36","type":"server-state-changed","z":"6a42a57e.13de6c","name":"HA Updates","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.updater","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":160,"wires":[["f85cc426.470148"],[]]},{"id":"3bae6663.82967a","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Side Entry Shelly Update","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.shelly_shsw_1_55e7ad","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":220,"wires":[["c080203d.62b6d"]]},{"id":"757b3778.9586b8","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Tori Nightlight Shelly Update","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.shelly_shsw_1_93f489","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":340,"wires":[["c080203d.62b6d"]]},{"id":"ae54d8ce.63e108","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Landing lights Shelly Update","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.shelly_shsw_1_55f0fe","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":280,"wires":[["c080203d.62b6d"]]},{"id":"c080203d.62b6d","type":"switch","z":"6a42a57e.13de6c","name":"Has Update","property":"attributes.has_firmware_update","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":280,"wires":[["f85cc426.470148"]]},{"id":"418e3b79.afafb4","type":"api-call-service","z":"6a42a57e.13de6c","name":"HA Notify","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"title\":\"Updates available\",\"message\":\"Updates to HA components are available.  Please test first!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":180,"wires":[[]]},{"id":"59e2d4bd.a335fc","type":"link in","z":"6a42a57e.13de6c","name":"HA Notifications","links":["f85cc426.470148"],"x":1035,"y":180,"wires":[["418e3b79.afafb4"]]},{"id":"f85cc426.470148","type":"link out","z":"6a42a57e.13de6c","name":"Send Update Notifications","links":["59e2d4bd.a335fc","dda55c28.b306e"],"x":755,"y":180,"wires":[]},{"id":"dda55c28.b306e","type":"link in","z":"6a42a57e.13de6c","name":"Mobile Notificatons","links":["f85cc426.470148"],"x":1035,"y":280,"wires":[["2e4484c6.1d415c"]]},{"id":"2e4484c6.1d415c","type":"e-mail","z":"6a42a57e.13de6c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"2036904969@tmomail.net","dname":"hickoryhome19@gmail.com","x":1220,"y":280,"wires":[]},{"id":"903b9659.955f78","type":"inject","z":"da8f8606.4b64c8","name":"Pulse (1min)","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":280,"wires":[["a5881ca1.dbe9b","4bfc64fd.53ed7c","a9a0128f.fe9be","10e709f.df133f6"]]},{"id":"a5881ca1.dbe9b","type":"api-current-state","z":"da8f8606.4b64c8","name":"Landing lights watchdog","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_shsw_1_55f0fe","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":280,"wires":[["1deab200.4f825e"]]},{"id":"4bfc64fd.53ed7c","type":"api-current-state","z":"da8f8606.4b64c8","name":"Front Carriage light watchdog","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.carriage_light_front","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":340,"wires":[["e38850af.a1cba"]]},{"id":"a9a0128f.fe9be","type":"api-current-state","z":"da8f8606.4b64c8","name":"Side Carriage light watchdog","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.carriage_light_side","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":400,"wires":[["4a231d69.38e344"]]},{"id":"1deab200.4f825e","type":"change","z":"da8f8606.4b64c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["99205061.7d727"]]},{"id":"e38850af.a1cba","type":"change","z":"da8f8606.4b64c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["2c557f1.8425f8"]]},{"id":"4a231d69.38e344","type":"change","z":"da8f8606.4b64c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":400,"wires":[["63a60f61.e6b18"]]},{"id":"99205061.7d727","type":"mqtt out","z":"da8f8606.4b64c8","name":"","topic":"checkin\\devices\\landing","qos":"","retain":"","broker":"19f2fec8.28ebf1","x":890,"y":280,"wires":[]},{"id":"63a60f61.e6b18","type":"mqtt out","z":"da8f8606.4b64c8","name":"","topic":"checkin\\devices\\carriageside","qos":"","retain":"","broker":"19f2fec8.28ebf1","x":900,"y":400,"wires":[]},{"id":"2c557f1.8425f8","type":"mqtt out","z":"da8f8606.4b64c8","name":"","topic":"checkin\\devices\\carriagefront","qos":"","retain":"","broker":"19f2fec8.28ebf1","x":910,"y":340,"wires":[]},{"id":"25235489.5b55fc","type":"mqtt in","z":"da8f8606.4b64c8","name":"Landing lights Status","topic":"checkin\\devices\\landing","qos":"2","datatype":"utf8","broker":"19f2fec8.28ebf1","x":110,"y":520,"wires":[["bfd5e983.95dd68"]]},{"id":"e7385381.d54db","type":"mqtt in","z":"da8f8606.4b64c8","name":"Side Carriage light Status","topic":"checkin\\devices\\carriageside","qos":"2","datatype":"utf8","broker":"19f2fec8.28ebf1","x":130,"y":640,"wires":[["6d402c98.37d554"]]},{"id":"99475cb7.1f2db","type":"mqtt in","z":"da8f8606.4b64c8","name":"Front carriage light Status","topic":"checkin\\devices\\carriagefront","qos":"2","datatype":"utf8","broker":"19f2fec8.28ebf1","x":130,"y":580,"wires":[["233e6be4.3450d4"]]},{"id":"bfd5e983.95dd68","type":"trigger","z":"da8f8606.4b64c8","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":330,"y":520,"wires":[[]]},{"id":"6d402c98.37d554","type":"trigger","z":"da8f8606.4b64c8","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":330,"y":640,"wires":[[]]},{"id":"233e6be4.3450d4","type":"trigger","z":"da8f8606.4b64c8","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":330,"y":580,"wires":[[]]},{"id":"10e709f.df133f6","type":"api-current-state","z":"da8f8606.4b64c8","name":"Side Entry light watchdog","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_shsw_1_55e7ad","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":460,"wires":[["1ae08a72.861f96"]]},{"id":"1ae08a72.861f96","type":"change","z":"da8f8606.4b64c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":460,"wires":[["873ab13a.21519"]]},{"id":"873ab13a.21519","type":"mqtt out","z":"da8f8606.4b64c8","name":"","topic":"checkin\\devices\\sideentry","qos":"","retain":"","broker":"19f2fec8.28ebf1","x":890,"y":460,"wires":[]},{"id":"ca3f44b0.002308","type":"mqtt in","z":"da8f8606.4b64c8","name":"Side Entry light Status","topic":"checkin\\devices\\carriageside","qos":"2","datatype":"utf8","broker":"19f2fec8.28ebf1","x":120,"y":700,"wires":[["d260453e.f8cbe8"]]},{"id":"d260453e.f8cbe8","type":"trigger","z":"da8f8606.4b64c8","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":330,"y":700,"wires":[[]]}]