flows.json
[{"id":"93306e84.4326e","type":"tab","label":"IsAnyoneHome","disabled":false,"info":"This flow tracks if anybody is home and marks the house occupied or away."},{"id":"265680a5.19dc6","type":"tab","label":"SunBasedLights","disabled":false,"info":""},{"id":"4c55ceae.afebe8","type":"tab","label":"NightRoutine","disabled":false,"info":""},{"id":"b362c2f5.f5354","type":"tab","label":"WhenweGetHome","disabled":false,"info":""},{"id":"2cea9f6e.bcfe78","type":"tab","label":"CJ Wake up","disabled":false,"info":""},{"id":"4a10785a.764f1","type":"tab","label":"Jen Wake up","disabled":false,"info":""},{"id":"3bcf3fd4.05a5","type":"tab","label":"House wake up","disabled":false,"info":"This routine overrides individual wake up \nsettings and use global settings to wake up\neveryone in the house at the same time"},{"id":"245caa12.594036","type":"tab","label":"AutoAlarm","disabled":false,"info":""},{"id":"6795ee4e.4f3a38","type":"tab","label":"Node-Red-Watchdog","disabled":false,"info":""},{"id":"1665f76a.f09149","type":"tab","label":"Weekly TTS Test","disabled":false,"info":""},{"id":"8397dd0.636222","type":"tab","label":"Current State","disabled":false,"info":""},{"id":"a6c1cf40.5418e","type":"tab","label":"NR-Watchdog","disabled":false,"info":""},{"id":"cbb11804.5c1638","type":"tab","label":"Vacation Mode","disabled":false,"info":""},{"id":"fc8b58e2.3dac88","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"80548cc2.8a9818","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e28561cf.f3d97","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"42.640212","longitude":"-83.136262"},{"id":"49f498ad.b54b58","type":"mqtt-broker","z":"","name":"HASSIO Mosquitto Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d34df2d.937951","type":"server-state-changed","z":"93306e84.4326e","name":"Jen Home","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.jenhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":113.5,"y":458,"wires":[["c3efdaed.8e706"]]},{"id":"fb97a72d.d1a15","type":"server-state-changed","z":"93306e84.4326e","name":"CJ Home","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.cjhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":115,"y":517,"wires":[["7e45e698.6100e8"]]},{"id":"dd37f326.f4795","type":"api-current-state","z":"93306e84.4326e","name":"Jen Home","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":580,"wires":[["d5fcd398.f51788"],[]]},{"id":"c3d9bb3c.a3e588","type":"api-current-state","z":"93306e84.4326e","name":"CJ Home","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":520,"wires":[["d5fcd398.f51788"],[]]},{"id":"41346215.7a6db4","type":"api-current-state","z":"93306e84.4326e","name":"House Guests","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.houseguests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1000,"y":620,"wires":[["23ea7daa.2752f2"],[]]},{"id":"23ea7daa.2752f2","type":"api-call-service","z":"93306e84.4326e","name":"Away","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":620,"wires":[[]]},{"id":"af67d9a4.cf4028","type":"api-call-service","z":"93306e84.4326e","name":"CJ Home","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cjhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":564.5,"y":34,"wires":[[]]},{"id":"5fe3151f.63ea0c","type":"server-state-changed","z":"93306e84.4326e","name":"CJ Location","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"device_tracker.google_maps_103298389060901230903","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":false,"x":110,"y":40,"wires":[["6950054.b7c26fc"]]},{"id":"4d60bc5b.b62eec","type":"api-call-service","z":"93306e84.4326e","name":"Jen Home","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jenhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":140,"wires":[[]]},{"id":"8db87909.825868","type":"server-state-changed","z":"93306e84.4326e","name":"Jen Location","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"device_tracker.google_maps_109285548108349468571","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":false,"x":110,"y":140,"wires":[["bc34d245.8cd048"]]},{"id":"c10aa327.4f064","type":"api-call-service","z":"93306e84.4326e","name":"CJ Away","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cjhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":563,"y":86,"wires":[[]]},{"id":"8bab90c8.03e1a8","type":"api-call-service","z":"93306e84.4326e","name":"Jen Away","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jenhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560.5,"y":190,"wires":[[]]},{"id":"5f76dd8f.3d7214","type":"api-call-service","z":"93306e84.4326e","name":"Home","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":460,"wires":[[]]},{"id":"6c952f0b.f817e8","type":"server-state-changed","z":"93306e84.4326e","name":"Guests Home","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.houseguests","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":109,"y":670,"wires":[["a7cfc290.aec4b8"]]},{"id":"581acff8.e23fd8","type":"api-current-state","z":"93306e84.4326e","name":"CJ Home","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":640,"wires":[["742f8783.1d85a"],[]]},{"id":"742f8783.1d85a","type":"api-current-state","z":"93306e84.4326e","name":"Jen Home","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":620,"wires":[["41346215.7a6db4"],[]]},{"id":"dc1c45ec.81e238","type":"bigtimer","z":"265680a5.19dc6","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Lighting Timer","comment":"Dusk to Dawn timer","lat":"42.640212","lon":"-83.136262","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":640,"y":140,"wires":[["9ffcdc5.d7ac82"],[],[]]},{"id":"b1119c11.b8578","type":"inject","z":"265680a5.19dc6","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["dc1c45ec.81e238"]]},{"id":"d756561.7639d28","type":"inject","z":"265680a5.19dc6","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["dc1c45ec.81e238"]]},{"id":"5c5827ed.81fac8","type":"inject","z":"265680a5.19dc6","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["dc1c45ec.81e238","4ca22f38.95f99"]]},{"id":"9ffcdc5.d7ac82","type":"switch","z":"265680a5.19dc6","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":120,"wires":[["a4ab8e07.c1fe7"],["3abc7c26.f6e88c"]]},{"id":"a4ab8e07.c1fe7","type":"api-call-service","z":"265680a5.19dc6","name":"Turn On - Exterior Lights","server":"fc8b58e2.3dac88","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_55f0fe, switch.carriage_light_front, switch.carriage_light_side","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":80,"wires":[[]]},{"id":"7574536a.c6e8f4","type":"api-call-service","z":"93306e84.4326e","name":"Tori Home","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.torihome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":567,"y":242,"wires":[[]]},{"id":"1891968f.334ac1","type":"server-state-changed","z":"93306e84.4326e","name":"Tori Location","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"device_tracker.google_maps_104665180205749213751","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":false,"x":110,"y":240,"wires":[["9d6d613.732982"]]},{"id":"6cf81860.51062","type":"api-call-service","z":"93306e84.4326e","name":"Seb Home","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sebhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":568,"y":342,"wires":[[]]},{"id":"728f7baa.057a6c","type":"api-call-service","z":"93306e84.4326e","name":"Tori Away","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.torihome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":556,"y":293,"wires":[[]]},{"id":"a6015c73.75b1e8","type":"api-call-service","z":"93306e84.4326e","name":"Seb Away","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sebhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":390,"wires":[[]]},{"id":"6fad344d.5e539c","type":"server-state-changed","z":"93306e84.4326e","name":"Seb Location","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"device_tracker.google_maps_108388660046996653768","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":115,"y":337,"wires":[["8e9d55ee.f9e9f"]]},{"id":"34330ece.362e1a","type":"server-state-changed","z":"93306e84.4326e","name":"Tori Home","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.torihome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":118,"y":573,"wires":[["a7cfc290.aec4b8"]]},{"id":"94edb102.d05b5","type":"server-state-changed","z":"93306e84.4326e","name":"Seb Home","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.sebhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":118,"y":620,"wires":[["a7cfc290.aec4b8"]]},{"id":"bc34d245.8cd048","type":"switch","z":"93306e84.4326e","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":140,"wires":[["4d60bc5b.b62eec"],["8bab90c8.03e1a8"]]},{"id":"8e9d55ee.f9e9f","type":"switch","z":"93306e84.4326e","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":340,"wires":[["6cf81860.51062"],["a6015c73.75b1e8"]]},{"id":"9d6d613.732982","type":"switch","z":"93306e84.4326e","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":240,"wires":[["7574536a.c6e8f4"],["728f7baa.057a6c"]]},{"id":"6950054.b7c26fc","type":"switch","z":"93306e84.4326e","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":40,"wires":[["af67d9a4.cf4028"],["c10aa327.4f064"]]},{"id":"492b1af1.ed6b04","type":"moment","z":"2cea9f6e.bcfe78","name":"Current Time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":720,"y":100,"wires":[["111b722.415088e"]]},{"id":"95b16fd2.fb525","type":"moment","z":"2cea9f6e.bcfe78","name":"Alarm - Start time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":730,"y":140,"wires":[["111b722.415088e"]]},{"id":"1f76bc59.99ff1c","type":"api-current-state","z":"2cea9f6e.bcfe78","name":"Get Alarm Time","server":"fc8b58e2.3dac88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.cj_wakeup_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":200,"wires":[["95b16fd2.fb525"]]},{"id":"111b722.415088e","type":"join","z":"2cea9f6e.bcfe78","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":100,"wires":[["e0fe36fe.50954"]]},{"id":"e0fe36fe.50954","type":"function","z":"2cea9f6e.bcfe78","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":960,"y":180,"wires":[["d62bc2b0.cf0d88"]]},{"id":"d62bc2b0.cf0d88","type":"switch","z":"2cea9f6e.bcfe78","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":240,"wires":[["3d957853.c23608"]]},{"id":"954c403d.e1c5e","type":"comment","z":"2cea9f6e.bcfe78","name":"TRIGGER WAKE UP","info":"","x":120,"y":40,"wires":[]},{"id":"8b9ab391.f6f25","type":"inject","z":"2cea9f6e.bcfe78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["abf33084.126438"]]},{"id":"abf33084.126438","type":"api-current-state","z":"2cea9f6e.bcfe78","name":"Alarm Clock ON?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cj_alarm_enable","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":370,"y":100,"wires":[["492b1af1.ed6b04","1f76bc59.99ff1c"],[]]},{"id":"3d957853.c23608","type":"api-call-service","z":"2cea9f6e.bcfe78","name":"CJ - WakeUp","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":300,"wires":[[]]},{"id":"6c7f5981.847f08","type":"server-state-changed","z":"2cea9f6e.bcfe78","name":"Wake CJ","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.cj_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":100,"y":340,"wires":[["ff2cf581.6bd948"],[]]},{"id":"ff2cf581.6bd948","type":"switch","z":"2cea9f6e.bcfe78","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":440,"wires":[["edd95405.a43e88","8dcaa783.dba308"]]},{"id":"edd95405.a43e88","type":"function","z":"2cea9f6e.bcfe78","name":"Initialize Brightness","func":"flow.set(\"brightness\", 1);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[[]]},{"id":"add67c88.6de588","type":"inject","z":"2cea9f6e.bcfe78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":420,"wires":[["edd95405.a43e88"]]},{"id":"ec694072.4dd34","type":"server-state-changed","z":"2cea9f6e.bcfe78","name":"Snooze Off","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.cj_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":310,"y":540,"wires":[["8dcaa783.dba308"],[]]},{"id":"8dcaa783.dba308","type":"change","z":"2cea9f6e.bcfe78","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":520,"wires":[["b7121f16.6e1b5"]]},{"id":"b7121f16.6e1b5","type":"traffic","z":"2cea9f6e.bcfe78","name":"Brighten the Lights","property_allow":"payload","filter_allow":"start","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"snooze","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":690,"y":600,"wires":[["82d9157d.246f2"]]},{"id":"82d9157d.246f2","type":"function","z":"2cea9f6e.bcfe78","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":900,"y":600,"wires":[["5f2293a9.485664","97fdbac0.4c53a"]]},{"id":"5f2293a9.485664","type":"api-call-service","z":"2cea9f6e.bcfe78","name":"Turn On Wake Light","server":"fc8b58e2.3dac88","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hue_color_lamp_2","data":"{\"rgb_color\":[255,200,100]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":660,"wires":[[]]},{"id":"97fdbac0.4c53a","type":"function","z":"2cea9f6e.bcfe78","name":"Increment Brightness","func":"var brightness = flow.get('brightness')||0;\n\nif (brightness < 100) {\n    brightness = brightness + 1;\n    flow.set(\"brightness\", brightness);\n    \n    newmsg = {\"payload\":\"looping\"}\n    return newmsg;\n}\nelse {\n    newmsg = {\"payload\":\"done\"};\n    return newmsg;\n}","outputs":1,"noerr":0,"x":1400,"y":600,"wires":[["2f7ff863.6cd3a"]]},{"id":"2f7ff863.6cd3a","type":"switch","z":"2cea9f6e.bcfe78","name":"Is Loop Done?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":680,"wires":[["90390d8e.ce011"]]},{"id":"b4e62e72.dc2608","type":"comment","z":"2cea9f6e.bcfe78","name":"Finish Alarm Sequence","info":"","x":1560,"y":740,"wires":[]},{"id":"90390d8e.ce011","type":"link out","z":"2cea9f6e.bcfe78","name":"FINISH ALARM SEQUENCE!","links":["850961fe.111c8","45deb28f.3cb32c","e2c3de79.4b098"],"x":1455,"y":740,"wires":[]},{"id":"e2c3de79.4b098","type":"link in","z":"2cea9f6e.bcfe78","name":"","links":["ed590c06.62219","90390d8e.ce011"],"x":615,"y":680,"wires":[["bb046f7c.7bd458"]]},{"id":"bb046f7c.7bd458","type":"change","z":"2cea9f6e.bcfe78","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"snooze","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":680,"wires":[["b7121f16.6e1b5"]]},{"id":"2dd35307.b723dc","type":"server-state-changed","z":"2cea9f6e.bcfe78","name":"Snooze On","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.cj_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":310,"y":760,"wires":[["bb046f7c.7bd458","398c369a.dbe1ca","6328c8ab.90f86"],[]]},{"id":"6328c8ab.90f86","type":"function","z":"2cea9f6e.bcfe78","name":"Reset to Brightness / Volume","func":"flow.set(\"brightness\", 10);\nflow.set(\"volume\",0.3);\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":860,"y":760,"wires":[["916d3b7c.6e98f"]]},{"id":"398c369a.dbe1ca","type":"delay","z":"2cea9f6e.bcfe78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":940,"wires":[["29bdfe73.518dba"]]},{"id":"29bdfe73.518dba","type":"api-call-service","z":"2cea9f6e.bcfe78","name":"Snooze Off (Restart Loop)","server":"fc8b58e2.3dac88","version":1,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.cj_alarm_snooze","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":940,"wires":[["675279ed.0fd5c8"]]},{"id":"675279ed.0fd5c8","type":"change","z":"2cea9f6e.bcfe78","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":860,"wires":[[]]},{"id":"916d3b7c.6e98f","type":"api-call-service","z":"2cea9f6e.bcfe78","name":"Turn Off Wake Light","server":"fc8b58e2.3dac88","version":"1","service_domain":"light","service":"turn_off","entityId":"light.hue_color_lamp_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":760,"wires":[[]]},{"id":"ed484541.683d08","type":"inject","z":"2cea9f6e.bcfe78","name":"Brightness ---->","topic":"","payload":"brightness","payloadType":"flow","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":600,"wires":[["b7121f16.6e1b5"]]},{"id":"d25ab61a.715d38","type":"server-state-changed","z":"2cea9f6e.bcfe78","name":"CJ Home?","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.cjhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":80,"y":200,"wires":[["d7d13f51.498e2","f7a3c2a.c2f664"],[]]},{"id":"d7d13f51.498e2","type":"api-call-service","z":"2cea9f6e.bcfe78","name":"Disable alarm if away","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":200,"wires":[[]]},{"id":"2009979e.ead86","type":"moment","z":"4a10785a.764f1","name":"Current Time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":740,"y":100,"wires":[["8eaf96c8.256ea8"]]},{"id":"9cda407f.5e2518","type":"moment","z":"4a10785a.764f1","name":"Alarm - Start time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":750,"y":140,"wires":[["8eaf96c8.256ea8"]]},{"id":"70aa0c74.3470ec","type":"api-current-state","z":"4a10785a.764f1","name":"Get Alarm Time","server":"fc8b58e2.3dac88","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.jen_wakeup_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":200,"wires":[["9cda407f.5e2518"]]},{"id":"8eaf96c8.256ea8","type":"join","z":"4a10785a.764f1","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":100,"wires":[["e6224d3c.0556e8"]]},{"id":"e6224d3c.0556e8","type":"function","z":"4a10785a.764f1","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":980,"y":180,"wires":[["ba266e91.11dee"]]},{"id":"ba266e91.11dee","type":"switch","z":"4a10785a.764f1","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":240,"wires":[["9f38432b.02191"]]},{"id":"b2aae36b.340908","type":"comment","z":"4a10785a.764f1","name":"TRIGGER WAKE UP","info":"","x":140,"y":40,"wires":[]},{"id":"86289e4a.f8bd98","type":"inject","z":"4a10785a.764f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["da2841b.b47d1c"]]},{"id":"da2841b.b47d1c","type":"api-current-state","z":"4a10785a.764f1","name":"Alarm Clock ON?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jen_alarm_enable","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":390,"y":100,"wires":[["2009979e.ead86","70aa0c74.3470ec"],[]]},{"id":"9f38432b.02191","type":"api-call-service","z":"4a10785a.764f1","name":"Jen - WakeUp","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":300,"wires":[[]]},{"id":"82e45b57.5c52c","type":"server-state-changed","z":"4a10785a.764f1","name":"Wake Jen","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.jen_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":120,"y":340,"wires":[["4dd1aac5.8677cc"],[]]},{"id":"4dd1aac5.8677cc","type":"switch","z":"4a10785a.764f1","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":440,"wires":[["96c08a58.edd108","5da42311.8b6e7c"]]},{"id":"96c08a58.edd108","type":"function","z":"4a10785a.764f1","name":"Initialize Brightness","func":"flow.set(\"brightness\", 1);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[[]]},{"id":"eb56ae89.5c9198","type":"inject","z":"4a10785a.764f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":360,"wires":[["96c08a58.edd108"]]},{"id":"904ad24d.2fcdb8","type":"server-state-changed","z":"4a10785a.764f1","name":"Snooze Off","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.jen_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":290,"y":560,"wires":[["5da42311.8b6e7c"],[]]},{"id":"5da42311.8b6e7c","type":"change","z":"4a10785a.764f1","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":560,"wires":[["eb3a5e4a.24b58"]]},{"id":"eb3a5e4a.24b58","type":"traffic","z":"4a10785a.764f1","name":"Brighten the Lights","property_allow":"payload","filter_allow":"start","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"snooze","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":710,"y":620,"wires":[["254f7357.d9b26c"]]},{"id":"254f7357.d9b26c","type":"function","z":"4a10785a.764f1","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":920,"y":620,"wires":[["3d3566ff.18afca","6f4ee0b8.36de6"]]},{"id":"3d3566ff.18afca","type":"api-call-service","z":"4a10785a.764f1","name":"Turn On Wake Light","server":"fc8b58e2.3dac88","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hue_color_lamp_3","data":"{\"rgb_color\":[255,200,100]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":680,"wires":[[]]},{"id":"6f4ee0b8.36de6","type":"function","z":"4a10785a.764f1","name":"Increment Brightness","func":"var brightness = flow.get('brightness')||0;\n\nif (brightness < 100) {\n    brightness = brightness + 1;\n    flow.set(\"brightness\", brightness);\n    \n    newmsg = {\"payload\":\"looping\"}\n    return newmsg;\n}\nelse {\n    newmsg = {\"payload\":\"done\"};\n    return newmsg;\n}","outputs":1,"noerr":0,"x":1420,"y":620,"wires":[["b69982c4.eb4d8"]]},{"id":"b69982c4.eb4d8","type":"switch","z":"4a10785a.764f1","name":"Is Loop Done?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1460,"y":680,"wires":[["884c354d.720f58"]]},{"id":"dba56a4b.af1f1","type":"comment","z":"4a10785a.764f1","name":"Finish Alarm Sequence","info":"","x":1510,"y":740,"wires":[]},{"id":"884c354d.720f58","type":"link out","z":"4a10785a.764f1","name":"FINISH ALARM SEQUENCE!","links":["850961fe.111c8","45deb28f.3cb32c","957703fe.71d7"],"x":1395,"y":740,"wires":[]},{"id":"957703fe.71d7","type":"link in","z":"4a10785a.764f1","name":"","links":["ed590c06.62219","884c354d.720f58"],"x":635,"y":680,"wires":[["661782ac.5ab014"]]},{"id":"661782ac.5ab014","type":"change","z":"4a10785a.764f1","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"snooze","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":680,"wires":[["eb3a5e4a.24b58"]]},{"id":"d01aef0a.9228d8","type":"server-state-changed","z":"4a10785a.764f1","name":"Snooze On","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.jen_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":290,"y":800,"wires":[["661782ac.5ab014","d3cb4b0a.45a8c8","87ca4c0e.37e818"],[]]},{"id":"d3cb4b0a.45a8c8","type":"function","z":"4a10785a.764f1","name":"Reset to Brightness / Volume","func":"flow.set(\"brightness\", 10);\nflow.set(\"volume\",0.3);\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":860,"y":800,"wires":[["c9d78aab.07284"]]},{"id":"87ca4c0e.37e818","type":"delay","z":"4a10785a.764f1","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":960,"wires":[["3017e091.f8734"]]},{"id":"3017e091.f8734","type":"api-call-service","z":"4a10785a.764f1","name":"Snooze Off (Restart Loop)","server":"fc8b58e2.3dac88","version":"1","service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.jen_alarm_snooze","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":960,"wires":[["c20b5cde.53463"]]},{"id":"c20b5cde.53463","type":"change","z":"4a10785a.764f1","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":900,"wires":[[]]},{"id":"c9d78aab.07284","type":"api-call-service","z":"4a10785a.764f1","name":"Turn Off Wake Light","server":"fc8b58e2.3dac88","version":"1","service_domain":"light","service":"turn_off","entityId":"light.hue_color_lamp_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":800,"wires":[[]]},{"id":"989db02c.2f3af8","type":"inject","z":"4a10785a.764f1","name":"Brightness ---->","topic":"","payload":"brightness","payloadType":"flow","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":620,"wires":[["eb3a5e4a.24b58"]]},{"id":"67f856a7.7516f8","type":"server-state-changed","z":"4a10785a.764f1","name":"Jen Home?","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.jenhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":200,"wires":[["8b2f3ea.d97ef4","af485fd1.8e422"],[]]},{"id":"8b2f3ea.d97ef4","type":"api-call-service","z":"4a10785a.764f1","name":"Disable alarm if away","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":200,"wires":[[]]},{"id":"94ee85f7.fc134","type":"api-call-service","z":"b362c2f5.f5354","name":"Turn on entry light","server":"fc8b58e2.3dac88","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":40,"wires":[["16f31989.682cf6"]]},{"id":"16f31989.682cf6","type":"delay","z":"b362c2f5.f5354","name":"Wait 5 minutes","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":40,"wires":[["ffe90b02.78a8b"]]},{"id":"9b04e875.3f71d8","type":"time-range-switch","z":"b362c2f5.f5354","name":"Dark Hours?","lat":"42.640212","lon":"-83.136262","startTime":"sunset","endTime":"dawn","startOffset":0,"endOffset":0,"x":370,"y":200,"wires":[["94ee85f7.fc134"],["9035b518.3578f"]]},{"id":"fcb6f509.d8416","type":"bigtimer","z":"4c55ceae.afebe8","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Lighting Timer","comment":"Sleep time","lat":"42.640212","lon":"-83.136262","starttime":"1290","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":660,"y":260,"wires":[["47bf6e3.705031"],[],[]]},{"id":"47bf6e3.705031","type":"switch","z":"4c55ceae.afebe8","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":910,"y":200,"wires":[["3e9add48.d1bac2"],["750a409f.201b98"]]},{"id":"1932c2ae.e5c885","type":"inject","z":"4c55ceae.afebe8","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["fcb6f509.d8416"]]},{"id":"3f35bef2.11f20a","type":"inject","z":"4c55ceae.afebe8","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":189.5,"y":174,"wires":[["fcb6f509.d8416"]]},{"id":"50fd9d7c.5da07c","type":"inject","z":"4c55ceae.afebe8","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":189.5,"y":208,"wires":[["fcb6f509.d8416"]]},{"id":"ecadbf01.611c18","type":"server-state-changed","z":"2cea9f6e.bcfe78","name":"Reset Alarm","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.cj_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":490,"y":860,"wires":[["6328c8ab.90f86","675279ed.0fd5c8","bb046f7c.7bd458"],[]]},{"id":"169e0334.6af015","type":"server-state-changed","z":"4a10785a.764f1","name":"Reset Alarm","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.jen_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":490,"y":880,"wires":[["661782ac.5ab014","d3cb4b0a.45a8c8","c20b5cde.53463"],[]]},{"id":"f7a3c2a.c2f664","type":"api-call-service","z":"2cea9f6e.bcfe78","name":"Turn off Alarm if running","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":260,"wires":[[]]},{"id":"af485fd1.8e422","type":"api-call-service","z":"4a10785a.764f1","name":"Turn off Alarm if running","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":260,"wires":[[]]},{"id":"6afcb873.d83178","type":"switch","z":"265680a5.19dc6","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Disabled","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":130,"y":260,"wires":[["dc1c45ec.81e238","4ca22f38.95f99"],["dc1c45ec.81e238"],["dc1c45ec.81e238"],["45573244.648d0c"],["5a52e122.2a83e"]]},{"id":"3e9add48.d1bac2","type":"api-current-state","z":"4c55ceae.afebe8","name":"Tori home?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.torihome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1110,"y":200,"wires":[["6bddbf4d.46b7e"],[]]},{"id":"1292a3e0.6e8894","type":"server-state-changed","z":"265680a5.19dc6","name":"Ext light override","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_select.exterior_light_schedule","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":440,"wires":[["6afcb873.d83178"]]},{"id":"3abc7c26.f6e88c","type":"api-call-service","z":"265680a5.19dc6","name":"Turn Off - Exterior Lights","server":"fc8b58e2.3dac88","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_55f0fe, switch.carriage_light_front, switch.carriage_light_side","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":160,"wires":[[]]},{"id":"c2383adc.2d414","type":"inject","z":"245caa12.594036","name":"AutoEnable Alarm(s) - Late Night (AM)","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"*/1 0-2 * * *","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["2a857413.5b5f4c"]]},{"id":"d9a09499.411138","type":"api-current-state","z":"245caa12.594036","name":"CJ-AutoEnable (Weekdays)","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"Weekdays","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.cj_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":120,"wires":[["8b895dc.870daa"],[]]},{"id":"2a857413.5b5f4c","type":"weekday","z":"245caa12.594036","name":"AutoEnable-by-day","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":250,"y":260,"wires":[["d9a09499.411138","ddb64907.39873","31894b72.38334c","87030c42.ed4268"],["3aeb86de.87bc62","d67b1bd.d0b8b68","31894b72.38334c","87030c42.ed4268"]]},{"id":"12f1562e.294772","type":"api-call-service","z":"245caa12.594036","name":"CJ-Alarm-On","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":180,"wires":[[]]},{"id":"3aeb86de.87bc62","type":"api-current-state","z":"245caa12.594036","name":"CJ-AutoEnable (Weekends)","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"Weekends","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.cj_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":180,"wires":[["8b895dc.870daa"],[]]},{"id":"ddb64907.39873","type":"api-current-state","z":"245caa12.594036","name":"Jen-AutoEnable (Weekdays)","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"Weekdays","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jen_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":300,"wires":[["5fb134bc.6ea2fc"],[]]},{"id":"d67b1bd.d0b8b68","type":"api-current-state","z":"245caa12.594036","name":"Jen-AutoEnable (Weekends)","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"Weekends","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jen_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":360,"wires":[["5fb134bc.6ea2fc"],[]]},{"id":"7f4bdab7.fd06d4","type":"api-call-service","z":"245caa12.594036","name":"Jen-Alarm-On","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1280,"y":360,"wires":[[]]},{"id":"8b895dc.870daa","type":"api-current-state","z":"245caa12.594036","name":"CJ Home?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":180,"wires":[["12f1562e.294772"],[]]},{"id":"5fb134bc.6ea2fc","type":"api-current-state","z":"245caa12.594036","name":"Jen Home?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":360,"wires":[["7f4bdab7.fd06d4"],[]]},{"id":"195def90.b68f2","type":"inject","z":"245caa12.594036","name":"AutoEnable Alarm(s) - Late Night (PM)","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"*/1 21-23 * * *","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["2a857413.5b5f4c"]]},{"id":"31894b72.38334c","type":"api-current-state","z":"245caa12.594036","name":"CJ-AutoEnable (Both)","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"Both","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.cj_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":760,"y":240,"wires":[["8b895dc.870daa"],[]]},{"id":"87030c42.ed4268","type":"api-current-state","z":"245caa12.594036","name":"Jen-AutoEnable (Both)","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"Both","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jen_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":420,"wires":[["5fb134bc.6ea2fc"],[]]},{"id":"2233b68f.3acda2","type":"api-current-state","z":"3bcf3fd4.05a5","name":"CJ Home?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":100,"wires":[["cad2aabe.9c046"],[]]},{"id":"eef5dfb9.5cc668","type":"api-current-state","z":"3bcf3fd4.05a5","name":"Jen Home?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":160,"wires":[["23d43e3b.0dd76a"],[]]},{"id":"9354caa1.79589","type":"light-scheduler","z":"6795ee4e.4f3a38","settings":"e28561cf.f3d97","events":"[]","topic":"","name":"","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.minutely","x":100,"y":100,"wires":[["400a4dca.2aec7c"]]},{"id":"f155dad1.8e3ce","type":"server-state-changed","z":"6795ee4e.4f3a38","name":"Node-Red-WD","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.node_red","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":180,"wires":[["f1220e6b.a2253"]]},{"id":"f1220e6b.a2253","type":"change","z":"6795ee4e.4f3a38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":180,"wires":[["fe5317a7.5bad7"]]},{"id":"fe5317a7.5bad7","type":"mqtt out","z":"6795ee4e.4f3a38","name":"Checkin MQTT","topic":"checkin/nodered","qos":"","retain":"","broker":"49f498ad.b54b58","x":620,"y":180,"wires":[]},{"id":"6bddbf4d.46b7e","type":"api-call-service","z":"4c55ceae.afebe8","name":"Turn nightlight on","server":"fc8b58e2.3dac88","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_93f489","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":200,"wires":[[]]},{"id":"750a409f.201b98","type":"api-call-service","z":"4c55ceae.afebe8","name":"Turn nightlight off","server":"fc8b58e2.3dac88","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_93f489","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":260,"wires":[[]]},{"id":"400a4dca.2aec7c","type":"api-call-service","z":"6795ee4e.4f3a38","name":"Toggle Node-Red Watchdog","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"toggle","entityId":"input_boolean.node_red","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":100,"wires":[[]]},{"id":"4ca22f38.95f99","type":"bigtimer","z":"265680a5.19dc6","outtopic":"","outpayload1":"Auto","outpayload2":"Auto","name":"Reset to Auto Timer","comment":"Dusk to Dawn timer","lat":"42.640212","lon":"-83.136262","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"Auto","outtext2":"Auto","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":660,"y":220,"wires":[["7bdafef7.7593f8"],[],[]]},{"id":"516badd2.459f0c","type":"api-call-service","z":"265680a5.19dc6","name":"Return to Auto","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.exterior_light_schedule","data":"\"Auto\"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":220,"wires":[[]]},{"id":"7bdafef7.7593f8","type":"api-current-state","z":"265680a5.19dc6","name":"Is it NOT Auto","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.exterior_light_schedule","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":880,"y":200,"wires":[["516badd2.459f0c"],[]]},{"id":"b3c8187d.c14ab8","type":"server-state-changed","z":"b362c2f5.f5354","name":"Jen Home","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.jenhome","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":60,"wires":[["9b04e875.3f71d8"],[]]},{"id":"e2d0b1e7.83444","type":"server-state-changed","z":"b362c2f5.f5354","name":"CJ Home","server":"fc8b58e2.3dac88","version":"1","entityidfilter":"input_boolean.cjhome","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":120,"wires":[["9b04e875.3f71d8"],[]]},{"id":"ec865bcf.9fbd18","type":"server-state-changed","z":"b362c2f5.f5354","name":"Tori Home","server":"fc8b58e2.3dac88","version":"1","entityidfilter":"input_boolean.torihome","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":180,"wires":[["9b04e875.3f71d8"],[]]},{"id":"dff7777.524de88","type":"server-state-changed","z":"b362c2f5.f5354","name":"Seb Home","server":"fc8b58e2.3dac88","version":"1","entityidfilter":"input_boolean.sebhome","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":240,"wires":[["9b04e875.3f71d8"],[]]},{"id":"9035b518.3578f","type":"api-call-service","z":"b362c2f5.f5354","name":"Turn off entry light","server":"fc8b58e2.3dac88","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":200,"wires":[[]]},{"id":"ffe90b02.78a8b","type":"api-current-state","z":"b362c2f5.f5354","name":"Is Side Entry ON?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.shelly_shsw_1_55e7ad","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":120,"wires":[["9035b518.3578f"],[]]},{"id":"6e423ee3.cb8a28","type":"inject","z":"265680a5.19dc6","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["dc1c45ec.81e238"]]},{"id":"14ba901c.6ed7f8","type":"server-state-changed","z":"b362c2f5.f5354","name":"Guests Home","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.houseguests","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":300,"wires":[["9b04e875.3f71d8"],[]]},{"id":"a330bf94.808768","type":"inject","z":"4c55ceae.afebe8","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["fcb6f509.d8416"]]},{"id":"d1361aa1.38c79","type":"api-call-service","z":"1665f76a.f09149","name":"Bedroom Dot","server":"fc8b58e2.3dac88","version":1,"service_domain":"notify","service":"alexa_media_bedroom","entityId":"","data":"{\"message\":\"This is a weekly test\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":40,"wires":[[]]},{"id":"726da863.2ccd78","type":"api-call-service","z":"1665f76a.f09149","name":"Barn Dot","server":"fc8b58e2.3dac88","version":1,"service_domain":"notify","service":"alexa_media_barn","entityId":"","data":"{\"message\":\"This is a weekly test\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":160,"wires":[[]]},{"id":"17af5ad6.fce91d","type":"api-call-service","z":"1665f76a.f09149","name":"Kitchen Dot","server":"fc8b58e2.3dac88","version":1,"service_domain":"notify","service":"alexa_media_kitchen","entityId":"","data":"{\"message\":\"This is a weekly test\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":100,"wires":[[]]},{"id":"42f09051.49d6b8","type":"light-scheduler","z":"1665f76a.f09149","settings":"e28561cf.f3d97","events":"[{\"start\":{\"dow\":0,\"mod\":1245},\"end\":{\"dow\":0,\"mod\":1260}}]","topic":"","name":"Weekly","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":140,"y":140,"wires":[["d40e7643.f3ec1","195440d0.c6e48f","33dd0c58.aff74c"]]},{"id":"67785907.6f29d","type":"inject","z":"1665f76a.f09149","name":"Manual Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["d40e7643.f3ec1","195440d0.c6e48f","33dd0c58.aff74c"]]},{"id":"d40e7643.f3ec1","type":"api-current-state","z":"1665f76a.f09149","name":"Bedroom Do-not-Disturb?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.bedroom_do_not_disturb_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":40,"wires":[["d1361aa1.38c79"],[]]},{"id":"195440d0.c6e48f","type":"api-current-state","z":"1665f76a.f09149","name":"Kitchen Do-not-Disturb?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.kitchen_do_not_disturb_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":100,"wires":[["17af5ad6.fce91d"],[]]},{"id":"33dd0c58.aff74c","type":"api-current-state","z":"1665f76a.f09149","name":"Barn Do-not-Disturb?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.barn_do_not_disturb_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":160,"wires":[["726da863.2ccd78"],[]]},{"id":"2c86929d.f6ddee","type":"geofence","z":"8397dd0.636222","name":"Norup","mode":"polyline","inside":"true","rad":0,"points":[{"latitude":42.48224218606137,"longitude":-83.1925867796599},{"latitude":42.48391167465409,"longitude":-83.1925867796599},{"latitude":42.48391167465409,"longitude":-83.19014060503832},{"latitude":42.48224218606137,"longitude":-83.19014060503832}],"centre":{},"x":650,"y":160,"wires":[[]]},{"id":"ad0c892f.046cf8","type":"geofence","z":"8397dd0.636222","name":"BHS","mode":"polyline","inside":"true","rad":0,"points":[{"latitude":42.49476622000377,"longitude":-83.18349945551745},{"latitude":42.494900703284976,"longitude":-83.17945468432299},{"latitude":42.49603984418469,"longitude":-83.17954051501147},{"latitude":42.495897452706984,"longitude":-83.18352091318957}],"centre":{},"x":650,"y":220,"wires":[[]]},{"id":"f31559aa.3a6b9","type":"api-current-state","z":"8397dd0.636222","name":"CJ Phone","server":"fc8b58e2.3dac88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"device_tracker.google_maps_103298389060901230903","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":120,"wires":[["7df1d307.2fab3c"]]},{"id":"5eb83763.faea68","type":"inject","z":"8397dd0.636222","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["f31559aa.3a6b9","6b7b51d7.6bd6","f4947b8c.105e","1bc653da.87f81c"]]},{"id":"46299634.083778","type":"change","z":"8397dd0.636222","name":"Battery Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.attributes.battery_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":40,"wires":[[]]},{"id":"f4947b8c.105e","type":"api-current-state","z":"8397dd0.636222","name":"Tori Phone","server":"fc8b58e2.3dac88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.google_maps_104665180205749213751","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":240,"wires":[["7df1d307.2fab3c"]]},{"id":"1bc653da.87f81c","type":"api-current-state","z":"8397dd0.636222","name":"Seb Phone","server":"fc8b58e2.3dac88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.google_maps_108388660046996653768","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":300,"wires":[["7df1d307.2fab3c"]]},{"id":"6b7b51d7.6bd6","type":"api-current-state","z":"8397dd0.636222","name":"Jen Phone","server":"fc8b58e2.3dac88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.google_maps_109285548108349468571","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":180,"wires":[["7df1d307.2fab3c"]]},{"id":"7df1d307.2fab3c","type":"change","z":"8397dd0.636222","name":"Friendly name","rules":[{"t":"set","p":"topic","pt":"msg","to":"data.attributes.nickname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":40,"wires":[["46299634.083778","ef144345.dfb578"]]},{"id":"ef144345.dfb578","type":"change","z":"8397dd0.636222","name":"LatLon","rules":[{"t":"set","p":"location.lat","pt":"msg","to":"data.attributes.latitude","tot":"msg"},{"t":"set","p":"location.lon","pt":"msg","to":"data.attributes.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":100,"wires":[[]]},{"id":"3da35c5a.0125f4","type":"geofence","z":"8397dd0.636222","name":"Home","mode":"polyline","inside":"true","rad":0,"points":[{"latitude":42.64065768113761,"longitude":-83.13672602176666},{"latitude":42.64090036918847,"longitude":-83.13674211502075},{"latitude":42.64089859343772,"longitude":-83.13594040276257},{"latitude":42.64065985153479,"longitude":-83.13594040276257}],"centre":{},"x":650,"y":280,"wires":[[]]},{"id":"c3efdaed.8e706","type":"switch","z":"93306e84.4326e","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":460,"wires":[["5f76dd8f.3d7214"],["c3d9bb3c.a3e588"]]},{"id":"7e45e698.6100e8","type":"switch","z":"93306e84.4326e","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":520,"wires":[["5f76dd8f.3d7214"],["dd37f326.f4795"]]},{"id":"a7cfc290.aec4b8","type":"switch","z":"93306e84.4326e","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":620,"wires":[["5f76dd8f.3d7214"],["581acff8.e23fd8"]]},{"id":"d5fcd398.f51788","type":"api-current-state","z":"93306e84.4326e","name":"Tori Home","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":560,"wires":[["24ae15ee.fb586a"],[]]},{"id":"24ae15ee.fb586a","type":"api-current-state","z":"93306e84.4326e","name":"Seb Home","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":560,"wires":[["41346215.7a6db4"],[]]},{"id":"385140a9.1c9c5","type":"inject","z":"a6c1cf40.5418e","name":"Pulse (1min)","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["7a5b59f1.6e69c8","66f3bd81.1b5f04","fce3f654.ec9e08","438c2246.ac885c"]]},{"id":"7a5b59f1.6e69c8","type":"api-current-state","z":"a6c1cf40.5418e","name":"Landing lights watchdog","server":"fc8b58e2.3dac88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_shsw_1_55f0fe","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":40,"wires":[["5ebd9fc0.76b7d"]]},{"id":"66f3bd81.1b5f04","type":"api-current-state","z":"a6c1cf40.5418e","name":"Front Carriage light watchdog","server":"fc8b58e2.3dac88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.carriage_light_front","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":100,"wires":[["1eaa8dc0.d89482"]]},{"id":"fce3f654.ec9e08","type":"api-current-state","z":"a6c1cf40.5418e","name":"Side Carriage light watchdog","server":"fc8b58e2.3dac88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.carriage_light_side","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":160,"wires":[["8548858b.3a2678"]]},{"id":"5ebd9fc0.76b7d","type":"change","z":"a6c1cf40.5418e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":40,"wires":[["fcd55e02.da479"]]},{"id":"1eaa8dc0.d89482","type":"change","z":"a6c1cf40.5418e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":100,"wires":[["14f3623d.4511ce"]]},{"id":"8548858b.3a2678","type":"change","z":"a6c1cf40.5418e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":160,"wires":[["32b31e64.536cf2"]]},{"id":"fcd55e02.da479","type":"mqtt out","z":"a6c1cf40.5418e","name":"","topic":"checkin\\devices\\landing","qos":"","retain":"","broker":"49f498ad.b54b58","x":910,"y":40,"wires":[]},{"id":"32b31e64.536cf2","type":"mqtt out","z":"a6c1cf40.5418e","name":"","topic":"checkin\\devices\\carriageside","qos":"","retain":"","broker":"49f498ad.b54b58","x":920,"y":160,"wires":[]},{"id":"14f3623d.4511ce","type":"mqtt out","z":"a6c1cf40.5418e","name":"","topic":"checkin\\devices\\carriagefront","qos":"","retain":"","broker":"49f498ad.b54b58","x":930,"y":100,"wires":[]},{"id":"d35a8f7f.18df6","type":"mqtt in","z":"a6c1cf40.5418e","name":"Landing lights Status","topic":"checkin\\devices\\landing","qos":"2","datatype":"utf8","broker":"49f498ad.b54b58","x":130,"y":280,"wires":[["714f873.9362c78"]]},{"id":"20697733.3cc778","type":"mqtt in","z":"a6c1cf40.5418e","name":"Side Carriage light Status","topic":"checkin\\devices\\carriageside","qos":"2","datatype":"utf8","broker":"49f498ad.b54b58","x":150,"y":400,"wires":[["48944344.25237c"]]},{"id":"8856442c.54e528","type":"mqtt in","z":"a6c1cf40.5418e","name":"Front carriage light Status","topic":"checkin\\devices\\carriagefront","qos":"2","datatype":"utf8","broker":"49f498ad.b54b58","x":150,"y":340,"wires":[["e6c788a9.35b4d8"]]},{"id":"714f873.9362c78","type":"trigger","z":"a6c1cf40.5418e","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":350,"y":280,"wires":[[]]},{"id":"48944344.25237c","type":"trigger","z":"a6c1cf40.5418e","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":350,"y":400,"wires":[[]]},{"id":"e6c788a9.35b4d8","type":"trigger","z":"a6c1cf40.5418e","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":350,"y":340,"wires":[[]]},{"id":"438c2246.ac885c","type":"api-current-state","z":"a6c1cf40.5418e","name":"Side Entry light watchdog","server":"fc8b58e2.3dac88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_shsw_1_55e7ad","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":220,"wires":[["a24328bf.9ad528"]]},{"id":"a24328bf.9ad528","type":"change","z":"a6c1cf40.5418e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":220,"wires":[["3ffbfefc.412fd2"]]},{"id":"3ffbfefc.412fd2","type":"mqtt out","z":"a6c1cf40.5418e","name":"","topic":"checkin\\devices\\sideentry","qos":"","retain":"","broker":"49f498ad.b54b58","x":910,"y":220,"wires":[]},{"id":"5a1c946.627606c","type":"mqtt in","z":"a6c1cf40.5418e","name":"Side Entry light Status","topic":"checkin\\devices\\carriageside","qos":"2","datatype":"utf8","broker":"49f498ad.b54b58","x":140,"y":460,"wires":[["b7e45eca.7e587"]]},{"id":"b7e45eca.7e587","type":"trigger","z":"a6c1cf40.5418e","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":350,"y":460,"wires":[[]]},{"id":"57843f9e.388728","type":"bigtimer","z":"4c55ceae.afebe8","outtopic":"","outpayload1":"Auto","outpayload2":"Auto","name":"Reset to Auto Timer","comment":"Dusk to Dawn timer","lat":"42.640212","lon":"-83.136262","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"Auto","outtext2":"Auto","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":680,"y":340,"wires":[["589ead3c.1eb184"],[],[]]},{"id":"589ead3c.1eb184","type":"api-current-state","z":"4c55ceae.afebe8","name":"Is it NOT Auto","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.nightlite_override","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":920,"y":300,"wires":[["48a9a635.6eea58"],[]]},{"id":"d0c231f2.91aa8","type":"switch","z":"4c55ceae.afebe8","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Disabled","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":170,"y":300,"wires":[["fcb6f509.d8416","57843f9e.388728"],["fcb6f509.d8416"],["fcb6f509.d8416"],["58c58ef0.7d5398"],["7285b39c.2c1f9c"]]},{"id":"58c58ef0.7d5398","type":"function","z":"4c55ceae.afebe8","name":"Manual (stop)","func":"switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["fcb6f509.d8416"]]},{"id":"b983147f.813b18","type":"server-state-changed","z":"4c55ceae.afebe8","name":"Nightlight override","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_select.nightlite_override","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":420,"wires":[["d0c231f2.91aa8"]]},{"id":"48a9a635.6eea58","type":"api-call-service","z":"4c55ceae.afebe8","name":"Return to Auto","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.nightlite_override","data":"{\"Option\":\"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":320,"wires":[[]]},{"id":"45573244.648d0c","type":"function","z":"265680a5.19dc6","name":"Manual (stop)","func":"switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n    case \"DIsabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["dc1c45ec.81e238"]]},{"id":"5a52e122.2a83e","type":"function","z":"265680a5.19dc6","name":"Disabled (stop)","func":"switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["dc1c45ec.81e238","4ca22f38.95f99"]]},{"id":"e42b7709.971008","type":"inject","z":"265680a5.19dc6","name":"","topic":"","payload":"Disabled","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["5a52e122.2a83e"]]},{"id":"7285b39c.2c1f9c","type":"function","z":"4c55ceae.afebe8","name":"Disabled (stop)","func":"switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["57843f9e.388728","fcb6f509.d8416"]]},{"id":"c01d22dc.3ac09","type":"inject","z":"4c55ceae.afebe8","name":"","topic":"","payload":"Disabled","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["7285b39c.2c1f9c"]]},{"id":"f1ba9065.87e72","type":"api-current-state","z":"3bcf3fd4.05a5","name":"Get Alarm Time","server":"fc8b58e2.3dac88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.house_wakeup_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":200,"wires":[["133ad001.a36d48"]]},{"id":"e8970a0a.485a98","type":"inject","z":"3bcf3fd4.05a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["7ceb44bb.5ed1fc"]]},{"id":"7ceb44bb.5ed1fc","type":"api-current-state","z":"3bcf3fd4.05a5","name":"House Alarm On?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_alarm_enable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":60,"wires":[["f1ba9065.87e72","fc60fc9e.dcbcc8"],[]]},{"id":"fc60fc9e.dcbcc8","type":"moment","z":"3bcf3fd4.05a5","name":"Current Time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":630,"y":60,"wires":[["e33d1e54.66e6b"]]},{"id":"133ad001.a36d48","type":"moment","z":"3bcf3fd4.05a5","name":"Alarm - Start time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":650,"y":120,"wires":[["e33d1e54.66e6b"]]},{"id":"e33d1e54.66e6b","type":"join","z":"3bcf3fd4.05a5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":80,"wires":[["ce279533.931408"]]},{"id":"ce279533.931408","type":"function","z":"3bcf3fd4.05a5","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1060,"y":60,"wires":[["258e46c0.714702"]]},{"id":"258e46c0.714702","type":"switch","z":"3bcf3fd4.05a5","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":140,"wires":[["2233b68f.3acda2","eef5dfb9.5cc668"]]},{"id":"cad2aabe.9c046","type":"api-call-service","z":"3bcf3fd4.05a5","name":"CJ - WakeUp","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":80,"wires":[["931f1029.6b89e"]]},{"id":"23d43e3b.0dd76a","type":"api-call-service","z":"3bcf3fd4.05a5","name":"Jen - WakeUp","server":"fc8b58e2.3dac88","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":160,"wires":[["931f1029.6b89e"]]},{"id":"8df7bbde.356d2","type":"api-call-service","z":"3bcf3fd4.05a5","name":"Turn off House alarm","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.house_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1740,"y":240,"wires":[[]]},{"id":"931f1029.6b89e","type":"function","z":"3bcf3fd4.05a5","name":"Switch to off","func":"switch (msg.payload){\n    case \"on\":\n    msg.payload = \"off\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":120,"wires":[["8df7bbde.356d2"]]},{"id":"e5bc4812.f9703","type":"bigtimer","z":"4c55ceae.afebe8","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Nightlite timer","comment":"Sleep time","lat":"42.640212","lon":"-83.136262","starttime":"180","endtime":"240","starttime2":0,"endtime2":0,"startoff":"-5","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":660,"y":40,"wires":[["6fbabb38.7492bc"],[],[]]},{"id":"6fbabb38.7492bc","type":"switch","z":"4c55ceae.afebe8","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":910,"y":40,"wires":[["df7d7078.f41398"],["7acc05a8.0a0424"]]},{"id":"df7d7078.f41398","type":"api-current-state","z":"4c55ceae.afebe8","name":"Anyone home?","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1120,"y":40,"wires":[["fadf5774.167dd"],[]]},{"id":"fadf5774.167dd","type":"api-call-service","z":"4c55ceae.afebe8","name":"Turn nightlight(s) on","server":"fc8b58e2.3dac88","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hue_color_lamp_4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1380,"y":20,"wires":[[]]},{"id":"7acc05a8.0a0424","type":"api-call-service","z":"4c55ceae.afebe8","name":"Turn nightlight(s) off","server":"fc8b58e2.3dac88","version":1,"service_domain":"light","service":"turn_off","entityId":"light.hue_color_lamp_4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":100,"wires":[[]]},{"id":"af989310.670e6","type":"server-state-changed","z":"cbb11804.5c1638","name":"On Vacation","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.vacation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":100,"wires":[["dfc99d2.8cef46"]]},{"id":"f4d0a4fc.d8681","type":"vacation-timer","z":"cbb11804.5c1638","name":"Vacation timer (nightlites)","lat":"42.640212","lon":"-83.136262","turnOffOnDaysOff":true,"midnightSchedule":true,"onTime":"00:00","randMinutes":"30","offTime":"14:00","randOffMinutes":"0","minOnHours":"0","minOnMinutes":"10","maxOnHours":"0","maxOnMinutes":"15","stopTab":"tab-1","onPayloadType":"str","onPayloadVal":"on","onTopicVal":"","offPayloadType":"str","offPayloadVal":"off","offTopicVal":"","suspended":true,"disableMax":false,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"x":430,"y":80,"wires":[["9b9c823.f68248"]]},{"id":"ed5bb45c.7f6ac","type":"api-call-service","z":"cbb11804.5c1638","name":"Nightlite","server":"fc8b58e2.3dac88","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hue_color_lamp_4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":60,"wires":[[]]},{"id":"6e89ada4.832694","type":"vacation-timer","z":"cbb11804.5c1638","name":"Vacation timer (sunset)","lat":"42.640212","lon":"-83.136262","turnOffOnDaysOff":true,"midnightSchedule":true,"onTime":"sunset","randMinutes":"30","offTime":"14:00","randOffMinutes":"0","minOnHours":"0","minOnMinutes":"5","maxOnHours":"0","maxOnMinutes":"10","stopTab":"tab-1","onPayloadType":"str","onPayloadVal":"on","onTopicVal":"","offPayloadType":"str","offPayloadVal":"off","offTopicVal":"","suspended":true,"disableMax":false,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"x":430,"y":200,"wires":[["b4ba7b73.53d04"]]},{"id":"4817a012.8dc518","type":"api-call-service","z":"cbb11804.5c1638","name":"Nightlite","server":"fc8b58e2.3dac88","version":1,"service_domain":"light","service":"turn_off","entityId":"light.hue_color_lamp_4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":120,"wires":[[]]},{"id":"9b9c823.f68248","type":"switch","z":"cbb11804.5c1638","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":80,"wires":[["ed5bb45c.7f6ac"],["4817a012.8dc518"]]},{"id":"b4ba7b73.53d04","type":"switch","z":"cbb11804.5c1638","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":200,"wires":[["b0a9f6c3.2c4bc8"],["b16ab376.51c988"]]},{"id":"b0a9f6c3.2c4bc8","type":"api-call-service","z":"cbb11804.5c1638","name":"Side entry","server":"fc8b58e2.3dac88","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":180,"wires":[[]]},{"id":"b16ab376.51c988","type":"api-call-service","z":"cbb11804.5c1638","name":"Side entry","server":"fc8b58e2.3dac88","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":240,"wires":[[]]},{"id":"8a260c06.d7029","type":"server-state-changed","z":"3bcf3fd4.05a5","name":"House Alarm Enabled","server":"fc8b58e2.3dac88","version":1,"entityidfilter":"input_boolean.house_alarm_enable","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":300,"wires":[["da76e4bf.7d3e28","c98a5f5.a866f2"],[]]},{"id":"da76e4bf.7d3e28","type":"api-call-service","z":"3bcf3fd4.05a5","name":"Turn off individual alarm (CJ)","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":260,"wires":[[]]},{"id":"c98a5f5.a866f2","type":"api-call-service","z":"3bcf3fd4.05a5","name":"Turn off individual alarm (Jen)","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":340,"wires":[[]]},{"id":"f93f1fca.5e9d28","type":"vacation-timer","z":"cbb11804.5c1638","name":"Vacation timer (morning)","lat":"42.640212","lon":"-83.136262","turnOffOnDaysOff":true,"midnightSchedule":true,"onTime":"sunrise","randMinutes":"30","offTime":"14:00","randOffMinutes":"0","minOnHours":"0","minOnMinutes":"15","maxOnHours":"0","maxOnMinutes":"20","stopTab":"tab-1","onPayloadType":"str","onPayloadVal":"on","onTopicVal":"","offPayloadType":"str","offPayloadVal":"off","offTopicVal":"","suspended":true,"disableMax":false,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":430,"y":360,"wires":[["6af377fe.6c513"]]},{"id":"6af377fe.6c513","type":"switch","z":"cbb11804.5c1638","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":360,"wires":[["a9f09a40.e1c45","3d87035d.3b40ec"],["5153501.91e163","39616c47.b42524"]]},{"id":"a9f09a40.e1c45","type":"api-call-service","z":"cbb11804.5c1638","name":"CJ - WakeUp","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":300,"wires":[[]]},{"id":"5153501.91e163","type":"api-call-service","z":"cbb11804.5c1638","name":"CJ - WakeUp","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":420,"wires":[[]]},{"id":"3d87035d.3b40ec","type":"api-call-service","z":"cbb11804.5c1638","name":"Jen - WakeUp","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":360,"wires":[[]]},{"id":"39616c47.b42524","type":"api-call-service","z":"cbb11804.5c1638","name":"Jen - WakeUp","server":"fc8b58e2.3dac88","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":480,"wires":[[]]},{"id":"dfc99d2.8cef46","type":"api-current-state","z":"cbb11804.5c1638","name":"Nobody home","server":"fc8b58e2.3dac88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":200,"wires":[["f4d0a4fc.d8681","6e89ada4.832694","f93f1fca.5e9d28"],[]]},{"id":"1079bda9.cf28aa","type":"inject","z":"4c55ceae.afebe8","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":20,"wires":[["e5bc4812.f9703"]]},{"id":"e8e3b992.88cfc","type":"inject","z":"4c55ceae.afebe8","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":349.5,"y":54,"wires":[["e5bc4812.f9703"]]},{"id":"e5eefd94.ecd838","type":"inject","z":"4c55ceae.afebe8","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":349.5,"y":88,"wires":[["e5bc4812.f9703"]]},{"id":"483c386.62e45c8","type":"inject","z":"4c55ceae.afebe8","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":120,"wires":[["e5bc4812.f9703"]]}]