flows.json
[{"id":"5a64306a.6fec98","type":"tab","label":"Presence","disabled":false,"info":"This flow tracks if anybody is home and marks the house occupied or away."},{"id":"9ab9f198.285b1","type":"tab","label":"Scheduled lighting","disabled":false,"info":""},{"id":"9eeb0d55.a72a4","type":"tab","label":"Lighting displays","disabled":false,"info":""},{"id":"3d183616.022e8a","type":"tab","label":"Motion Lighting","disabled":false,"info":""},{"id":"3413a3a8.0b47ec","type":"tab","label":"Housemode","disabled":false,"info":""},{"id":"a3786024.e3e72","type":"tab","label":"WFH","disabled":false,"info":""},{"id":"395a3554.de723a","type":"tab","label":"WakeUp Alarm","disabled":false,"info":"This routine controls wakeup light routines"},{"id":"6006f1f.70c981","type":"tab","label":"HVAC","disabled":false,"info":""},{"id":"6a42a57e.13de6c","type":"tab","label":"System","disabled":false,"info":""},{"id":"dea3efe6.177488","type":"tab","label":"Current State","disabled":true,"info":""},{"id":"d78a1efb.7cd88","type":"subflow","name":"lights off except payload","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"f3f71bc3.c6e128"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"543e2171.45071","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"a67ec1d5.a78ec8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d9290584.0e4fc","type":"light-scheduler-settings","name":"my settings","latitude":"42.640130","longitude":"-83.136600"},{"id":"19f2fec8.28ebf1","type":"mqtt-broker","name":"HASSIO Mosquitto Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"830a64ce.10cec","type":"server-state-changed","z":"5a64306a.6fec98","name":"Jen Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jenhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":500,"wires":[["5b9b7858.adcca"]]},{"id":"e4a27db.5c01d","type":"server-state-changed","z":"5a64306a.6fec98","name":"CJ Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cjhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":101.5,"y":559,"wires":[["7f938739.0fefe8"]]},{"id":"2fd6c525.e0406a","type":"api-current-state","z":"5a64306a.6fec98","name":"Jen Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":620,"wires":[["deecaa1c.884128"],[]]},{"id":"15906abb.f6fcbd","type":"api-current-state","z":"5a64306a.6fec98","name":"CJ Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":560,"wires":[["deecaa1c.884128"],[]]},{"id":"78c7a910.298c08","type":"api-current-state","z":"5a64306a.6fec98","name":"House Guests","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.houseguests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1000,"y":680,"wires":[["36807d52.25b5e2"],[]]},{"id":"36807d52.25b5e2","type":"api-call-service","z":"5a64306a.6fec98","name":"Away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":620,"wires":[[]]},{"id":"453c4ca8.cc1ba4","type":"api-call-service","z":"5a64306a.6fec98","name":"CJ Home","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cjhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":80,"wires":[[]]},{"id":"766fffef.a2e368","type":"server-state-changed","z":"5a64306a.6fec98","name":"CJ Location","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.google_maps_103298389060901230903","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":40,"wires":[["514f7f23.60043"],["453c4ca8.cc1ba4"]]},{"id":"8eac6eda.443cb","type":"server-state-changed","z":"5a64306a.6fec98","name":"Jen Location","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.google_maps_109285548108349468571","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":160,"wires":[["6f0bfe60.f83b7"],["d3111dd3.9880d"]]},{"id":"514f7f23.60043","type":"api-call-service","z":"5a64306a.6fec98","name":"CJ Away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cjhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":20,"wires":[[]]},{"id":"6f0bfe60.f83b7","type":"api-call-service","z":"5a64306a.6fec98","name":"Jen Away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jenhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":140,"wires":[[]]},{"id":"ac1c1d9c.e049e","type":"api-call-service","z":"5a64306a.6fec98","name":"Home","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.occupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":500,"wires":[[]]},{"id":"6a79b8ad.dfee7","type":"server-state-changed","z":"5a64306a.6fec98","name":"Guests Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.houseguests","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":95.5,"y":712,"wires":[["f91db820.964808"]]},{"id":"8d172939.4a0e88","type":"api-current-state","z":"5a64306a.6fec98","name":"CJ Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":680,"wires":[["ea980aaf.ecd08"],[]]},{"id":"ea980aaf.ecd08","type":"api-current-state","z":"5a64306a.6fec98","name":"Jen Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":790,"y":680,"wires":[["78c7a910.298c08"],[]]},{"id":"f6a3e59c.298908","type":"bigtimer","z":"9ab9f198.285b1","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Exterior Light Timer","comment":"Dusk to Dawn timer","lat":"42.640212","lon":"-83.136262","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":"-5","startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":690,"y":160,"wires":[["a54b5a39.60b848"],[],[]]},{"id":"a346cc18.22b1b8","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":190,"y":100,"wires":[["f6a3e59c.298908"]]},{"id":"7c09733f.a18cbc","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":190,"y":140,"wires":[["f6a3e59c.298908"]]},{"id":"c264ad41.ac7d","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":190,"y":180,"wires":[["f6a3e59c.298908","c90a3369.ce513"]]},{"id":"a54b5a39.60b848","type":"switch","z":"9ab9f198.285b1","name":"Gen. Ext. Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":80,"wires":[["7dc84be0.8a344c"],["ea167794.c7d128"]]},{"id":"7dc84be0.8a344c","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn On - Exterior Lights","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_55f0fe, switch.shelly_shsw_pm_c44770, switch.shelly_shsw_pm_c45421","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":40,"wires":[[]]},{"id":"b8eed97b.8a2b8","type":"api-call-service","z":"5a64306a.6fec98","name":"Tori Home","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.torihome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":320,"wires":[[]]},{"id":"481ed4f9.75ae74","type":"server-state-changed","z":"5a64306a.6fec98","name":"Tori Location","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.google_maps_104665180205749213751","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":280,"wires":[["79c7a2cb.245ca4"],["b8eed97b.8a2b8"]]},{"id":"79c7a2cb.245ca4","type":"api-call-service","z":"5a64306a.6fec98","name":"Tori Away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.torihome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":260,"wires":[[]]},{"id":"d3dd8630.0ed3e","type":"api-call-service","z":"5a64306a.6fec98","name":"Seb Away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sebhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":380,"wires":[[]]},{"id":"ada1a148.8ec788","type":"server-state-changed","z":"5a64306a.6fec98","name":"Seb Location","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.google_maps_108388660046996653768","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":400,"wires":[["d3dd8630.0ed3e"],["5e7dad82.53d834"]]},{"id":"2187585a.4b6b9","type":"server-state-changed","z":"5a64306a.6fec98","name":"Tori Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.torihome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":104.5,"y":615,"wires":[["f91db820.964808"]]},{"id":"552dafb1.b0a2e8","type":"server-state-changed","z":"5a64306a.6fec98","name":"Seb Home","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sebhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":104.5,"y":662,"wires":[["f91db820.964808"]]},{"id":"44fa7ef7.f4738","type":"switch","z":"9ab9f198.285b1","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Disabled","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":170,"y":280,"wires":[["f6a3e59c.298908","c90a3369.ce513"],["f6a3e59c.298908"],["f6a3e59c.298908"],["d4fb94dc.f84d88"],["798835bb.cf0cc4"]]},{"id":"22d0b48e.bedf14","type":"server-state-changed","z":"9ab9f198.285b1","name":"Ext light override","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.exterior_light_schedule","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":400,"wires":[["44fa7ef7.f4738"]]},{"id":"ea167794.c7d128","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn Off - Exterior Lights","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_55f0fe, switch.shelly_shsw_pm_c44770, switch.shelly_shsw_pm_c45421","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":120,"wires":[[]]},{"id":"957c316.65f9a5","type":"api-current-state","z":"395a3554.de723a","name":"CJ Home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1170,"y":100,"wires":[["171fcb6d.ba8f9d"],[]]},{"id":"ca3c001f.c41f5","type":"api-current-state","z":"395a3554.de723a","name":"Jen Home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1170,"y":160,"wires":[["874ca11e.069208"],[]]},{"id":"ef20424e.51ab","type":"api-call-service","z":"9ab9f198.285b1","name":"Return to Auto","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.exterior_light_schedule\",\"option\":\"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":1340,"wires":[[]]},{"id":"5345270c.208c","type":"api-current-state","z":"9ab9f198.285b1","name":"Exterior Is it NOT Auto","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.exterior_light_schedule","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":1340,"wires":[["ef20424e.51ab"],[]]},{"id":"8ca1f8e7.aa5298","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":190,"y":220,"wires":[["f6a3e59c.298908"]]},{"id":"a0dcb91e.910128","type":"geofence","z":"dea3efe6.177488","name":"BHS","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":42.49476622000377,"longitude":-83.18349945551745},{"latitude":42.494900703284976,"longitude":-83.17945468432299},{"latitude":42.49603984418469,"longitude":-83.17954051501147},{"latitude":42.495897452706984,"longitude":-83.18352091318957}],"centre":{},"x":650,"y":220,"wires":[["ca5d5cb6.6e4cd"]]},{"id":"31394a1a.cabfee","type":"api-current-state","z":"dea3efe6.177488","name":"CJ Phone","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"device_tracker.google_maps_103298389060901230903","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":120,"wires":[["bb1bb7d4.f4ff5","a0dcb91e.910128"]]},{"id":"202921ae.77d2ce","type":"inject","z":"dea3efe6.177488","name":"","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["31394a1a.cabfee","182e78a7.9f5677","169bf609.9c84ba","2a91645b.daa29c"]]},{"id":"e33933f5.05b6b","type":"change","z":"dea3efe6.177488","name":"Battery Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.attributes.battery_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":40,"wires":[[]]},{"id":"169bf609.9c84ba","type":"api-current-state","z":"dea3efe6.177488","name":"Tori Phone","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.google_maps_104665180205749213751","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":240,"wires":[["bb1bb7d4.f4ff5","a0dcb91e.910128"]]},{"id":"2a91645b.daa29c","type":"api-current-state","z":"dea3efe6.177488","name":"Seb Phone","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.google_maps_108388660046996653768","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":300,"wires":[["bb1bb7d4.f4ff5","a0dcb91e.910128"]]},{"id":"182e78a7.9f5677","type":"api-current-state","z":"dea3efe6.177488","name":"Jen Phone","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.google_maps_109285548108349468571","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":180,"wires":[["bb1bb7d4.f4ff5","a0dcb91e.910128"]]},{"id":"bb1bb7d4.f4ff5","type":"change","z":"dea3efe6.177488","name":"Friendly name","rules":[{"t":"set","p":"topic","pt":"msg","to":"data.attributes.nickname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":40,"wires":[["e33933f5.05b6b","56c101a2.7e28e8"]]},{"id":"56c101a2.7e28e8","type":"change","z":"dea3efe6.177488","name":"LatLon","rules":[{"t":"set","p":"location.lat","pt":"msg","to":"data.attributes.latitude","tot":"msg"},{"t":"set","p":"location.lon","pt":"msg","to":"data.attributes.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":100,"wires":[[]]},{"id":"84b96d51.70931","type":"geofence","z":"dea3efe6.177488","name":"Home","mode":"polyline","inside":"true","rad":0,"points":[{"latitude":42.64065768113761,"longitude":-83.13672602176666},{"latitude":42.64090036918847,"longitude":-83.13674211502075},{"latitude":42.64089859343772,"longitude":-83.13594040276257},{"latitude":42.64065985153479,"longitude":-83.13594040276257}],"centre":{},"x":650,"y":280,"wires":[[]]},{"id":"5b9b7858.adcca","type":"switch","z":"5a64306a.6fec98","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":500,"wires":[["ac1c1d9c.e049e"],["15906abb.f6fcbd"]]},{"id":"7f938739.0fefe8","type":"switch","z":"5a64306a.6fec98","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":560,"wires":[["ac1c1d9c.e049e"],["2fd6c525.e0406a"]]},{"id":"f91db820.964808","type":"switch","z":"5a64306a.6fec98","name":"Home/Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":660,"wires":[["ac1c1d9c.e049e"],["8d172939.4a0e88"]]},{"id":"deecaa1c.884128","type":"api-current-state","z":"5a64306a.6fec98","name":"Tori Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":790,"y":580,"wires":[["f67ede1e.a8631"],[]]},{"id":"f67ede1e.a8631","type":"api-current-state","z":"5a64306a.6fec98","name":"Seb Home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":580,"wires":[["78c7a910.298c08"],[]]},{"id":"d4fb94dc.f84d88","type":"function","z":"9ab9f198.285b1","name":"Manual (stop)","func":"switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":300,"wires":[["f6a3e59c.298908"]]},{"id":"798835bb.cf0cc4","type":"function","z":"9ab9f198.285b1","name":"Disabled (stop)","func":"switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["f6a3e59c.298908","c90a3369.ce513"]]},{"id":"408420ac.8200a","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Disabled","payloadType":"str","x":180,"y":340,"wires":[["798835bb.cf0cc4"]]},{"id":"962d5492.3a6e8","type":"api-current-state","z":"395a3554.de723a","name":"Get Alarm Time","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.house_wakeup_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":200,"wires":[["4e29220a.bf6de4"]]},{"id":"7c8da9be.0de7a","type":"inject","z":"395a3554.de723a","name":"","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["9fa94015.fbbd78"]]},{"id":"9fa94015.fbbd78","type":"api-current-state","z":"395a3554.de723a","name":"House Alarm On?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_alarm_enable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":60,"wires":[["962d5492.3a6e8","7088eed.e42f89"],[]]},{"id":"7088eed.e42f89","type":"moment","z":"395a3554.de723a","name":"Current Time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":610,"y":60,"wires":[["d46721d3.0e4b78"]]},{"id":"4e29220a.bf6de4","type":"moment","z":"395a3554.de723a","name":"Alarm - Start time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":630,"y":120,"wires":[["d46721d3.0e4b78"]]},{"id":"d46721d3.0e4b78","type":"join","z":"395a3554.de723a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":80,"wires":[["999f3401.d3db38"]]},{"id":"999f3401.d3db38","type":"function","z":"395a3554.de723a","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":960,"y":60,"wires":[["ae3f5040.603cb"]]},{"id":"ae3f5040.603cb","type":"switch","z":"395a3554.de723a","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":140,"wires":[["957c316.65f9a5","ca3c001f.c41f5"]]},{"id":"171fcb6d.ba8f9d","type":"api-call-service","z":"395a3554.de723a","name":"CJ - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":100,"wires":[["89d58c6d.d09c68"]]},{"id":"874ca11e.069208","type":"api-call-service","z":"395a3554.de723a","name":"Jen - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1360,"y":160,"wires":[["89d58c6d.d09c68"]]},{"id":"9d45aa21.b0689","type":"api-call-service","z":"395a3554.de723a","name":"Turn off House alarm","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.house_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":240,"wires":[[]]},{"id":"89d58c6d.d09c68","type":"function","z":"395a3554.de723a","name":"Switch to off","func":"switch (msg.payload){\n    case \"on\":\n    msg.payload = \"off\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":120,"wires":[["9d45aa21.b0689"]]},{"id":"8b47396.a62c448","type":"server-state-changed","z":"395a3554.de723a","name":"House Alarm Enabled","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.house_alarm_enable","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":300,"wires":[["335309ad.599326","36b4cd3.ac76bb2"],[]]},{"id":"335309ad.599326","type":"api-call-service","z":"395a3554.de723a","name":"Turn off individual alarm (CJ)","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":260,"wires":[[]]},{"id":"36b4cd3.ac76bb2","type":"api-call-service","z":"395a3554.de723a","name":"Turn off individual alarm (Jen)","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":340,"wires":[[]]},{"id":"b2c44acc.9556b8","type":"bigtimer","z":"9ab9f198.285b1","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Room NightLight Timer","comment":"Sleep time","lat":"42.640212","lon":"-83.136262","starttime":"1290","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":"-5","startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":700,"y":580,"wires":[["adf7012f.eae3f"],[],[]]},{"id":"adf7012f.eae3f","type":"switch","z":"9ab9f198.285b1","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":910,"y":560,"wires":[["f82e3463.723ec8"],["61886145.b2632"]]},{"id":"797290cd.0a36a","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":190,"y":520,"wires":[["b2c44acc.9556b8"]]},{"id":"f1ffa9.e7162058","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":189.5,"y":554,"wires":[["b2c44acc.9556b8"]]},{"id":"771c6893.f3e378","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":189.5,"y":588,"wires":[["b2c44acc.9556b8","42eeee1e.f30bf"]]},{"id":"f82e3463.723ec8","type":"api-current-state","z":"9ab9f198.285b1","name":"Tori home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.torihome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1090,"y":540,"wires":[["3b2fc169.0084ae"],["61886145.b2632"]]},{"id":"d3913712.99e3a8","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":190,"y":620,"wires":[["b2c44acc.9556b8"]]},{"id":"4d4cfdff.5e9824","type":"bigtimer","z":"9ab9f198.285b1","outtopic":"","outpayload1":"Auto","outpayload2":"Auto","name":"Reset to Auto Timer","comment":"Dusk to Dawn timer","lat":"42.640212","lon":"-83.136262","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":"-5","startoff2":0,"endoff2":0,"offs":0,"outtext1":"Auto","outtext2":"Auto","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":230,"y":1400,"wires":[["d1dbf69e.3b0a18","5345270c.208c","6e83395d.ae3bf8"],[],[]]},{"id":"d1dbf69e.3b0a18","type":"api-current-state","z":"9ab9f198.285b1","name":"General Is it NOT Auto","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.nightlite_override","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":1400,"wires":[["84b8f059.b60a7"],[]]},{"id":"5bd6bd8f.281a64","type":"switch","z":"9ab9f198.285b1","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Disabled","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":170,"y":680,"wires":[["b2c44acc.9556b8","42eeee1e.f30bf"],["b2c44acc.9556b8"],["b2c44acc.9556b8"],["82795211.663ed"],["fc8a60a4.e0163"]]},{"id":"82795211.663ed","type":"function","z":"9ab9f198.285b1","name":"Manual (stop)","func":"switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":700,"wires":[["b2c44acc.9556b8"]]},{"id":"84b8f059.b60a7","type":"api-call-service","z":"9ab9f198.285b1","name":"Return to Auto","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.nightlite_override\",\"option\":\"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":1400,"wires":[[]]},{"id":"fc8a60a4.e0163","type":"function","z":"9ab9f198.285b1","name":"Disabled (stop)","func":"switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":740,"wires":[["b2c44acc.9556b8","42eeee1e.f30bf"]]},{"id":"924a27d5.5ecbe8","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Disabled","payloadType":"str","x":180,"y":740,"wires":[["fc8a60a4.e0163"]]},{"id":"1888f866.7fc8e8","type":"server-state-changed","z":"5a64306a.6fec98","name":"On Vacation","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.vacation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":820,"wires":[["d70a4ed0.dc8e4"]]},{"id":"f8893c0e.23c29","type":"vacation-timer","z":"5a64306a.6fec98","name":"Vacation timer (nightlites)","lat":"42.640212","lon":"-83.136262","turnOffOnDaysOff":true,"midnightSchedule":true,"onTime":"00:00","randMinutes":"30","offTime":"14:00","randOffMinutes":"0","minOnHours":"0","minOnMinutes":"10","maxOnHours":"0","maxOnMinutes":"15","stopTab":"tab-1","onPayloadType":"str","onPayloadVal":"on","onTopicVal":"","offPayloadType":"str","offPayloadVal":"off","offTopicVal":"","suspended":true,"disableMax":false,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"x":430,"y":800,"wires":[["cd21998a.438828"]]},{"id":"285c4b91.93a334","type":"api-call-service","z":"5a64306a.6fec98","name":"Nightlite On","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hue_color_lamp_4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":780,"wires":[[]]},{"id":"4541732b.e3982c","type":"vacation-timer","z":"5a64306a.6fec98","name":"Vacation timer (sunset)","lat":"42.640212","lon":"-83.136262","turnOffOnDaysOff":true,"midnightSchedule":true,"onTime":"sunset","randMinutes":"30","offTime":"14:00","randOffMinutes":"0","minOnHours":"0","minOnMinutes":"5","maxOnHours":"0","maxOnMinutes":"10","stopTab":"tab-1","onPayloadType":"str","onPayloadVal":"on","onTopicVal":"","offPayloadType":"str","offPayloadVal":"off","offTopicVal":"","suspended":true,"disableMax":false,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"x":420,"y":920,"wires":[["2c899eb8.7da1b2"]]},{"id":"4d68ba41.9e0004","type":"api-call-service","z":"5a64306a.6fec98","name":"Nightlite Off","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hue_color_lamp_4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":840,"wires":[[]]},{"id":"cd21998a.438828","type":"switch","z":"5a64306a.6fec98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":800,"wires":[["285c4b91.93a334"],["4d68ba41.9e0004"]]},{"id":"2c899eb8.7da1b2","type":"switch","z":"5a64306a.6fec98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":920,"wires":[["a09db435.705e58"],["5a83d9ad.d4e638"]]},{"id":"a09db435.705e58","type":"api-call-service","z":"5a64306a.6fec98","name":"Side entry On","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":900,"wires":[[]]},{"id":"5a83d9ad.d4e638","type":"api-call-service","z":"5a64306a.6fec98","name":"Side entry Off","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":960,"wires":[[]]},{"id":"9035c0d4.c76ae","type":"vacation-timer","z":"5a64306a.6fec98","name":"Vacation timer (morning)","lat":"42.640212","lon":"-83.136262","turnOffOnDaysOff":true,"midnightSchedule":true,"onTime":"sunrise","randMinutes":"30","offTime":"14:00","randOffMinutes":"0","minOnHours":"0","minOnMinutes":"15","maxOnHours":"0","maxOnMinutes":"20","stopTab":"tab-1","onPayloadType":"str","onPayloadVal":"on","onTopicVal":"","offPayloadType":"str","offPayloadVal":"off","offTopicVal":"","suspended":true,"disableMax":false,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":430,"y":1080,"wires":[["a183e0d6.c9b5c"]]},{"id":"a183e0d6.c9b5c","type":"switch","z":"5a64306a.6fec98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":1080,"wires":[["2e83b43f.3c95dc","1c19da6a.e815b6"],["7986d12.296473","a34a0771.f43188"]]},{"id":"2e83b43f.3c95dc","type":"api-call-service","z":"5a64306a.6fec98","name":"CJ - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1020,"wires":[[]]},{"id":"7986d12.296473","type":"api-call-service","z":"5a64306a.6fec98","name":"CJ - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1140,"wires":[[]]},{"id":"1c19da6a.e815b6","type":"api-call-service","z":"5a64306a.6fec98","name":"Jen - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1080,"wires":[[]]},{"id":"a34a0771.f43188","type":"api-call-service","z":"5a64306a.6fec98","name":"Jen - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1200,"wires":[[]]},{"id":"d70a4ed0.dc8e4","type":"api-current-state","z":"5a64306a.6fec98","name":"Nobody home","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":920,"wires":[["f8893c0e.23c29","4541732b.e3982c","9035c0d4.c76ae"],[]]},{"id":"98a70bb6.cc07c8","type":"switch","z":"5a64306a.6fec98","name":"heat/cool","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"cool","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":1400,"wires":[["d38b09b8.012dd8"],["9f748e7b.39d61"]]},{"id":"771edbf9.e2d874","type":"api-current-state","z":"5a64306a.6fec98","name":"HVAC Mode","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.hallway_thermostat","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":1400,"wires":[["98a70bb6.cc07c8"]]},{"id":"d38b09b8.012dd8","type":"api-current-state","z":"5a64306a.6fec98","name":"Get Heat Comfort Temp","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_comfort_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":1360,"wires":[["e30a768b.89c808"]]},{"id":"9f748e7b.39d61","type":"api-current-state","z":"5a64306a.6fec98","name":"Get Cool Comfort Temp","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_comfort_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":1440,"wires":[["f24c24ef.009738"]]},{"id":"7e904f42.f3672","type":"api-call-service","z":"5a64306a.6fec98","name":"Turn off Eco","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"","data":"{\"entity_id\":\"climate.hallway_thermostat\",\"preset_mode\":\"none\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":1320,"wires":[["771edbf9.e2d874"]]},{"id":"58dd00c5.7bfed","type":"api-call-service","z":"5a64306a.6fec98","name":"Set comfort temp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"","data":"{\"entity_id\":\"climate.hallway_thermostat\",\"temperature\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":1400,"wires":[[]]},{"id":"9a1785b.df57278","type":"api-current-state","z":"5a64306a.6fec98","name":"Vacation mode off?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.vacation","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":1320,"wires":[["7e904f42.f3672"],[]]},{"id":"d3d4cb52.fe5a28","type":"api-call-service","z":"5a64306a.6fec98","name":"Set Eco","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"","data":"{\"entity_id\":\"climate.hallway_thermostat\",\"preset_mode\":\"eco\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1260,"wires":[[]]},{"id":"ca5d5cb6.6e4cd","type":"api-call-service","z":"dea3efe6.177488","name":"HA Notification","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":180,"wires":[[]]},{"id":"a648ca93.7e5aa8","type":"server-state-changed","z":"5a64306a.6fec98","name":"Anybody Home?","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.occupied","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":300,"y":1260,"wires":[["d3d4cb52.fe5a28"],["7e904f42.f3672"]]},{"id":"ac0cf3ca.0206c","type":"light-scheduler","z":"5a64306a.6fec98","settings":"d9290584.0e4fc","events":"[{\"start\":{\"dow\":2,\"mod\":930},\"end\":{\"dow\":2,\"mod\":1080}},{\"start\":{\"dow\":4,\"mod\":930},\"end\":{\"dow\":4,\"mod\":1080}},{\"start\":{\"dow\":1,\"mod\":930},\"end\":{\"dow\":1,\"mod\":1080}},{\"start\":{\"dow\":3,\"mod\":930},\"end\":{\"dow\":3,\"mod\":1080}},{\"start\":{\"dow\":5,\"mod\":930},\"end\":{\"dow\":5,\"mod\":1080}}]","topic":"","name":"Trigger Pre-stage","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":"0","sunShowElevationInStatus":false,"outputfreq":"output.minutely","x":130,"y":1200,"wires":[["633aa83d.1c4498"]]},{"id":"633aa83d.1c4498","type":"switch","z":"5a64306a.6fec98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":110,"y":1320,"wires":[["9a1785b.df57278"]]},{"id":"222f0138.61e71e","type":"link in","z":"9ab9f198.285b1","name":"Receive Return to Auto","links":["42eeee1e.f30bf","f29a32ed.ee9cc","c90a3369.ce513","3f06f6cd.a8a89a","68d4d7d5.bbaad8","e15efb0e.fcfce8","d6146424.4a65e8"],"x":95,"y":1400,"wires":[["4d4cfdff.5e9824"]]},{"id":"42eeee1e.f30bf","type":"link out","z":"9ab9f198.285b1","name":"Send to Return to Auto","links":["222f0138.61e71e","8d43aac2.e75b18"],"x":595,"y":660,"wires":[]},{"id":"c90a3369.ce513","type":"link out","z":"9ab9f198.285b1","name":"Send to Return to Auto","links":["222f0138.61e71e","8d43aac2.e75b18"],"x":595,"y":260,"wires":[]},{"id":"6e83395d.ae3bf8","type":"api-current-state","z":"9ab9f198.285b1","name":"Room Is it NOT Auto","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.room_nightlite_override","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":1460,"wires":[["82924ddf.e11a8"],[]]},{"id":"82924ddf.e11a8","type":"api-call-service","z":"9ab9f198.285b1","name":"Return to Auto","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.room_nightlite_override\",\"option\":\"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":1460,"wires":[[]]},{"id":"dd68f2e2.4db45","type":"server-state-changed","z":"9ab9f198.285b1","name":"Room nightlight override","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.room_nightlite_override","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":800,"wires":[["5bd6bd8f.281a64"]]},{"id":"d2b46964.bd05c","type":"server-state-changed","z":"3d183616.022e8a","name":"Kitchen Motion","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.multisensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":220,"wires":[["e5f727c.bb6db58"],[]]},{"id":"e5f727c.bb6db58","type":"switch","z":"3d183616.022e8a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":220,"wires":[["315cc236.bf881e","b920dddd.1db4e"],[]]},{"id":"53ae5281.3c80ec","type":"api-current-state","z":"3d183616.022e8a","name":"Light 1 Already On?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.shelly_shblb_1_bc8574","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":660,"wires":[["748afe59.807cb"],[]]},{"id":"15ce389b.201127","type":"server-state-changed","z":"6a42a57e.13de6c","name":"HACS Updates","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":" sensor.hacs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":140,"y":100,"wires":[["f85cc426.470148"],[]]},{"id":"1d4a69e0.f91d36","type":"server-state-changed","z":"6a42a57e.13de6c","name":"HA Updates","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.updater","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":160,"wires":[["f85cc426.470148"],[]]},{"id":"3bae6663.82967a","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Side Entry Shelly Update","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.shelly_shsw_1_55e7ad","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":220,"wires":[["c080203d.62b6d"]]},{"id":"757b3778.9586b8","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Tori Nightlight Shelly Update","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.shelly_shsw_1_93f489","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":340,"wires":[["c080203d.62b6d"]]},{"id":"ae54d8ce.63e108","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Landing lights Shelly Update","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.shelly_shsw_1_55f0fe","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":280,"wires":[["c080203d.62b6d"]]},{"id":"c080203d.62b6d","type":"switch","z":"6a42a57e.13de6c","name":"Has Update","property":"attributes.has_firmware_update","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":280,"wires":[["f85cc426.470148"]]},{"id":"418e3b79.afafb4","type":"api-call-service","z":"6a42a57e.13de6c","name":"HA Notify","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"title\":\"Updates available\",\"message\":\"Updates to HA components are available.  Please test first!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":180,"wires":[[]]},{"id":"59e2d4bd.a335fc","type":"link in","z":"6a42a57e.13de6c","name":"HA Notifications","links":["f85cc426.470148"],"x":1035,"y":180,"wires":[["418e3b79.afafb4"]]},{"id":"f85cc426.470148","type":"link out","z":"6a42a57e.13de6c","name":"Send Update Notifications","links":["59e2d4bd.a335fc","dda55c28.b306e"],"x":755,"y":180,"wires":[]},{"id":"dda55c28.b306e","type":"link in","z":"6a42a57e.13de6c","name":"Mobile Notificatons","links":["f85cc426.470148"],"x":1035,"y":280,"wires":[["2e4484c6.1d415c"]]},{"id":"2e4484c6.1d415c","type":"e-mail","z":"6a42a57e.13de6c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"2036904969@tmomail.net","dname":"Home Assistant - Prod","x":1200,"y":280,"wires":[]},{"id":"31bac105.18f15e","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Side Entry Shelly Update","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.shelly_shsw_pm_c44770","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":400,"wires":[["c080203d.62b6d"]]},{"id":"cc9deddd.a298c","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Side Entry Shelly Update","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.shelly_shsw_pm_c45421","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":460,"wires":[["c080203d.62b6d"]]},{"id":"e635ad7d.570e3","type":"api-current-state","z":"3d183616.022e8a","name":"Light 2 Already On?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.shelly_shblb_1_bc8588","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":720,"wires":[["748afe59.807cb"],[]]},{"id":"eed21cd8.1d3ae","type":"function","z":"3d183616.022e8a","name":"Initialize Brightness","func":"flow.set(\"brightness\", 50);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":210,"y":540,"wires":[[]]},{"id":"748afe59.807cb","type":"function","z":"3d183616.022e8a","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":900,"y":680,"wires":[["f362bb12.2aef68"]]},{"id":"6927e8cb.35c618","type":"function","z":"3d183616.022e8a","name":"Reset Brightness","func":"flow.set(\"brightness\", 0);\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":870,"y":580,"wires":[[]]},{"id":"47715d84.954074","type":"server-state-changed","z":"9ab9f198.285b1","name":"Nightlight override","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.nightlite_override","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":1160,"wires":[["62898308.a501fc"]]},{"id":"8276c494.248f38","type":"bigtimer","z":"9ab9f198.285b1","outtopic":"","outpayload1":"on","outpayload2":"off","name":"General Nightlight timer","comment":"Sleep time","lat":"42.640212","lon":"-83.136262","starttime":"1320","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":"10","startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":710,"y":980,"wires":[["c2f0d410.2b6e98"],[],[]]},{"id":"c2f0d410.2b6e98","type":"switch","z":"9ab9f198.285b1","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1010,"y":1040,"wires":[["d4f57d29.11a6"],["5904e3c7.2de50c"]]},{"id":"d4f57d29.11a6","type":"api-current-state","z":"9ab9f198.285b1","name":"Anyone home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1240,"y":1000,"wires":[["36894402.a5bf3c"],["5904e3c7.2de50c"]]},{"id":"ed94ebf7.34fed8","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":190,"y":920,"wires":[["8276c494.248f38"]]},{"id":"30c44614.1ad43a","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":189.5,"y":954,"wires":[["8276c494.248f38"]]},{"id":"cb3b1e2d.0c7fb","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":189.5,"y":988,"wires":[["8276c494.248f38","68d4d7d5.bbaad8"]]},{"id":"2db12bad.6e6b84","type":"inject","z":"9ab9f198.285b1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":190,"y":1020,"wires":[["8276c494.248f38"]]},{"id":"62898308.a501fc","type":"switch","z":"9ab9f198.285b1","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Disabled","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":170,"y":1080,"wires":[["8276c494.248f38","68d4d7d5.bbaad8"],["8276c494.248f38"],["8276c494.248f38"],["2c64bcc7.8c0304"],["ae2215c1.eff8c8"]]},{"id":"2c64bcc7.8c0304","type":"function","z":"9ab9f198.285b1","name":"Manual (stop)","func":"switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1100,"wires":[["8276c494.248f38"]]},{"id":"ae2215c1.eff8c8","type":"function","z":"9ab9f198.285b1","name":"Disabled (stop)","func":"switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1140,"wires":[["8276c494.248f38","68d4d7d5.bbaad8"]]},{"id":"68d4d7d5.bbaad8","type":"link out","z":"9ab9f198.285b1","name":"Send to Return to Auto","links":["222f0138.61e71e","8d43aac2.e75b18"],"x":595,"y":1060,"wires":[]},{"id":"e30a768b.89c808","type":"api-current-state","z":"5a64306a.6fec98","name":"Current setpoint < Comfort Temp (Heat)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"payload","halt_if_type":"msg","halt_if_compare":"lt","override_topic":false,"entity_id":"climate.hallway_thermostat","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1180,"y":1360,"wires":[["58dd00c5.7bfed"],[]]},{"id":"f24c24ef.009738","type":"api-current-state","z":"5a64306a.6fec98","name":"Current setpoint > Comfort Temp (Cool)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"payload","halt_if_type":"msg","halt_if_compare":"gt","override_topic":false,"entity_id":"climate.hallway_thermostat","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1180,"y":1440,"wires":[["58dd00c5.7bfed"],[]]},{"id":"ad35d626.f43518","type":"comment","z":"9ab9f198.285b1","name":"General Nightlights","info":"","x":150,"y":880,"wires":[]},{"id":"540d2b57.8eb4c4","type":"comment","z":"9ab9f198.285b1","name":"Room Nightlights","info":"","x":160,"y":480,"wires":[]},{"id":"3d55d919.73e8a6","type":"comment","z":"9ab9f198.285b1","name":"Exterior Lights","info":"","x":170,"y":60,"wires":[]},{"id":"f3f71bc3.c6e128","type":"ha-get-entities","z":"d78a1efb.7cd88","server":"543e2171.45071","name":"","rules":[{"property":"entity_id","logic":"is","value":"topic","valueType":"msg"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":180,"y":60,"wires":[["8267e0c1.6ad97"]]},{"id":"8267e0c1.6ad97","type":"split","z":"d78a1efb.7cd88","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":60,"wires":[["1dffed1d.dedd43"]]},{"id":"1dffed1d.dedd43","type":"api-current-state","z":"d78a1efb.7cd88","name":"light is on","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ payload.entity_id }}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":60,"wires":[["b5fe7455.166e08"],[]]},{"id":"b5fe7455.166e08","type":"api-call-service","z":"d78a1efb.7cd88","name":"light_turn_off","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"{{ payload.entity_id }}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":60,"wires":[[]]},{"id":"315cc236.bf881e","type":"stoptimer","z":"3d183616.022e8a","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":480,"y":300,"wires":[["ba566423.14c0a8"],[]]},{"id":"b920dddd.1db4e","type":"api-current-state","z":"3d183616.022e8a","name":"Nightlight Motion Enabled?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.nightlight_motion_enabled","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":220,"wires":[["da84a359.da616"],[]]},{"id":"36894402.a5bf3c","type":"api-call-service","z":"9ab9f198.285b1","name":"Nightlight Motion Enabled","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.nightlight_motion_enabled","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":980,"wires":[[]]},{"id":"5904e3c7.2de50c","type":"api-call-service","z":"9ab9f198.285b1","name":"Nightlight Motion Disabled","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.nightlight_motion_enabled","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":1040,"wires":[[]]},{"id":"c7a926f.b8193d8","type":"function","z":"9ab9f198.285b1","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":880,"y":860,"wires":[["7dd5dfe1.1841e"]]},{"id":"fe593c50.b323d","type":"function","z":"9ab9f198.285b1","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":880,"y":800,"wires":[["8648db06.4d1078"]]},{"id":"21d2a748.d0e078","type":"switch","z":"9ab9f198.285b1","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":670,"y":840,"wires":[["fe593c50.b323d","c7a926f.b8193d8"],[]]},{"id":"f362bb12.2aef68","type":"api-call-service","z":"3d183616.022e8a","name":"Turn On Kitchen pendants","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.shelly_shblb_1_bc8574, light.shelly_shblb_1_bc85f4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":680,"wires":[[]]},{"id":"ba566423.14c0a8","type":"api-call-service","z":"3d183616.022e8a","name":"Turn Off Kitchen pendant lights","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"switch.shelly_shsw_1_c4fdf1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":300,"wires":[[]]},{"id":"61886145.b2632","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn nightlight off","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_93f489","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":600,"wires":[[]]},{"id":"3b2fc169.0084ae","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn nightlight on","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_93f489","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":540,"wires":[[]]},{"id":"8648db06.4d1078","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn On Kitchen pendant 1","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.shelly_shblb_1_bc8574","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":800,"wires":[[]]},{"id":"7dd5dfe1.1841e","type":"api-call-service","z":"9ab9f198.285b1","name":"Turn On Kitchen pendant 2","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.shelly_shblb_1_bc85f4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":860,"wires":[[]]},{"id":"5ec15038.18774","type":"function","z":"9ab9f198.285b1","name":"Initialize Brightness","func":"flow.set(\"brightness\", 50);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":410,"y":820,"wires":[[]]},{"id":"da84a359.da616","type":"api-call-service","z":"3d183616.022e8a","name":"Turn on Kitchen pendant lights","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_c4fdf1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":220,"wires":[[]]},{"id":"1fb05cc2.bc1583","type":"api-current-state","z":"3d183616.022e8a","name":"Pendant Switch On?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_shsw_1_c4fdf1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":220,"y":600,"wires":[[],[]]},{"id":"384bd3f8.3ec50c","type":"delay","z":"3d183616.022e8a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":580,"wires":[[]]},{"id":"c24900df.48359","type":"bigtimer","z":"a3786024.e3e72","outtopic":"","outpayload1":"on","outpayload2":"off","name":"CJ Office Timer","comment":"","lat":"42.640212","lon":"-83.136262","starttime":"420","endtime":"1080","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"3","xmonth1":"7","xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":720,"y":180,"wires":[["ba629c8c.d9d99"],[],[]]},{"id":"39555ac1.0d74d6","type":"bigtimer","z":"a3786024.e3e72","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Jen Office TImer","comment":"","lat":"42.640212","lon":"-83.136262","starttime":"480","endtime":"1020","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":720,"y":520,"wires":[["2e7fbc58.49e184"],[],[]]},{"id":"bdc79280.006f9","type":"inject","z":"a3786024.e3e72","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":310,"y":60,"wires":[["c24900df.48359"]]},{"id":"c2cf40f3.b210a","type":"inject","z":"a3786024.e3e72","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":310,"y":100,"wires":[["c24900df.48359"]]},{"id":"dfd5bf41.dacf3","type":"inject","z":"a3786024.e3e72","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":310,"y":140,"wires":[["c24900df.48359","d6146424.4a65e8"]]},{"id":"a3d9797d.e33768","type":"inject","z":"a3786024.e3e72","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":310,"y":180,"wires":[["c24900df.48359"]]},{"id":"b24bc99c.dc1748","type":"switch","z":"a3786024.e3e72","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Disabled","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":290,"y":240,"wires":[["c24900df.48359","d6146424.4a65e8"],["c24900df.48359"],["c24900df.48359"],["ce438e45.caaef"],["3b8f8be.8513b74"]]},{"id":"ef3779fd.5c4c78","type":"inject","z":"a3786024.e3e72","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Disabled","payloadType":"str","x":300,"y":300,"wires":[["3b8f8be.8513b74"]]},{"id":"3b8f8be.8513b74","type":"function","z":"a3786024.e3e72","name":"Disabled (stop)","func":"switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["c24900df.48359","d6146424.4a65e8"]]},{"id":"ce438e45.caaef","type":"function","z":"a3786024.e3e72","name":"Manual (stop)","func":"switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n    case \"DIsabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":260,"wires":[["c24900df.48359"]]},{"id":"7e7ef367.8d47ac","type":"inject","z":"a3786024.e3e72","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":310,"y":400,"wires":[["39555ac1.0d74d6"]]},{"id":"6de729bc.463208","type":"inject","z":"a3786024.e3e72","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":310,"y":440,"wires":[["39555ac1.0d74d6"]]},{"id":"8cd3db3f.073c88","type":"inject","z":"a3786024.e3e72","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":310,"y":480,"wires":[["39555ac1.0d74d6","e15efb0e.fcfce8"]]},{"id":"9083f2e3.de5dc","type":"inject","z":"a3786024.e3e72","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":310,"y":520,"wires":[["39555ac1.0d74d6"]]},{"id":"96fed515.c6e6a8","type":"switch","z":"a3786024.e3e72","name":"Mode switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Disabled","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":290,"y":580,"wires":[["39555ac1.0d74d6","e15efb0e.fcfce8"],["39555ac1.0d74d6"],["39555ac1.0d74d6"],["bff32280.c969e"],["701f34d3.22357c"]]},{"id":"8fa8c714.1c1f28","type":"inject","z":"a3786024.e3e72","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Disabled","payloadType":"str","x":300,"y":640,"wires":[["701f34d3.22357c"]]},{"id":"701f34d3.22357c","type":"function","z":"a3786024.e3e72","name":"Disabled (stop)","func":"switch (msg.payload){\n    case \"Disabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":640,"wires":[["39555ac1.0d74d6","e15efb0e.fcfce8"]]},{"id":"bff32280.c969e","type":"function","z":"a3786024.e3e72","name":"Manual (stop)","func":"switch (msg.payload){\n    case \"Manual\":\n    msg.payload = \"stop\";\n    break;\n    case \"DIsabled\":\n    msg.payload = \"stop\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":600,"wires":[["39555ac1.0d74d6"]]},{"id":"ba629c8c.d9d99","type":"switch","z":"a3786024.e3e72","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":160,"wires":[["2e7700c4.dcee8"],["12ab7a1c.ed39a6"]]},{"id":"2e7fbc58.49e184","type":"switch","z":"a3786024.e3e72","name":"Lights switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":500,"wires":[["38ce8581.a380da"],["7924f65b.7c3648"]]},{"id":"b7d95ab9.dbe1c8","type":"server-state-changed","z":"a3786024.e3e72","name":"CJ WFH Override","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.cj_wfh_override","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":240,"wires":[["b24bc99c.dc1748"]]},{"id":"b2ed606c.e8445","type":"server-state-changed","z":"a3786024.e3e72","name":"Jen WFH Override","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.jen_wfh_override","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":580,"wires":[["96fed515.c6e6a8"]]},{"id":"7201e44e.6f2edc","type":"api-call-service","z":"a3786024.e3e72","name":"Turn On Cave Light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cave_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":240,"wires":[[]]},{"id":"25c9bc26.9ea8c4","type":"api-call-service","z":"a3786024.e3e72","name":"Turn Off Cave Main","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.cave_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":320,"wires":[[]]},{"id":"44878ce3.522104","type":"server-state-changed","z":"a3786024.e3e72","name":"CJ WFH?","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cj_wfh","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1140,"y":280,"wires":[["7201e44e.6f2edc"],["25c9bc26.9ea8c4"]]},{"id":"d6aff8e1.ffd838","type":"server-state-changed","z":"a3786024.e3e72","name":"Jen WFH?","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jen_wfh","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1140,"y":660,"wires":[[],[]]},{"id":"2e7700c4.dcee8","type":"api-call-service","z":"a3786024.e3e72","name":"Enable WFH","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_wfh","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":120,"wires":[[]]},{"id":"12ab7a1c.ed39a6","type":"api-call-service","z":"a3786024.e3e72","name":"Disable WFH","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_wfh","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":180,"wires":[[]]},{"id":"6f1e78b1.51db48","type":"light-scheduler","z":"6a42a57e.13de6c","settings":"d9290584.0e4fc","events":"[{\"start\":{\"dow\":1,\"mod\":240},\"end\":{\"dow\":1,\"mod\":255}},{\"start\":{\"dow\":2,\"mod\":240},\"end\":{\"dow\":2,\"mod\":255}},{\"start\":{\"dow\":3,\"mod\":240},\"end\":{\"dow\":3,\"mod\":255}},{\"start\":{\"dow\":4,\"mod\":240},\"end\":{\"dow\":4,\"mod\":255}},{\"start\":{\"dow\":5,\"mod\":240},\"end\":{\"dow\":5,\"mod\":255}},{\"start\":{\"dow\":6,\"mod\":240},\"end\":{\"dow\":6,\"mod\":255}},{\"start\":{\"dow\":0,\"mod\":240},\"end\":{\"dow\":0,\"mod\":255}}]","topic":"","name":"Once a Day","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":210,"y":620,"wires":[["79fb55a4.eae6dc"]]},{"id":"eed9daae.5e4cb8","type":"switch","z":"6a42a57e.13de6c","name":"ON only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":620,"wires":[["46c0878e.c80a08","4bee91da.c75c8"]]},{"id":"46c0878e.c80a08","type":"delay","z":"6a42a57e.13de6c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":580,"wires":[["e027e090.9dab7"]]},{"id":"e027e090.9dab7","type":"api-call-service","z":"6a42a57e.13de6c","name":"hassio","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_stdin","entityId":"","data":"{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":910,"y":580,"wires":[[]]},{"id":"4bee91da.c75c8","type":"api-call-service","z":"6a42a57e.13de6c","name":"Snapshot","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"hassio","service":"snapshot_full","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":920,"y":640,"wires":[[]]},{"id":"79fb55a4.eae6dc","type":"rbe","z":"6a42a57e.13de6c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":370,"y":620,"wires":[["eed9daae.5e4cb8"]]},{"id":"ca1179f0.3f37b8","type":"inject","z":"6a42a57e.13de6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":230,"y":560,"wires":[["79fb55a4.eae6dc"]]},{"id":"5e226bdc.321a24","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Manual trigger backup","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.backup_trigger","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":760,"wires":[["e5bde6e3.37bf98"],[]]},{"id":"e5bde6e3.37bf98","type":"change","z":"6a42a57e.13de6c","name":"Format ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":680,"wires":[["79fb55a4.eae6dc","34913f1e.e94e6"]]},{"id":"34913f1e.e94e6","type":"delay","z":"6a42a57e.13de6c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":760,"wires":[["d7231e0c.483bb"]]},{"id":"d7231e0c.483bb","type":"api-call-service","z":"6a42a57e.13de6c","name":"","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.backup_trigger","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":760,"wires":[[]]},{"id":"fd7fcc3d.9db9b","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Manual trigger sync","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.dropbox_trigger","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":710,"y":520,"wires":[["e027e090.9dab7"],[]]},{"id":"cc863cce.8c953","type":"light-scheduler","z":"6a42a57e.13de6c","settings":"d9290584.0e4fc","events":"[]","topic":"","name":"","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.minutely","x":180,"y":860,"wires":[["8b178604.599468"]]},{"id":"bcc682d.5a79d8","type":"server-state-changed","z":"6a42a57e.13de6c","name":"Node-Red-WD","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.node_red","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":940,"wires":[["1310c5a9.a2d50a"]]},{"id":"1310c5a9.a2d50a","type":"change","z":"6a42a57e.13de6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":940,"wires":[["99f55302.b9f08"]]},{"id":"99f55302.b9f08","type":"mqtt out","z":"6a42a57e.13de6c","name":"Checkin MQTT","topic":"checkin/nodered","qos":"0","retain":"false","broker":"19f2fec8.28ebf1","x":700,"y":940,"wires":[]},{"id":"8b178604.599468","type":"api-call-service","z":"6a42a57e.13de6c","name":"Toggle Node-Red Watchdog","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"toggle","entityId":"input_boolean.node_red","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":860,"wires":[[]]},{"id":"90835f05.32834","type":"inject","z":"6a42a57e.13de6c","name":"Pulse (1min)","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1040,"wires":[["e76b53fa.17a2d","ec871536.f1bce8","16e8443a.f1262c","bdbeff06.c77ee","535c0757.8ee4c8"]]},{"id":"e76b53fa.17a2d","type":"api-current-state","z":"6a42a57e.13de6c","name":"Landing lights watchdog","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_shsw_1_55f0fe","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":1040,"wires":[["e6ff0e39.3944f"]]},{"id":"ec871536.f1bce8","type":"api-current-state","z":"6a42a57e.13de6c","name":"Front Carriage light watchdog","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_shsw_pm_c45421","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":1100,"wires":[["b529fa8a.c86778"]]},{"id":"16e8443a.f1262c","type":"api-current-state","z":"6a42a57e.13de6c","name":"Side Carriage light watchdog","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_shsw_pm_c44770","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":1160,"wires":[["b0bb15c7.2ad648"]]},{"id":"e6ff0e39.3944f","type":"change","z":"6a42a57e.13de6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1040,"wires":[["b6aaa566.b9e6e8"]]},{"id":"b529fa8a.c86778","type":"change","z":"6a42a57e.13de6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1100,"wires":[["691f4030.8191e"]]},{"id":"b0bb15c7.2ad648","type":"change","z":"6a42a57e.13de6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1160,"wires":[["d126d931.ecd428"]]},{"id":"b6aaa566.b9e6e8","type":"mqtt out","z":"6a42a57e.13de6c","name":"Checkin Landing lights","topic":"checkin/landing","qos":"","retain":"false","broker":"19f2fec8.28ebf1","x":960,"y":1040,"wires":[]},{"id":"d126d931.ecd428","type":"mqtt out","z":"6a42a57e.13de6c","name":"Checkiin Carriage Side","topic":"checkin/carriageside","qos":"","retain":"false","broker":"19f2fec8.28ebf1","x":960,"y":1160,"wires":[]},{"id":"691f4030.8191e","type":"mqtt out","z":"6a42a57e.13de6c","name":"Checkin Carriage Front","topic":"checkin/carriagefront","qos":"","retain":"false","broker":"19f2fec8.28ebf1","x":970,"y":1100,"wires":[]},{"id":"a32e8e36.8b67c","type":"mqtt in","z":"6a42a57e.13de6c","name":"Landing lights Status","topic":"checkin/landing","qos":"2","datatype":"utf8","broker":"19f2fec8.28ebf1","x":430,"y":1360,"wires":[["d3be1808.706638"]]},{"id":"5bce6324.a3c1ac","type":"mqtt in","z":"6a42a57e.13de6c","name":"Side Carriage light Status","topic":"checkin/carriageside","qos":"2","datatype":"utf8","broker":"19f2fec8.28ebf1","x":450,"y":1480,"wires":[["eee0ff62.2ab38"]]},{"id":"8c5202e9.d8d53","type":"mqtt in","z":"6a42a57e.13de6c","name":"Front carriage light Status","topic":"checkin/carriagefront","qos":"2","datatype":"utf8","broker":"19f2fec8.28ebf1","x":450,"y":1420,"wires":[["d01c81da.b4d3c"]]},{"id":"d3be1808.706638","type":"trigger","z":"6a42a57e.13de6c","name":"","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":710,"y":1360,"wires":[["5316be55.fabf7"]]},{"id":"eee0ff62.2ab38","type":"trigger","z":"6a42a57e.13de6c","name":"","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":710,"y":1480,"wires":[["5316be55.fabf7"]]},{"id":"d01c81da.b4d3c","type":"trigger","z":"6a42a57e.13de6c","name":"","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":710,"y":1420,"wires":[["5316be55.fabf7"]]},{"id":"bdbeff06.c77ee","type":"api-current-state","z":"6a42a57e.13de6c","name":"Side Entry light watchdog","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_shsw_1_55e7ad","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":1220,"wires":[["adba7980.82a8c8"]]},{"id":"adba7980.82a8c8","type":"change","z":"6a42a57e.13de6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1220,"wires":[["8771c52f.632538"]]},{"id":"8771c52f.632538","type":"mqtt out","z":"6a42a57e.13de6c","name":"Checkin Side Entry","topic":"checkin/sideentry","qos":"","retain":"false","broker":"19f2fec8.28ebf1","x":950,"y":1220,"wires":[]},{"id":"c68411d8.d8ec5","type":"mqtt in","z":"6a42a57e.13de6c","name":"Side Entry light Status","topic":"checkin/carriageside","qos":"2","datatype":"utf8","broker":"19f2fec8.28ebf1","x":440,"y":1540,"wires":[["3ea94aff.7ad436"]]},{"id":"3ea94aff.7ad436","type":"trigger","z":"6a42a57e.13de6c","name":"","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":710,"y":1540,"wires":[["5316be55.fabf7"]]},{"id":"535c0757.8ee4c8","type":"api-current-state","z":"6a42a57e.13de6c","name":"Tori Nightlite watchdog","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.shelly_shsw_1_93f489","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":1280,"wires":[["2885748b.b79a1c"]]},{"id":"2885748b.b79a1c","type":"change","z":"6a42a57e.13de6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1280,"wires":[["ac2081b0.477ea"]]},{"id":"ac2081b0.477ea","type":"mqtt out","z":"6a42a57e.13de6c","name":"Checkin Tori Nightlite","topic":"checkin/torinightlite","qos":"","retain":"false","broker":"19f2fec8.28ebf1","x":960,"y":1280,"wires":[]},{"id":"84e87001.16a64","type":"mqtt in","z":"6a42a57e.13de6c","name":"Tori NIghtlite Status","topic":"checkin/torinightlite","qos":"2","datatype":"utf8","broker":"19f2fec8.28ebf1","x":430,"y":1600,"wires":[["fd5819ab.24a068"]]},{"id":"fd5819ab.24a068","type":"trigger","z":"6a42a57e.13de6c","name":"","op1":"","op2":"Unknown","op1type":"nul","op2type":"str","duration":"300","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":710,"y":1600,"wires":[["5316be55.fabf7"]]},{"id":"5316be55.fabf7","type":"switch","z":"6a42a57e.13de6c","name":"Trigger alert","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Unknown","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1480,"wires":[["3b8b032c.505cbc"]]},{"id":"3b8b032c.505cbc","type":"api-call-service","z":"6a42a57e.13de6c","name":"HA Notify","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"title\":\"Device failure\",\"message\":\"A Device has failed to checkin.  Please review MQTT to check devices\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":1480,"wires":[[]]},{"id":"5e7dad82.53d834","type":"api-call-service","z":"5a64306a.6fec98","name":"Seb Home","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sebhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":440,"wires":[[]]},{"id":"d3111dd3.9880d","type":"api-call-service","z":"5a64306a.6fec98","name":"Jen Home","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jenhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":200,"wires":[[]]},{"id":"8dfe236.7570ae","type":"api-call-service","z":"5a64306a.6fec98","name":"Turn on entry light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":340,"wires":[["2fc03659.6fec5a"]]},{"id":"2fc03659.6fec5a","type":"delay","z":"5a64306a.6fec98","name":"Wait 5 minutes","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":340,"wires":[["647aefa7.4eeb2"]]},{"id":"89da455e.012b18","type":"time-range-switch","z":"5a64306a.6fec98","name":"Dark Hours?","lat":"42.640212","lon":"-83.136262","startTime":"sunset","endTime":"dawn","startOffset":"-10","endOffset":0,"x":790,"y":400,"wires":[["8dfe236.7570ae"],["bb7071b.56a639"]]},{"id":"bb7071b.56a639","type":"api-call-service","z":"5a64306a.6fec98","name":"Turn off entry light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_55e7ad","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":460,"wires":[[]]},{"id":"647aefa7.4eeb2","type":"api-current-state","z":"5a64306a.6fec98","name":"Is Side Entry ON?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.shelly_shsw_1_55e7ad","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1170,"y":400,"wires":[["bb7071b.56a639"],[]]},{"id":"e4e74689.7b1328","type":"server-state-changed","z":"5a64306a.6fec98","name":"Home/Away","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.occupied","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":610,"y":440,"wires":[["89da455e.012b18"],["bb7071b.56a639"]]},{"id":"db47e890.1cb178","type":"server-state-changed","z":"9ab9f198.285b1","name":"Exterior Light Display","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.exterior_light_display","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":760,"y":240,"wires":[[],[]]},{"id":"773fee9e.67818","type":"bigtimer","z":"9eeb0d55.a72a4","outtopic":"","outpayload1":"Christmas","outpayload2":"","name":"Xmas time","comment":"","lat":0,"lon":0,"starttime":"15","endtime":"1425","starttime2":"1425","endtime2":"15","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"Christmas","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":false,"feb":false,"mar":false,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":false,"nov":false,"dec":true,"day1":"20","month1":"11","day2":"21","month2":"11","day3":"22","month3":"11","day4":"23","month4":"11","day5":"24","month5":"11","day6":"25","month6":"11","day7":"26","month7":"11","day8":"27","month8":"11","day9":"28","month9":"11","day10":"29","month10":"11","day11":"30","month11":"11","day12":"1","month12":"1","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":260,"wires":[["7eb1d91d.a216c8"],[],[]]},{"id":"76918f3f.139e7","type":"bigtimer","z":"9eeb0d55.a72a4","outtopic":"","outpayload1":"Halloween","outpayload2":"","name":"Halloween time","comment":"","lat":0,"lon":0,"starttime":"15","endtime":1425,"starttime2":"1425","endtime2":"15","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"Halloween","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":false,"feb":false,"mar":false,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":false,"nov":false,"dec":false,"day1":"26","month1":"10","day2":"27","month2":"10","day3":"28","month3":"10","day4":"29","month4":"10","day5":"30","month5":"10","day6":"31","month6":"10","day7":"","month7":"","day8":"","month8":0,"day9":"","month9":0,"day10":"","month10":0,"day11":"","month11":0,"day12":"","month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":140,"y":180,"wires":[["7eb1d91d.a216c8"],[],[]]},{"id":"2168b242.6c3d9e","type":"bigtimer","z":"9eeb0d55.a72a4","outtopic":"","outpayload1":"General","outpayload2":"","name":"General time","comment":"","lat":0,"lon":0,"starttime":"15","endtime":1425,"starttime2":"1425","endtime2":"15","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"General","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":false,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":false,"dec":false,"day1":"","month1":0,"day2":"","month2":0,"day3":"","month3":0,"day4":"","month4":0,"day5":"","month5":0,"day6":"","month6":0,"day7":"","month7":0,"day8":"","month8":0,"day9":"","month9":0,"day10":"","month10":0,"day11":"","month11":0,"day12":"","month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"0","xmonth1":"0","xday2":"0","xmonth2":"0","xday3":"0","xmonth3":"0","xday4":"0","xmonth4":"0","xday5":"0","xmonth5":"0","xday6":"0","xmonth6":"0","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":340,"wires":[["7eb1d91d.a216c8"],[],[]]},{"id":"7eb1d91d.a216c8","type":"switch","z":"9eeb0d55.a72a4","name":"Ext. Light mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Christmas","vt":"str"},{"t":"eq","v":"Halloween","vt":"str"},{"t":"eq","v":"General","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":480,"y":140,"wires":[["f5869325.cd653"],["71db98b7.0073b8"],["d5da00a3.38b8"]]},{"id":"df822088.59d4e","type":"inject","z":"9eeb0d55.a72a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Christmas","payloadType":"str","x":160,"y":80,"wires":[["7eb1d91d.a216c8"]]},{"id":"b803ec32.a8862","type":"inject","z":"9eeb0d55.a72a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Halloween","payloadType":"str","x":160,"y":40,"wires":[["7eb1d91d.a216c8"]]},{"id":"df643971.ec2808","type":"inject","z":"9eeb0d55.a72a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"General","payloadType":"str","x":170,"y":120,"wires":[["7eb1d91d.a216c8"]]},{"id":"f5869325.cd653","type":"api-current-state","z":"9eeb0d55.a72a4","name":"Exterior Display Is it NOT Xmas","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Christmas","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.exterior_lights_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":80,"wires":[["f5bbaca3.7f115"],[]]},{"id":"71db98b7.0073b8","type":"api-current-state","z":"9eeb0d55.a72a4","name":"Exterior Display Is it NOT Halloween","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Halloween","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.exterior_lights_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":140,"wires":[["951e256b.6a1498"],[]]},{"id":"d5da00a3.38b8","type":"api-current-state","z":"9eeb0d55.a72a4","name":"Exterior Display Is it NOT General","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"General","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.exterior_lights_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":760,"y":200,"wires":[["d9402d73.f1e96"],[]]},{"id":"f5bbaca3.7f115","type":"api-call-service","z":"9eeb0d55.a72a4","name":"Set for Xmas","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.exterior_lights_mode\",\"option\":\"Christmas\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":80,"wires":[[]]},{"id":"951e256b.6a1498","type":"api-call-service","z":"9eeb0d55.a72a4","name":"Set for Halloween","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.exterior_lights_mode\",\"option\":\"Halloween\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":140,"wires":[[]]},{"id":"d9402d73.f1e96","type":"api-call-service","z":"9eeb0d55.a72a4","name":"Set for General","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.exterior_lights_mode\",\"option\":\"General\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":200,"wires":[[]]},{"id":"4526ff25.55d2","type":"bigtimer","z":"9eeb0d55.a72a4","outtopic":"","outpayload1":"General","outpayload2":"","name":"General time (Jan)","comment":"","lat":0,"lon":0,"starttime":"15","endtime":1425,"starttime2":"1425","endtime2":"15","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"General","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":false,"mar":false,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":false,"nov":false,"dec":false,"day1":"11","month1":"11","day2":"12","month2":"11","day3":"13","month3":"11","day4":"14","month4":"11","day5":"15","month5":"11","day6":"16","month6":"11","day7":"17","month7":"11","day8":"18","month8":"11","day9":"19","month9":"11","day10":"","month10":0,"day11":"","month11":0,"day12":"","month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"1","xmonth1":"1","xday2":"2","xmonth2":"1","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":130,"y":500,"wires":[["7eb1d91d.a216c8"],[],[]]},{"id":"2bc52da6.dc1162","type":"bigtimer","z":"9eeb0d55.a72a4","outtopic":"","outpayload1":"General","outpayload2":"","name":"General time (Oct)","comment":"","lat":0,"lon":0,"starttime":"15","endtime":1425,"starttime2":"1425","endtime2":"15","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"General","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":false,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":false,"dec":false,"day1":"1","month1":"11","day2":"2","month2":"11","day3":"3","month3":"11","day4":"4","month4":"11","day5":"5","month5":"11","day6":"6","month6":"11","day7":"7","month7":"11","day8":"8","month8":"11","day9":"9","month9":"11","day10":"10","month10":"11","day11":"","month11":0,"day12":"","month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"0","xmonth1":"0","xday2":"0","xmonth2":"0","xday3":"0","xmonth3":"0","xday4":"0","xmonth4":"0","xday5":"0","xmonth5":"0","xday6":"0","xmonth6":"0","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":130,"y":420,"wires":[["7eb1d91d.a216c8"],[],[]]},{"id":"dce1b28c.a8504","type":"api-call-service","z":"9eeb0d55.a72a4","name":"Set Exterior lights to manual","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.exterior_light_schedule\",\"option\":\"Manual\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":540,"wires":[[]]},{"id":"213585d4.e810ea","type":"api-call-service","z":"9eeb0d55.a72a4","name":"Turn on Exterior light display","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.exterior_light_display","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":480,"wires":[[]]},{"id":"bab5edf8.cbeea","type":"api-call-service","z":"9eeb0d55.a72a4","name":"Turn off Exterior light display","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.exterior_light_display","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":660,"wires":[[]]},{"id":"2ff92ead.facab2","type":"bigtimer","z":"9eeb0d55.a72a4","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Lighting display timer","comment":"","lat":"42.640212","lon":"-83.136262","starttime":"5004","endtime":"60","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":380,"y":640,"wires":[["712d4db3.994184"],[],[]]},{"id":"546dc2fe.53a6ac","type":"api-current-state","z":"9eeb0d55.a72a4","name":"Ext light display mode","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"General","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.exterior_lights_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":760,"y":560,"wires":[["213585d4.e810ea"],[]]},{"id":"1d7e3e92.55d1c1","type":"server-state-changed","z":"9eeb0d55.a72a4","name":"Enable lighting display","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.exterior_light_display","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":960,"wires":[["4f3a806f.80b63"]]},{"id":"577fb5b.fe84e4c","type":"inject","z":"9eeb0d55.a72a4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":170,"y":580,"wires":[["2ff92ead.facab2"]]},{"id":"2e47b9f3.736da6","type":"inject","z":"9eeb0d55.a72a4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":170,"y":620,"wires":[["2ff92ead.facab2"]]},{"id":"bd3ca42.bb67258","type":"inject","z":"9eeb0d55.a72a4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":170,"y":660,"wires":[["2ff92ead.facab2"]]},{"id":"ac338113.a38d5","type":"inject","z":"9eeb0d55.a72a4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":170,"y":700,"wires":[["2ff92ead.facab2"]]},{"id":"712d4db3.994184","type":"switch","z":"9eeb0d55.a72a4","name":"traffic","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":620,"wires":[["546dc2fe.53a6ac"],["bab5edf8.cbeea"]]},{"id":"e30c4183.d845e","type":"server-state-changed","z":"9eeb0d55.a72a4","name":"Switched to manual","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.exterior_light_schedule","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Manual","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":800,"wires":[["86b7786b.524978"],[]]},{"id":"86b7786b.524978","type":"api-current-state","z":"9eeb0d55.a72a4","name":"Ext light display mode","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"General","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"entity_id":"input_select.exterior_lights_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":780,"wires":[["c452d57f.30dbd8"],[]]},{"id":"c452d57f.30dbd8","type":"switch","z":"9eeb0d55.a72a4","name":"traffic","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Christmas","vt":"str"},{"t":"eq","v":"Halloween","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":740,"wires":[["7aa638a8.ac8ad8"],[]]},{"id":"76b5a076.fd952","type":"api-call-service","z":"9eeb0d55.a72a4","name":"Turn on Light display","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_c42687","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":920,"wires":[[]]},{"id":"3d70a25f.90e60e","type":"api-call-service","z":"9eeb0d55.a72a4","name":"Turn off Light display","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shelly_shsw_1_c42687","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1000,"wires":[[]]},{"id":"4f3a806f.80b63","type":"switch","z":"9eeb0d55.a72a4","name":"traffic","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":960,"wires":[["76b5a076.fd952"],["3d70a25f.90e60e"]]},{"id":"2bcfa75b.7e4898","type":"api-call-service","z":"a3786024.e3e72","name":"Return to Auto","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.cj_wfh_override\",\"option\":\"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":740,"wires":[[]]},{"id":"bda27d8a.f2f1","type":"api-current-state","z":"a3786024.e3e72","name":"CJ WFH Is it NOT Auto","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.cj_wfh_override","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":740,"wires":[["2bcfa75b.7e4898"],[]]},{"id":"6efe29f1.b87248","type":"bigtimer","z":"a3786024.e3e72","outtopic":"","outpayload1":"Auto","outpayload2":"Auto","name":"Reset to Auto Timer","comment":"Dusk to Dawn timer","lat":"42.640212","lon":"-83.136262","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-5","endoff":"-5","startoff2":0,"endoff2":0,"offs":0,"outtext1":"Auto","outtext2":"Auto","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":270,"y":800,"wires":[["bda27d8a.f2f1","edb3bc3f.84d9f"],[],[]]},{"id":"8d43aac2.e75b18","type":"link in","z":"a3786024.e3e72","name":"Receive Return to Auto","links":["42eeee1e.f30bf","f29a32ed.ee9cc","c90a3369.ce513","3f06f6cd.a8a89a","68d4d7d5.bbaad8","e15efb0e.fcfce8","d6146424.4a65e8"],"x":135,"y":800,"wires":[["6efe29f1.b87248"]]},{"id":"edb3bc3f.84d9f","type":"api-current-state","z":"a3786024.e3e72","name":"Jen WFH it NOT Auto","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.jen_wfh_override","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":840,"wires":[["ee5cf71d.6b4648"],[]]},{"id":"ee5cf71d.6b4648","type":"api-call-service","z":"a3786024.e3e72","name":"Return to Auto","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.jen_wfh_override\",\"option\":\"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":840,"wires":[[]]},{"id":"38ce8581.a380da","type":"api-call-service","z":"a3786024.e3e72","name":"Enable WFH","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_wfh","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":460,"wires":[[]]},{"id":"7924f65b.7c3648","type":"api-call-service","z":"a3786024.e3e72","name":"Disable WFH","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_wfh","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":520,"wires":[[]]},{"id":"e15efb0e.fcfce8","type":"link out","z":"a3786024.e3e72","name":"Send to Return to Auto","links":["222f0138.61e71e","8d43aac2.e75b18"],"x":695,"y":580,"wires":[]},{"id":"d6146424.4a65e8","type":"link out","z":"a3786024.e3e72","name":"Send to Return to Auto","links":["222f0138.61e71e","8d43aac2.e75b18"],"x":695,"y":240,"wires":[]},{"id":"7aa638a8.ac8ad8","type":"api-call-service","z":"9eeb0d55.a72a4","name":"Turn On - Exterior Lights","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shelly_shsw_1_55f0fe, switch.shelly_shsw_pm_c44770, switch.shelly_shsw_pm_c45421","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":740,"wires":[[]]},{"id":"4741e760.7cd518","type":"poll-state","z":"a3786024.e3e72","name":"CJ Work-Holiday","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"calendar.cj_ramseyer","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":240,"y":1080,"wires":[["a5f95719.eb0ca8"]]},{"id":"6e7027c7.35a5c8","type":"poll-state","z":"a3786024.e3e72","name":"US Holiday Cal events","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"calendar.holidays_in_united_states","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":260,"y":1020,"wires":[["95435ed5.e3f54"]]},{"id":"a5f95719.eb0ca8","type":"switch","z":"a3786024.e3e72","name":"","property":"data.attributes.message","propertyType":"msg","rules":[{"t":"eq","v":"Work-Holiday","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1080,"wires":[["6c398311.62435c"]]},{"id":"2674a2f1.7e30ee","type":"switch","z":"a3786024.e3e72","name":"","property":"data.attributes.message","propertyType":"msg","rules":[{"t":"eq","v":"Work-Holiday","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":960,"wires":[["25313d5b.1298c2"]]},{"id":"7a969786.ef5518","type":"poll-state","z":"a3786024.e3e72","name":"Jen Work-Holiday","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"calendar.jen_blankenship","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":240,"y":960,"wires":[["2674a2f1.7e30ee"]]},{"id":"25313d5b.1298c2","type":"api-call-service","z":"a3786024.e3e72","name":"Switch to Manual","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.jen_wfh_override\",\"option\":\"Manual\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":960,"wires":[["e97a0c3e.5db08"]]},{"id":"6c398311.62435c","type":"api-call-service","z":"a3786024.e3e72","name":"Switch to Manual","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.cj_wfh_override\",\"option\":\"Manual\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":1080,"wires":[["5ba17fcb.b8ac1"]]},{"id":"e97a0c3e.5db08","type":"api-call-service","z":"a3786024.e3e72","name":"Disable WFH","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_wfh","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":960,"wires":[[]]},{"id":"5ba17fcb.b8ac1","type":"api-call-service","z":"a3786024.e3e72","name":"Disable WFH","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_wfh","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":1080,"wires":[[]]},{"id":"95435ed5.e3f54","type":"switch","z":"a3786024.e3e72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1020,"wires":[["25313d5b.1298c2","6c398311.62435c"]]},{"id":"8f43c614.ef2158","type":"api-call-service","z":"6006f1f.70c981","name":"Add HVAC runtime","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.hvac_runtime","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":180,"wires":[[]]},{"id":"bc8de10e.621ee","type":"inject","z":"6006f1f.70c981","name":"Store HVAC runtime trigger","props":[{"p":"payload"}],"repeat":"","crontab":"01 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":60,"wires":[["649fe64c.e088a8","1d96b77d.04b799","9ac69b1.ae5c468"]]},{"id":"9ac69b1.ae5c468","type":"api-current-state","z":"6006f1f.70c981","name":"Get current filter runtime","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_number.hvac_runtime","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":60,"wires":[["d4210899.a00c08"]]},{"id":"649fe64c.e088a8","type":"api-current-state","z":"6006f1f.70c981","name":"Get Cooling time yesterday","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.cooling_time_yesterday","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":120,"wires":[["94d35f7.1e0d4a"]]},{"id":"1d96b77d.04b799","type":"api-current-state","z":"6006f1f.70c981","name":"Get Heating time yesterday","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.heating_time_yesterday","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":180,"wires":[["1a05d2b.b293a2d"]]},{"id":"9db738a5.957e88","type":"join","z":"6006f1f.70c981","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":950,"y":60,"wires":[["66a77add.2d8564"]]},{"id":"94d35f7.1e0d4a","type":"change","z":"6006f1f.70c981","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":120,"wires":[["9db738a5.957e88"]]},{"id":"1a05d2b.b293a2d","type":"change","z":"6006f1f.70c981","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":180,"wires":[["9db738a5.957e88"]]},{"id":"66a77add.2d8564","type":"change","z":"6006f1f.70c981","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":60,"wires":[["2bff69dd.81db86"]]},{"id":"d4210899.a00c08","type":"change","z":"6006f1f.70c981","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":60,"wires":[["9db738a5.957e88"]]},{"id":"2bff69dd.81db86","type":"function","z":"6006f1f.70c981","name":"","func":"const origValue = msg.payload;\nconst newValue = origValue.toFixed(1);\n\nmsg.payload  = { \n    \"data\": {   \n        value: newValue\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":120,"wires":[["8f43c614.ef2158"]]},{"id":"8a982ba2.d6d2f8","type":"server-state-changed","z":"6006f1f.70c981","name":"Change furnace filter","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.change_filter","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":300,"wires":[["ecf8234b.47953","600a6108.a1751","ea49f5d4.b361c8"],[]]},{"id":"fd9d97cf.07cda8","type":"api-call-service","z":"6006f1f.70c981","name":"Set Furnace filter change date","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.furnace_filter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1110,"y":360,"wires":[[]]},{"id":"ecf8234b.47953","type":"api-call-service","z":"6006f1f.70c981","name":"Reset HVAC runtime","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"","data":"{\"entity_id\":\"input_number.hvac_runtime\",\"value\":\"0\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":300,"wires":[[]]},{"id":"39a4b54c.e9e4ba","type":"moment","z":"6006f1f.70c981","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":680,"y":360,"wires":[["41e82f8a.3cbf"]]},{"id":"41e82f8a.3cbf","type":"function","z":"6006f1f.70c981","name":"","func":"const newValue = msg.payload;\n\nmsg.payload  = { \n    \"data\": {   \n        value: newValue\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":360,"wires":[["fd9d97cf.07cda8"]]},{"id":"600a6108.a1751","type":"delay","z":"6006f1f.70c981","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":420,"wires":[["9251e6bc.690298"]]},{"id":"9251e6bc.690298","type":"api-call-service","z":"6006f1f.70c981","name":"Reset","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.change_filter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":420,"wires":[[]]},{"id":"ea49f5d4.b361c8","type":"trigger","z":"6006f1f.70c981","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":460,"y":360,"wires":[["39a4b54c.e9e4ba"],[]]},{"id":"bf7a1170.6719e","type":"inject","z":"395a3554.de723a","name":"AutoEnable Alarm(s) - Late Night (AM)","repeat":"","crontab":"*/1 0-2 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":200,"y":740,"wires":[["fe3ca3a3.8b9e5"]]},{"id":"90824873.9c3448","type":"api-current-state","z":"395a3554.de723a","name":"CJ-AutoEnable (Weekdays)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Weekdays","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.cj_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":460,"wires":[["10904888.d63357"],[]]},{"id":"fe3ca3a3.8b9e5","type":"weekday","z":"395a3554.de723a","name":"AutoEnable-by-day","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":250,"y":600,"wires":[["90824873.9c3448","fcfbf1bb.9590f","1ccda375.9aa50d","8379d4ec.d7a2d8"],["3fe875be.dd009a","144585af.987aaa","1ccda375.9aa50d","8379d4ec.d7a2d8"]]},{"id":"1edad2e1.a941cd","type":"api-call-service","z":"395a3554.de723a","name":"CJ-Alarm-On","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":520,"wires":[[]]},{"id":"3fe875be.dd009a","type":"api-current-state","z":"395a3554.de723a","name":"CJ-AutoEnable (Weekends)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Weekends","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.cj_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":520,"wires":[["10904888.d63357"],[]]},{"id":"fcfbf1bb.9590f","type":"api-current-state","z":"395a3554.de723a","name":"Jen-AutoEnable (Weekdays)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Weekdays","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jen_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":640,"wires":[["4f0fca32.234894"],[]]},{"id":"144585af.987aaa","type":"api-current-state","z":"395a3554.de723a","name":"Jen-AutoEnable (Weekends)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Weekends","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jen_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":700,"wires":[["4f0fca32.234894"],[]]},{"id":"4726855f.e9e39c","type":"api-call-service","z":"395a3554.de723a","name":"Jen-Alarm-On","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1280,"y":700,"wires":[[]]},{"id":"10904888.d63357","type":"api-current-state","z":"395a3554.de723a","name":"CJ Home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cjhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":520,"wires":[["1edad2e1.a941cd"],[]]},{"id":"4f0fca32.234894","type":"api-current-state","z":"395a3554.de723a","name":"Jen Home?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jenhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1070,"y":700,"wires":[["4726855f.e9e39c"],[]]},{"id":"e999836c.22c28","type":"inject","z":"395a3554.de723a","name":"AutoEnable Alarm(s) - Late Night (PM)","repeat":"","crontab":"*/1 21-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":200,"y":460,"wires":[["fe3ca3a3.8b9e5"]]},{"id":"1ccda375.9aa50d","type":"api-current-state","z":"395a3554.de723a","name":"CJ-AutoEnable (Both)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Both","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.cj_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":760,"y":580,"wires":[["10904888.d63357"],[]]},{"id":"8379d4ec.d7a2d8","type":"api-current-state","z":"395a3554.de723a","name":"Jen-AutoEnable (Both)","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"Both","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.jen_alarm_autoenable","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":760,"wires":[["4f0fca32.234894"],[]]},{"id":"8f3b99a1.708958","type":"bigtimer","z":"3413a3a8.0b47ec","outtopic":"","outpayload1":"","outpayload2":"","name":"Morning","comment":"","lat":"42.31816","lon":"-83.20821","starttime":"360","endtime":"480","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":100,"y":60,"wires":[[],["f016b00e.2b914"],[]]},{"id":"c1ab15f.6cb27e8","type":"bigtimer","z":"3413a3a8.0b47ec","outtopic":"","outpayload1":"","outpayload2":"","name":"Day","comment":"","lat":"42.31816","lon":"-83.20825","starttime":"480","endtime":"930","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":90,"y":140,"wires":[[],["47bedd92.9a0354"],[]]},{"id":"f50fe0ec.68032","type":"bigtimer","z":"3413a3a8.0b47ec","outtopic":"","outpayload1":"","outpayload2":"","name":"Afternoon","comment":"","lat":"42.31816","lon":"-83.20825","starttime":"930","endtime":"1080","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":100,"y":220,"wires":[[],["d6ab0961.754298"],[]]},{"id":"4545ff79.5c5ef","type":"bigtimer","z":"3413a3a8.0b47ec","outtopic":"","outpayload1":"","outpayload2":"","name":"Night","comment":"","lat":"42.31816","lon":"-83.20825","starttime":"1380","endtime":"360","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":90,"y":380,"wires":[[],["21b0112b.39c16e"],[]]},{"id":"7858cb90.acbf94","type":"api-call-service","z":"3413a3a8.0b47ec","name":"Set Morning","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.house_mode\",\"option\":\"Morning\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":60,"wires":[[]]},{"id":"9e17f346.779a8","type":"api-call-service","z":"3413a3a8.0b47ec","name":"Set Day","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.house_mode\",\"option\":\"Day\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":140,"wires":[[]]},{"id":"7c6d5534.c7d06c","type":"api-call-service","z":"3413a3a8.0b47ec","name":"Set Afternoon","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.house_mode\",\"option\":\"Afternoon\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":220,"wires":[[]]},{"id":"f3232e22.c0cfb","type":"api-call-service","z":"3413a3a8.0b47ec","name":"Set Night","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.house_mode\",\"option\":\"Night\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":380,"wires":[[]]},{"id":"47bedd92.9a0354","type":"switch","z":"3413a3a8.0b47ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":140,"wires":[["9e17f346.779a8"]]},{"id":"21b0112b.39c16e","type":"switch","z":"3413a3a8.0b47ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":380,"wires":[["f3232e22.c0cfb"]]},{"id":"d6ab0961.754298","type":"switch","z":"3413a3a8.0b47ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":220,"wires":[["7c6d5534.c7d06c"]]},{"id":"f016b00e.2b914","type":"switch","z":"3413a3a8.0b47ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":60,"wires":[["7858cb90.acbf94"]]},{"id":"4f91a45.846775c","type":"bigtimer","z":"3413a3a8.0b47ec","outtopic":"","outpayload1":"","outpayload2":"","name":"Evening","comment":"","lat":"42.31816","lon":"-83.20825","starttime":"1080","endtime":"1380","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":100,"y":300,"wires":[[],["1c1a1fd2.cf85b"],[]]},{"id":"1c1a1fd2.cf85b","type":"switch","z":"3413a3a8.0b47ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":300,"wires":[["ba4f8d45.9eb9b"]]},{"id":"ba4f8d45.9eb9b","type":"api-call-service","z":"3413a3a8.0b47ec","name":"Set Evening","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.house_mode\",\"option\":\"Evening\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":300,"wires":[[]]},{"id":"91bfc052.dbfb4","type":"comment","z":"395a3554.de723a","name":"General Wake Up","info":"","x":90,"y":20,"wires":[]},{"id":"e96fa676.564968","type":"comment","z":"395a3554.de723a","name":"CJ Wake Up","info":"","x":70,"y":840,"wires":[]},{"id":"2641ba55.23d056","type":"moment","z":"395a3554.de723a","name":"Current Time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":730,"y":960,"wires":[["ab2a56a1.d1eec8"]]},{"id":"18fc5a7b.6fbdb6","type":"moment","z":"395a3554.de723a","name":"Alarm - Start time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":740,"y":1000,"wires":[["ab2a56a1.d1eec8"]]},{"id":"e368fdbb.c69c9","type":"api-current-state","z":"395a3554.de723a","name":"Get Alarm Time","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.cj_wakeup_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":1060,"wires":[["18fc5a7b.6fbdb6"]]},{"id":"ab2a56a1.d1eec8","type":"join","z":"395a3554.de723a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":960,"y":960,"wires":[["ae180fcd.06e9a"]]},{"id":"ae180fcd.06e9a","type":"function","z":"395a3554.de723a","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":970,"y":1040,"wires":[["ddb5a1b1.323f3"]]},{"id":"ddb5a1b1.323f3","type":"switch","z":"395a3554.de723a","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":1100,"wires":[["f5f234c1.6de0c8"]]},{"id":"2f028f4c.ddae6","type":"comment","z":"395a3554.de723a","name":"TRIGGER WAKE UP","info":"","x":130,"y":900,"wires":[]},{"id":"ba62ae9c.8db5a","type":"inject","z":"395a3554.de723a","name":"","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":960,"wires":[["2f213975.538336"]]},{"id":"2f213975.538336","type":"api-current-state","z":"395a3554.de723a","name":"Alarm Clock ON?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cj_alarm_enable","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":380,"y":960,"wires":[["2641ba55.23d056","e368fdbb.c69c9"],[]]},{"id":"f5f234c1.6de0c8","type":"api-call-service","z":"395a3554.de723a","name":"CJ - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":1160,"wires":[[]]},{"id":"1f10a58c.687a2a","type":"server-state-changed","z":"395a3554.de723a","name":"Wake CJ","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cj_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":110,"y":1200,"wires":[["52ac9371.4a41fc"],[]]},{"id":"52ac9371.4a41fc","type":"switch","z":"395a3554.de723a","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1300,"wires":[["4650bc18.930784","a5833a48.212f38"]]},{"id":"4650bc18.930784","type":"function","z":"395a3554.de723a","name":"Initialize Brightness","func":"flow.set(\"brightness\", 1);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":540,"y":1280,"wires":[[]]},{"id":"fcd46bd0.53c948","type":"inject","z":"395a3554.de723a","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":1280,"wires":[["4650bc18.930784"]]},{"id":"7ab44b80.e6ce24","type":"server-state-changed","z":"395a3554.de723a","name":"Snooze Off","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cj_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":320,"y":1400,"wires":[["a5833a48.212f38"],[]]},{"id":"a5833a48.212f38","type":"change","z":"395a3554.de723a","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1380,"wires":[["e90e3c6c.8935f"]]},{"id":"e90e3c6c.8935f","type":"traffic","z":"395a3554.de723a","name":"Brighten the Lights","property_allow":"payload","filter_allow":"start","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"snooze","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":700,"y":1460,"wires":[["dd3b0923.8f17d8"]]},{"id":"dd3b0923.8f17d8","type":"function","z":"395a3554.de723a","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":910,"y":1460,"wires":[["f9141d9a.4951d","6eb73a95.c1c0c4"]]},{"id":"f9141d9a.4951d","type":"api-call-service","z":"395a3554.de723a","name":"Turn On Wake Light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cj_wake_light","data":"{\"rgb_color\":[255,200,100]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":1520,"wires":[[]]},{"id":"6eb73a95.c1c0c4","type":"function","z":"395a3554.de723a","name":"Increment Brightness","func":"var brightness = flow.get('brightness')||0;\n\nif (brightness < 100) {\n    brightness = brightness + 1;\n    flow.set(\"brightness\", brightness);\n    \n    newmsg = {\"payload\":\"looping\"}\n    return newmsg;\n}\nelse {\n    newmsg = {\"payload\":\"done\"};\n    return newmsg;\n}","outputs":1,"noerr":0,"x":1410,"y":1460,"wires":[["8fdc3431.6ed5a8"]]},{"id":"8fdc3431.6ed5a8","type":"switch","z":"395a3554.de723a","name":"Is Loop Done?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":1540,"wires":[["caf0861.4536278"]]},{"id":"b35bd0a4.ae015","type":"comment","z":"395a3554.de723a","name":"Finish Alarm Sequence","info":"","x":1570,"y":1600,"wires":[]},{"id":"caf0861.4536278","type":"link out","z":"395a3554.de723a","name":"FINISH ALARM SEQUENCE!","links":["850961fe.111c8","45deb28f.3cb32c","a40756c.5fa42a8"],"x":1465,"y":1600,"wires":[]},{"id":"a40756c.5fa42a8","type":"link in","z":"395a3554.de723a","name":"","links":["ed590c06.62219","caf0861.4536278"],"x":625,"y":1540,"wires":[["cb5c6f9b.9ac75"]]},{"id":"cb5c6f9b.9ac75","type":"change","z":"395a3554.de723a","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"snooze","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1540,"wires":[["e90e3c6c.8935f"]]},{"id":"5bc78736.5c3368","type":"server-state-changed","z":"395a3554.de723a","name":"Snooze On","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cj_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":320,"y":1620,"wires":[["cb5c6f9b.9ac75","3d7d081f.f9b258","692101f4.0c21"],[]]},{"id":"692101f4.0c21","type":"function","z":"395a3554.de723a","name":"Reset to Brightness / Volume","func":"flow.set(\"brightness\", 10);\nflow.set(\"volume\",0.3);\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":870,"y":1620,"wires":[["cbbebc41.6387d"]]},{"id":"3d7d081f.f9b258","type":"delay","z":"395a3554.de723a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":1800,"wires":[["c98b873b.e5be58"]]},{"id":"c98b873b.e5be58","type":"api-call-service","z":"395a3554.de723a","name":"Snooze Off (Restart Loop)","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.cj_alarm_snooze","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":1800,"wires":[["22a2edad.858e92"]]},{"id":"22a2edad.858e92","type":"change","z":"395a3554.de723a","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1720,"wires":[[]]},{"id":"cbbebc41.6387d","type":"api-call-service","z":"395a3554.de723a","name":"Turn Off Wake Light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.cj_wake_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":1620,"wires":[[]]},{"id":"6f6e5d0d.758254","type":"inject","z":"395a3554.de723a","name":"Brightness ---->","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"brightness","payloadType":"flow","x":300,"y":1460,"wires":[["e90e3c6c.8935f"]]},{"id":"a9c52c1a.81791","type":"server-state-changed","z":"395a3554.de723a","name":"CJ Home?","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cjhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":90,"y":1060,"wires":[["a99a4ade.b91718","dd6d2887.4afd58"],[]]},{"id":"a99a4ade.b91718","type":"api-call-service","z":"395a3554.de723a","name":"Disable alarm if away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":1060,"wires":[[]]},{"id":"3763186f.419a38","type":"server-state-changed","z":"395a3554.de723a","name":"Reset Alarm","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.cj_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":500,"y":1720,"wires":[["692101f4.0c21","22a2edad.858e92","cb5c6f9b.9ac75"],[]]},{"id":"dd6d2887.4afd58","type":"api-call-service","z":"395a3554.de723a","name":"Turn off Alarm if running","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.cj_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":1120,"wires":[[]]},{"id":"5f0e1d6a.a1a344","type":"comment","z":"395a3554.de723a","name":"Jen Wake Up","info":"","x":70,"y":1880,"wires":[]},{"id":"b3677e8b.dd07c","type":"moment","z":"395a3554.de723a","name":"Current Time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":730,"y":2000,"wires":[["77cfdd89.940234"]]},{"id":"5fb7d0f.f54903","type":"moment","z":"395a3554.de723a","name":"Alarm - Start time","topic":"","input":"","inputType":"msg","inTz":"America/Detroit","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"","outputType":"msg","outTz":"America/Detroit","x":740,"y":2040,"wires":[["77cfdd89.940234"]]},{"id":"b6b11000.a3e08","type":"api-current-state","z":"395a3554.de723a","name":"Get Alarm Time","server":"543e2171.45071","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.jen_wakeup_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":2100,"wires":[["5fb7d0f.f54903"]]},{"id":"77cfdd89.940234","type":"join","z":"395a3554.de723a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":960,"y":2000,"wires":[["102fbda3.91f152"]]},{"id":"102fbda3.91f152","type":"function","z":"395a3554.de723a","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":970,"y":2080,"wires":[["6054ea10.091eb4"]]},{"id":"6054ea10.091eb4","type":"switch","z":"395a3554.de723a","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":2140,"wires":[["d4b64c56.a396f"]]},{"id":"b556f98a.a5d508","type":"comment","z":"395a3554.de723a","name":"TRIGGER WAKE UP","info":"","x":130,"y":1940,"wires":[]},{"id":"1b0cc39d.02689c","type":"inject","z":"395a3554.de723a","name":"","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2000,"wires":[["e486d695.d4f078"]]},{"id":"e486d695.d4f078","type":"api-current-state","z":"395a3554.de723a","name":"Alarm Clock ON?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.jen_alarm_enable","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":380,"y":2000,"wires":[["b3677e8b.dd07c","b6b11000.a3e08"],[]]},{"id":"d4b64c56.a396f","type":"api-call-service","z":"395a3554.de723a","name":"Jen - WakeUp","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":2200,"wires":[[]]},{"id":"d25b2dc5.05032","type":"server-state-changed","z":"395a3554.de723a","name":"Wake Jen","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jen_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":110,"y":2240,"wires":[["672b7ac4.2504a4"],[]]},{"id":"672b7ac4.2504a4","type":"switch","z":"395a3554.de723a","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":2340,"wires":[["84503c62.bc134","f97501e.6dd3c"]]},{"id":"84503c62.bc134","type":"function","z":"395a3554.de723a","name":"Initialize Brightness","func":"flow.set(\"brightness\", 1);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":530,"y":2260,"wires":[[]]},{"id":"f86f5636.3052b8","type":"inject","z":"395a3554.de723a","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":2260,"wires":[["84503c62.bc134"]]},{"id":"f946b30a.fa884","type":"server-state-changed","z":"395a3554.de723a","name":"Snooze Off","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jen_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":280,"y":2460,"wires":[["f97501e.6dd3c"],[]]},{"id":"f97501e.6dd3c","type":"change","z":"395a3554.de723a","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2460,"wires":[["27abffa3.cd23b"]]},{"id":"27abffa3.cd23b","type":"traffic","z":"395a3554.de723a","name":"Brighten the Lights","property_allow":"payload","filter_allow":"start","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"snooze","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":700,"y":2520,"wires":[["2b763c07.699914"]]},{"id":"2b763c07.699914","type":"function","z":"395a3554.de723a","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":910,"y":2520,"wires":[["1f321228.c07dae","a366672e.a13fe8"]]},{"id":"1f321228.c07dae","type":"api-call-service","z":"395a3554.de723a","name":"Turn On Wake Light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.jen_wake_light","data":"{\"rgb_color\":[255,200,100]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":2580,"wires":[[]]},{"id":"a366672e.a13fe8","type":"function","z":"395a3554.de723a","name":"Increment Brightness","func":"var brightness = flow.get('brightness')||0;\n\nif (brightness < 100) {\n    brightness = brightness + 1;\n    flow.set(\"brightness\", brightness);\n    \n    newmsg = {\"payload\":\"looping\"}\n    return newmsg;\n}\nelse {\n    newmsg = {\"payload\":\"done\"};\n    return newmsg;\n}","outputs":1,"noerr":0,"x":1410,"y":2520,"wires":[["4755a1f6.bbc05"]]},{"id":"4755a1f6.bbc05","type":"switch","z":"395a3554.de723a","name":"Is Loop Done?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":2580,"wires":[["b65e1701.a22358"]]},{"id":"71a7ed2b.b70c04","type":"comment","z":"395a3554.de723a","name":"Finish Alarm Sequence","info":"","x":1500,"y":2640,"wires":[]},{"id":"b65e1701.a22358","type":"link out","z":"395a3554.de723a","name":"FINISH ALARM SEQUENCE!","links":["850961fe.111c8","45deb28f.3cb32c","8e387c93.f5925"],"x":1385,"y":2620,"wires":[]},{"id":"8e387c93.f5925","type":"link in","z":"395a3554.de723a","name":"","links":["ed590c06.62219","b65e1701.a22358"],"x":625,"y":2580,"wires":[["95777d5a.8c9e3"]]},{"id":"95777d5a.8c9e3","type":"change","z":"395a3554.de723a","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"snooze","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2580,"wires":[["27abffa3.cd23b"]]},{"id":"5c669e8e.f6bee","type":"server-state-changed","z":"395a3554.de723a","name":"Snooze On","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jen_alarm_snooze","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":280,"y":2700,"wires":[["95777d5a.8c9e3","fff59e6d.c83ca","87d2ec48.fba7c"],[]]},{"id":"fff59e6d.c83ca","type":"function","z":"395a3554.de723a","name":"Reset to Brightness / Volume","func":"flow.set(\"brightness\", 10);\nflow.set(\"volume\",0.3);\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":850,"y":2700,"wires":[["4d2ec28.70ae23c"]]},{"id":"87d2ec48.fba7c","type":"delay","z":"395a3554.de723a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":2860,"wires":[["69ab7223.aeccec"]]},{"id":"69ab7223.aeccec","type":"api-call-service","z":"395a3554.de723a","name":"Snooze Off (Restart Loop)","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.jen_alarm_snooze","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":2860,"wires":[["7ec35521.f6b57c"]]},{"id":"7ec35521.f6b57c","type":"change","z":"395a3554.de723a","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2800,"wires":[[]]},{"id":"4d2ec28.70ae23c","type":"api-call-service","z":"395a3554.de723a","name":"Turn Off Wake Light","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.jen_wake_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":2700,"wires":[[]]},{"id":"30326695.1792ca","type":"inject","z":"395a3554.de723a","name":"Brightness ---->","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"brightness","payloadType":"flow","x":260,"y":2520,"wires":[["27abffa3.cd23b"]]},{"id":"de4f0dd5.80eb2","type":"server-state-changed","z":"395a3554.de723a","name":"Jen Home?","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jenhome","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":2100,"wires":[["d7455072.99532","5c6c58c9.bd7a18"],[]]},{"id":"d7455072.99532","type":"api-call-service","z":"395a3554.de723a","name":"Disable alarm if away","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_enable","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":2100,"wires":[[]]},{"id":"efa5e7cd.6fd7c8","type":"server-state-changed","z":"395a3554.de723a","name":"Reset Alarm","server":"543e2171.45071","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.jen_alarm_running","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":480,"y":2780,"wires":[["95777d5a.8c9e3","fff59e6d.c83ca","7ec35521.f6b57c"],[]]},{"id":"5c6c58c9.bd7a18","type":"api-call-service","z":"395a3554.de723a","name":"Turn off Alarm if running","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.jen_alarm_running","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":2160,"wires":[[]]},{"id":"e028d8e9.67c458","type":"api-call-service","z":"6a42a57e.13de6c","name":"Bedroom Dot","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_bedroom","entityId":"","data":"{\"message\":\"This is a weekly test.  This is only a test\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":1740,"wires":[[]]},{"id":"e81d9135.2b527","type":"api-call-service","z":"6a42a57e.13de6c","name":"Cave Dot","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_cave","entityId":"","data":"{\"message\":\"This is a weekly test.  This is only a test\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":1860,"wires":[[]]},{"id":"36870e7e.2dfff2","type":"api-call-service","z":"6a42a57e.13de6c","name":"Kitchen Dot","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_kitchen","entityId":"","data":"{\"message\":\"This is a weekly test.  This is only a test\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":1800,"wires":[[]]},{"id":"e8b1e86c.6d7ed8","type":"light-scheduler","z":"6a42a57e.13de6c","d":true,"settings":"d9290584.0e4fc","events":"[{\"start\":{\"dow\":6,\"mod\":780},\"end\":{\"dow\":6,\"mod\":795}}]","topic":"","name":"Weekly","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":140,"y":1840,"wires":[["70f3ce68.933d6"]]},{"id":"3920a3ce.f3354c","type":"inject","z":"6a42a57e.13de6c","name":"Manual Test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1760,"wires":[["861adcaf.91e4b","34529917.9d20f6","70a36d86.663eb4","f893c5f1.8e3888"]]},{"id":"861adcaf.91e4b","type":"api-current-state","z":"6a42a57e.13de6c","name":"Cave Do-not-Disturb?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alexa_barn_donotdisturb","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":1860,"wires":[["e81d9135.2b527"],[]]},{"id":"34529917.9d20f6","type":"api-current-state","z":"6a42a57e.13de6c","name":"Kitchen Do-not-Disturb?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alexa_kitchen_donotdisturb","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":1800,"wires":[["36870e7e.2dfff2"],[]]},{"id":"70a36d86.663eb4","type":"api-current-state","z":"6a42a57e.13de6c","name":"Bedroom Do-not-Disturb?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alexa_bedroom_donotdisturb","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":1740,"wires":[["e028d8e9.67c458"],[]]},{"id":"70f3ce68.933d6","type":"switch","z":"6a42a57e.13de6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1840,"wires":[["861adcaf.91e4b","34529917.9d20f6","70a36d86.663eb4","f893c5f1.8e3888"]]},{"id":"f893c5f1.8e3888","type":"api-current-state","z":"6a42a57e.13de6c","name":"Office Do-not-Disturb?","server":"543e2171.45071","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alexa_barn_donotdisturb","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":1920,"wires":[["b77cac7e.824b2"],[]]},{"id":"b77cac7e.824b2","type":"api-call-service","z":"6a42a57e.13de6c","name":"Office Dot","server":"543e2171.45071","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_office","entityId":"","data":"{\"message\":\"This is a weekly test.  This is only a test\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":1920,"wires":[[]]}]